.widget
	.widget-header
		i.icon-file
		h3 Make comparison using Pairwise method
	
	= form_for @evaluation, url: { action: :update_pairwise }, method: :put do |form|
		.well.well-widget-content
			.section
				.widget-content-title With respect to:
				h3 = @criterion.title

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Compare the following item pairs with respect to the criterion
						in the form below. 

			.section
				.section-title Pairwise Comparisons

				.btn-toolbar style="height: 28px; margin: 0"
					.btn-group.pull-right
						a.btn.dropdown-toggle data-toggle="dropdown" href="#"
							i.icon-asterisk
							'
							'  Scale: 
							span#scale-label Verbal Importance 
							' 
							span.caret
						ul.dropdown-menu
							li
								= link_to 'Verbal importance', "#", id: 'importance-scale'
							li
								= link_to 'Numeric (1-9)', "#", id: 'numeric-scale'
							li
								= link_to 'Free scale (1.0-9.0)', "#", id: 'free-scale'
							li
								= link_to 'Custom . . .', "#", class: 'disabled'

				- disable = can?(:update, @evaluation) ? 'no' : 'yes'
				fieldset data-disable=disable
					= form.hidden_field :ahp_scale, id:"ahp-scale", value: @evaluation.ahp_scale	
					- i = 0
					#pairwise-comparison 
						-@evaluation.pairwise_comparisons.each do |pair|
							- i += 1
							= form.fields_for :pairwise_comparisons, pair do |f|
								.pair-container
									.slider-container.slider-top
										- item1 = @criterion.leaf? ? find_alternative(pair.id1) : find_criterion(pair.id1)
										- title1 = item1.title
										label for="#{i}a-#{pair.id1}" = title1
										.pairwise-slider id="#{i}a" name="#{title1}" data-value="#{pair.value.nil? ? '' : pair.value[/^\d+\.*\d*$/].to_f}"

									.slider-container.slider-bottom
										- item2 = @criterion.leaf? ? find_alternative(pair.id2) : find_criterion(pair.id2)
										- title2 = item2.title
										label for="#{i}b-#{pair.id2}" = title2
										.pairwise-slider id="#{i}b" name="#{title2}" data-value="#{pair.value.nil? ? '' : pair.value[/\/([0-9.]+)/,1].to_f}"

									.level id="val-#{i}"  &nbsp;
									= f.hidden_field :id1, value: pair.id1
									= f.hidden_field :id2, value: pair.id2
									= f.hidden_field :value, id:"comparisons_#{i}", value: ""

			#toolbar.button-toolbar
				-back_url = (@criterion.leaf? ? criterion_ratings_path(@criterion) : criterion_path(@criterion))+"?p=#{@participation_id}"
				-if can? :update, @evaluation
					= submit_tag "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Cancel
				-else
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Close