.widget
	.widget-header
		i.icon-file
		h3 Compare alternatives using Pairwise method
	.well.well-widget-content
		.section
			.widget-content-title Compare alternatives with respect to:
			h3 = @objective.title

			.alert.alert-info
				a.close data-dismiss="alert" ×
				| Compare the following alternative pairs with respect to the objective
					in the form below. 

		.section
			.section-title Alternatives

			= form_for @objective, url: { action: 'update_pairwise_eval' } do |form|
				.btn-toolbar style="margin: 0"
					.btn-group.pull-right
						a.btn.dropdown-toggle data-toggle="dropdown" href="#"
							i.icon-asterisk
							'
							'  Scale: 
							span#scale-label Verbal Importance 
							' 
							span.caret
						ul.dropdown-menu
							li
								= link_to 'Verbal importance', "#", id: 'importance-scale'
							li
								= link_to 'Numeric (1-9)', "#", id: 'numeric-scale'
							li
								= link_to 'Numeric (1.0-9.0)', "#", id: 'free-scale'
							li
								= link_to 'Custom . . .', "#"

				h3#explain-pairwise Pairwise Comparison
				br
				.section			
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Compare the following pairs. Move the slider of the alternative that you think is more important than the other.

					fieldset#pairwise-comparison			
						- i=0
						-@objective.pairwise_comparisons.each do |pair|
							- i += 1
							= form.fields_for :pairwise_comparisons, pair do |f|
								.pair-container
									.slider-container.slider-top
										- title1 = @alternatives.find(pair.id1).title
										label for="#{i}a-#{pair.id1}" = title1
										/.pairwise-slider id="#{i}a" name="#{title1}" data-value="#{pair.value.nil? ? '' : pair.value[/^\d+\.*\d*$/].to_f}"
										/ This part is just for compatibility with old version
										/ It will be replaced with the code above
										.pairwise-slider id="#{i}a" name="#{title1}" data-value="#{pair.value.nil? ? ( @first_slider_values.nil? ? '' : @first_slider_values[i-1] ) : pair.value[/^\d+\.*\d*$/].to_f}"

									.slider-container.slider-bottom
										- title2 = @alternatives.find(pair.id2).title
										label for="#{i}b-#{pair.id2}" = title2
										/.pairwise-slider id="#{i}b" name="#{title2}" data-value="#{pair.value.nil? ? '' : pair.value[/\/([0-9.]+)/,1].to_f}"
										/ This part is just for compatibility with old version
										/ It will be replaced with the code above
										.pairwise-slider id="#{i}b" name="#{title2}" data-value="#{pair.value.nil? ? ( @second_slider_values.nil? ? '' : @second_slider_values[i-1] ) : pair.value[/\/([0-9.]+)/,1].to_f}"

									.level id="val-#{i}"  &nbsp;
									= f.hidden_field :id1, value: pair.id1
									= f.hidden_field :id2, value: pair.id2
									= f.hidden_field :value, id:"comparisons_#{i}", value: ""

				br
				#toolbar.button-toolbar
					= submit_tag "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							article_evaluations_path(@article_id, @objective.id), class: 'btn'

