.widget
	.widget-header
		i.icon-file
		h3 Alternative ratings
	.well.well-widget-content
		.section
			.widget-content-title Alternative ratings with respect to:
			h3 = @objective.title
			h5 Using Direct method
		.section
			.section-title Alternatives
			table.table.table-condensed.table-bordered.objectives-table
				thead
					tr
						th No.
						th Title
						th
						th.number Rating
						th.number Normalized rating
				tbody
					- @objective.evaluations.each do |evaluation|
						tr
							- alt = @alternatives.find(evaluation.alternative_id)
							td.narrow = "#{alt.position + 1}"
							td = alt.title
							td
								-unless @ratio.nil?
									.progress
										.bar style="width: #{evaluation.value_n.nil? ? 0 : number_to_percentage(evaluation.value_n*@ratio, precision: 1)}"
							td.number 
								div = evaluation.value
							td.number 
								div = number_to_percentage(evaluation.value_n*100, precision: 1)
					tr
						td
						td
						td
							strong Total
						td.number
							#total = "#{number_with_precision(@objective.total_r, precision: 1)}"
						td.number
							#total-normalized = "#{number_to_percentage(100.0, precision: 1)}"
			br
			#toolbar.button-toolbar
				= link_to '<i class="icon-edit"></i> Edit'.html_safe, 
						direct_evaluate_article_evaluations_path(@article.id, @objective.id),
						remote: true,
						class: 'btn btn-primary'

		javascript:
		  $('.objectives-table').dataTable( {
		    "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
		    "bPaginate": false,
		    "bLengthChange": false,
		    "bFilter": false,
		    "bSort": true,
		    "bInfo": false,
		  } );
		  $.extend( $.fn.dataTableExt.oStdClasses, {
		      "sSortAsc": "header headerSortDown",
		      "sSortDesc": "header headerSortUp",
		      "sSortable": "header"
		  } );