- can_update_comparison = can? :update, @evaluation
.widget
	.widget-header
		i.icon-file
		h3 Ranking: Make comparison using MAGIQ method
	= form_for @evaluation, url: { action: :update_rank } do |form|
		= form.hidden_field :rank_method, value:Evaluation::RANK_METHODS['ROC']
		.well.well-widget-content
			.section
				.widget-content-title With respect to:
				h3 = @criterion.title
			.section
				.section-title 
					= @criterion.leaf? ? 'Alternatives' : 'Sub-criteria'
					|  Ranking
				-if can_update_comparison
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Assign rankings by dragging the items to the desired ranking position. In case of tied rankings, put the items in the same ranking position.

				table.table
					tr
						th = @criterion.leaf? ? 'Alternatives' : 'Sub-criteria'
						th Rank
					tr
						td
							#sort-section
								ul.sortable#sortable
									-i = 0
									-@rank_comparisons.each do |mc|
										/- item = @criterion.leaf? ? find_alternative(mc.id1) : find_criterion(mc.id1)							
										-if mc.rank.nil?
											-i += 1
											li.rank-item id='#{mc.id}'
												strong style="margin-left:5px" = mc.title
												= form.fields_for :rank_comparisons, mc do |f|
													= f.hidden_field :id1, value: mc.id1
													= f.hidden_field :type, value: mc.type
													= f.hidden_field :title, value: mc.title
													= f.hidden_field :pos, value: mc.pos
													= f.hidden_field :rank, class:'order'

						td
							#ranks.ui-widget-content style="border:0"
								-(1..@num_ranks).each do |i|
									.rank
										.thumbnail
											h2.pull-left = "# #{i}"
											ul.droppable data-rank="#{i}"
												-if @rank_comparisons.where(rank:i).exists? 
													- @rank_comparisons.where(rank:i).each do |mc|
														-if mc && !mc.rank.nil?
															li.rank-item id='#{mc.id}'
																strong style="margin-left:5px" = mc.title
																= form.fields_for :rank_comparisons, mc do |f|
																	= f.hidden_field :id1, value: mc.id1
																	= f.hidden_field :type, value: mc.type
																	= f.hidden_field :title, value: mc.title
																	= f.hidden_field :pos, value: mc.pos
																	= f.hidden_field :rank, class:'order',
																			value: mc.rank.nil? ? i : mc.rank
															
												-else
													li.placeholder &nbsp;
					tr
						td
						td
							h4 Available Drop Demo
							p Drag the blue boxes, the available drop targets turn yellow while dragging.
							.drop
							.drop
							.drop
							.drag style="left:20px;"
							.drag style="left:100px;"
							.drag style="left:180px;"

			#toolbar.button-toolbar
				-back_url = (@criterion.leaf? ? criterion_ratings_path(@criterion) : criterion_path(@criterion))+"?p=#{@participation_id}"
				-if can_update_comparison
					= submit_tag "Done", class: 'btn btn-primary', disabled:true
					| &nbsp;
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Cancel
				-else
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Close


 
