- content_for :javascript do
	= javascript_include_tag "evaluation.js"

- content_for :left_frame do
	= render 'tree_leaves', locals: { article: @article }

#objective_box
	- case @selected_method
	- when "1"
		- content_for :javascript do
			= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
			= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
		= render 'magiq_eval_form'
	- when "2"
		= render 'direct_eval_form'
	- when "3"
		- content_for :javascript do
			= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
			= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
			= javascript_include_tag "ui/pairwise_slider.js"
		= render 'pairwise_eval_form'
