- content_for :javascript do
	= javascript_include_tag "evaluation.js"
	
- content_for :left_frame do
	= render partial: 'tree_leaves', locals: { article: @article }

#objective_box
	= render 'ratings_table'