.widget
	.widget-header
		i.icon-file
		h3 Compare alternatives using Direct method
	.well.well-widget-content
		.section
			.widget-content-title Compare alternatives with respect to:
			h3 = @objective.title

		.section
			.section-title Alternatives
			.alert.alert-info
				a.close data-dismiss="alert" ×
				| Put the evaluation of each alternative with respect to the objective
					in the form below. 
					The evaluation will be normalized so that the total is equal to 100%.
			.btn-toolbar style="margin: 0"
				.btn-group.pull-right
					a.btn.btn-primary.dropdown-toggle data-toggle="dropdown" href="#"
						' Fill in with properties
						span.caret
					ul.dropdown-menu
						-@article.common_properties.each do |property|
							li 
								= link_to property, "#", remote: true
			br
			| &nbsp;
			= form_for @objective, url: { action: 'update_direct_eval' } do |form|
				table.table.table-condensed.table-bordered.objectives-table
					thead
						tr
							th No.
							th Title
							th.number Rating
							th.number Normalized rating
					tbody#table-body
						- @objective.evaluations.each do |evaluation|
							tr
								= form.fields_for :evaluations, evaluation do |f|
									- alt = @alternatives.find(evaluation.alternative_id)
									= f.hidden_field :alternative_id, value: evaluation.alternative_id
									td.narrow = "#{alt.position + 1}" unless alt.position.nil?
									td.wide = alt.title
									td.number = f.text_field :value, class:'input-small'
									td.number 
										input(class='input-small uneditable_input' type='text' value="#{evaluation.value_n.nil? ? '-' : number_to_percentage(evaluation.value_n*100, precision: 1)}" disabled)
					/ tfoot style="font-weight: bold"
					/ 	tr
					/ 		td colspan=2 style="text-align:right; padding-right: 27px"
					/ 			strong Total
					/ 		td.number
					/ 			#total = "#{number_with_precision(@objective.total_r, precision: 2)}"
					/ 		td.number
					/ 			#total-normalized = "#{number_to_percentage(100.0, precision: 2)}"

				br
				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							article_evaluations_path(@article_id, @objective.id), class: 'btn'

