.widget
	.widget-header
		i.icon-file
		h3 Compare alternatives using MAGIQ method
	.well.well-widget-content
		.section
			.widget-content-title Compare alternatives with respect to:
			h3 = @objective.title

		.section
			.alert.alert-info
				a.close data-dismiss="alert" ×
				| Arrange the following alternatives from the most desired to the least desired with respect to the objective by dragging the alternative to the desired position.
		
		.section
			.section-title Alternatives
			br

			= form_for @objective, url: { action: 'update_magiq_eval' } do |form|
				ul#sortable
					-i = 0
					-@objective.evaluations.asc(:magiq_order).each do |evaluation|
						-i += 1
						li.ui-state-default id='#{evaluation.id}'
							strong.badge.badge-inverse = i
							strong style="margin-left:5px" = @alternatives.find(evaluation.alternative_id).title
							i.icon-align-justify.pull-right
							= form.fields_for :evaluations, evaluation do |f|
								= f.hidden_field :magiq_order, 
										value: evaluation.magiq_order,
										class:'order'
								= f.hidden_field :alternative_id, value: evaluation.alternative_id

				br
				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							article_evaluations_path(@article_id, @objective.id), class: 'btn'

javascript:
	$(function() {
		$("#sortable").sortable({
    	update: function(event, ui){  
	              $('ul li').each(function(){
	              $(this).find('strong.badge').html($(this).index()+1);
	              $(this).find('input.order').attr('value', $(this).index()+1);
	              })
             	}
		});
		$("#sortable").disableSelection();
		});