.widget
	.widget-header
		i.icon-file
		h3 Make comparison using Pairwise method
	
	= form_for @evaluation, url: { action: :update_pairwise }, method: :put do |form|
		.well.well-widget-content
			.section
				.widget-content-title With respect to:
				h3 = @criterion.title

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Compare the following item pairs with respect to the criterion
						in the form below. 

			.section
				.section-title Pairwise Comparisons

				.btn-toolbar style="height: 28px; margin: 0"
					.btn-group.pull-right
						a.btn href="#"
							'  Scale: 
							span#scale-label Verbal Scale 
						button.btn.dropdown-toggle data-toggle="dropdown" 
							span.caret
						ul.dropdown-menu
							-if @criterion.leaf?
								li
									= link_to 'Verbal scale', "#", id: 'level-scale-5'
								li
									= link_to 'Verbal scale (9 levels)', "#", id: 'level-scale-9'
							-else
								li
									= link_to 'Verbal scale', "#", id: 'importance-scale-5'
								li
									= link_to 'Verbal scale (9 levels)', "#", id: 'importance-scale-9'
							li
								= link_to 'Numeric (1-9)', "#", id: 'numeric-scale'
							li
								= link_to 'Free scale (1.0-9.0)', "#", id: 'free-scale'
							/ li
							/ 	= link_to 'Custom . . .', "#", class: 'disabled'

				- disable = can?(:update, @evaluation) ? 'no' : 'yes'
				fieldset data-disable=disable
					= form.hidden_field :ahp_scale, id:"ahp-scale", value: @evaluation.ahp_scale	
					- i = 0
					#pairwise-comparison 
						-@evaluation.pairwise_comparisons.each do |pair|
							- i += 1
							= form.fields_for :pairwise_comparisons, pair do |f|
								.pair-container
									.slider-container.slider-top-section
										.option-left data-jam="-1" data-pair="#{i}" data-id="#{pair.id1}"
											- item1 = @criterion.leaf? ? find_alternative(pair.id1) : find_criterion(pair.id1)
											- title1 = item1.title
											label for="#{i}a-#{pair.id1}" = title1
										.option-right data-jam="1" data-pair="#{i}" data-id=="#{pair.id2}"
											- item2 = @criterion.leaf? ? find_alternative(pair.id2) : find_criterion(pair.id2)
											- title2 = item2.title
											label for="#{i}b-#{pair.id2}" = title2
									.slider-container.slider-middle-section
										.marker
											label id="level-l-#{i}" data-pair="#{i}" &nbsp;
										.marker
											label id="level-r-#{i}" data-pair="#{i}" &nbsp;
									.slider-container.slider-bottom-section
										.pairwise-slider data-pair="#{i}" name="#{title1}" data-value="#{pair.value.nil? ? 0 : pair.slider_value}"

									/.level id="val-#{i}"  &nbsp;
									= f.hidden_field :id1, value: pair.id1
									= f.hidden_field :id2, value: pair.id2
									= f.hidden_field :value, id:"comparison-#{i}", value: ""

			#notes-section.collapse
				.section style="margin-top:0px"
					.section-title Notes
					= form.text_area :ahp_notes, class: 'input-xxlarge wysihtml5', rows: 10

			#toolbar.button-toolbar
				-back_url = (@criterion.leaf? ? criterion_ratings_path(@criterion) : criterion_path(@criterion))+"?p=#{@participation_id}"
				-if can? :update, @evaluation
					= submit_tag "Save", class: 'btn btn-primary', disabled:true, disable_with: 'Please wait...'
					| &nbsp;
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Cancel
					.pull-right
						= link_to "#", data: {toggle:"collapse", target:"#notes-section"}, class: 'btn' do
							i.icon-edit
							'
							|  Add notes
				-else
					button.btn disabled=true Save
					' 
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Close