- can_update_comparison = can? :update, @evaluation
.widget
	.widget-header
		i.icon-file
		h3 Make comparison using MAGIQ method
	= form_for @evaluation, url: { action: :update_rank }, method: :put do |form|
		= form.hidden_field :rank_method, value:Evaluation::RANK_METHODS['ROC']
		.well.well-widget-content
			.section
				.widget-content-title With respect to:
				h3 = @criterion.title
			.section
				.section-title 
					= @criterion.leaf? ? 'Alternatives' : 'Sub-criteria'
					|  Ranking
				-if can_update_comparison
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Assign rankings by dragging the items to the desired ranking position. In case of tied rankings, put the items in the same ranking position.
				#error-box
				table.table
					tr
						th = @criterion.leaf? ? 'Alternatives' : 'Sub-criteria'
						th Rank
					tr
						td
							#sort-section
								ul.sortable#sortable
									-@rank_comparisons.each do |mc|							
										-if mc.rank.nil?

											li.rank-item id='#{mc.id}'
												strong style="margin-left:5px" = mc.title
												= form.fields_for :rank_comparisons, mc do |f|
													= f.hidden_field :id1, value: mc.id1
													= f.hidden_field :title, value: mc.title
													= f.hidden_field :pos, value: mc.pos
													= f.hidden_field :rank, class:'order'

						td
							#ranks.ui-widget-content style="border:0"
								/ take the larger of the rank (if any) or # of criteria/alternatives
								- n = [@rank_comparisons.max(:rank) || 0, @num_ranks].max
								- (1..n).each do |i|
									.rank
										.thumbnail
											h2.pull-left = "# #{i}"
											ul.droppable data-rank="#{i}"
												-if @rank_comparisons.any? {|c| c.rank==i }
													- @rank_comparisons.map{|c| c if c.rank==i }.compact.each do |mc|
														-if mc && !mc.rank.nil?
															li.rank-item id='#{mc.id}'
																strong style="margin-left:5px" = mc.title
																= form.fields_for :rank_comparisons, mc do |f|
																	= f.hidden_field :id1, value: mc.id1
																	= f.hidden_field :title, value: mc.title
																	= f.hidden_field :pos, value: mc.pos
																	= f.hidden_field :rank, class:'order',
																			value: mc.rank.nil? ? i : mc.rank
															
												-else
													li.placeholder &nbsp;

			#adjust-section.collapse
				.section
					.widget-content-title Settings
					table.table.table-condensed.rank-table
						tr
							th colspan=3 Choose weight distribution method

						tr
							th.narrow 
								label.radio
									= radio_button "evaluation", "rank_method", Evaluation::RANK_METHODS[:rank_order_centroid], checked:@evaluation.rank_method==Evaluation::RANK_METHODS[:rank_order_centroid]
									| Rank Order Centroid
							th.narrow 
								label.radio
									= radio_button "evaluation", "rank_method", Evaluation::RANK_METHODS[:rank_reciprocal], checked:@evaluation.rank_method==Evaluation::RANK_METHODS[:rank_reciprocal]
									| Rank Reciprocal
							th.narrow 
								label.radio
									= radio_button "evaluation", "rank_method", Evaluation::RANK_METHODS[:rank_sum], checked:@evaluation.rank_method==Evaluation::RANK_METHODS[:rank_sum]
									| Rank Sum
							/ th.narrow 
							/ 	label.radio
							/ 		= radio_button "evaluation", "rank_method", Evaluation::RANK_METHODS[:rank_exponential], checked:@evaluation.rank_method==Evaluation::RANK_METHODS[:rank_exponential]
							/ 		| Rank Exponential

						tr.control-groups
							td.narrow
								ul.dist-table
									- (0..@num_ranks-1).each do |i|
										li
											.progress
												.bar style="width: #{@roc_table[i]*100}%"
												.bar-label = number_to_percentage @roc_table[i]*100, precision: 0
							td.narrow
								ul.dist-table
									- (0..@num_ranks-1).each do |i|
										li
											.progress
												.bar style="width: #{@rank_reciprocal_table[i]*100}%"
												.bar-label = number_to_percentage @rank_reciprocal_table[i]*100, precision: 0
							td.narrow
								ul.dist-table
									- (0..@num_ranks-1).each do |i|
										li
											.progress
												.bar style="width: #{@rank_sum_table[i]*100}%"
												.bar-label = number_to_percentage @rank_sum_table[i]*100, precision: 0
							/ td.narrow
							/ 	ul.dist-table
							/ 		- (0..@num_ranks-1).each do |i|
							/ 			li
							/ 				.progress
							/ 					.bar style="width: #{@rank_exponential_table[i]*100}%"
							/ 					.bar-label = number_to_percentage @rank_exponential_table[i]*100, precision: 0

			#notes-section.collapse
				.section style="margin-top:0px"
					.section-title Notes
					= form.text_area :rank_notes, class: 'input-xxlarge wysihtml5', rows: 10

			#toolbar.button-toolbar
				-back_url = (@criterion.leaf? ? criterion_ratings_path(@criterion) : criterion_path(@criterion))+"?p=#{@participation_id}"
				-if can_update_comparison
					= submit_tag "Done", class: 'btn btn-primary', disabled:true, disable_with: 'Please wait...'
					| &nbsp;
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Cancel
					.pull-right
						= link_to "#", data: {toggle:"collapse", target:"#notes-section"}, class: 'btn' do
							i.icon-edit
							'
							|  Add notes
						a.btn data-toggle="collapse" data-target="#adjust-section" href="#"
							i.icon-wrench
							' 
							|  Settings
				-else
					button.btn disabled=true Save
					' 
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Close

/ -if can_update_comparison
/ 	javascript:
/ 		$(function() {
/ 			if ($("ul#sortable").children("li").length==0) 
/ 				$("input:submit[name=commit]").attr("disabled", false);

/ 			$("li.rank-item").draggable({
/ 				appendTo: "body",
/ 				helper: "clone",
/ 				cursor: "move",
/ 				revert: "invalid",
/ 				create: function() {
/ 					$(this).find("strong").before("<i class='icon-reorder'></i>")
/ 				}
/ 			});
/ 			$("#ranks div.thumbnail ul").droppable({
/ 				accept: "li.rank-item",
/ 				activeClass: "ui-state-highlight",
/ 				drop: function(event, ui) {
/ 					$(this).find( ".placeholder" ).remove();
/ 					ui.draggable.clone().appendTo(this);
/ 					$(this).find("input.order").attr("value", $(this).data("rank"));
/ 	 				$(ui.draggable).parent("ul.droppable").has("li:only-child").append("<li class='placeholder'>&nbsp;</li>");
/ 					ui.draggable.remove();
/ 	 				$("li.rank-item").draggable({
/ 						appendTo: "body",
/ 						helper: "clone",
/ 						cursor: "move",
/ 						revert: "invalid"
/ 					});
/ 					if ($("ul#sortable").children("li").length==0) 
/ 						$("input:submit[name=commit]").attr("disabled", false)
/ 					else
/ 						$("input:submit[name=commit]").attr("disabled", true);
/ 				}
/ 			});
			

/ 		});
