.widget
	.widget-header
		i.icon-file
		h3 Alternative ratings
	.well.well-widget-content
		.section
			.widget-content-title Rate alternatives with respect to:
			h3 = @objective.title
		.section
			.section-title Alternatives
			-unless @objective.method.nil?
				h5.pull-right = "Comparison done with #{ANALYSIS_METHODS[@objective.method]} method"
			table.table.table-condensed.table-bordered.objectives-table
				thead
					tr
						th No.
						th Title
						th Ratio
						th.number Rating
						th.number Normalized rating
				tbody
					- @alternatives.each do |alt|
						tr
							- evaluation = @objective.evaluations.where(alternative_id: alt.id).first
							td.narrow = "#{alt.position + 1}"
							td = alt.title
							td.number
								-unless @ratio.nil? or evaluation.nil?
									.progress
										.bar style="width: #{evaluation.value_n.nil? ? 0 : number_to_percentage(evaluation.value_n*@ratio, precision: 1)}"
							td.number 
								-unless evaluation.nil?
									div = "#{number_with_precision(evaluation.value, precision: 2)}"
							td.number 
								-unless evaluation.nil?
									div = number_to_percentage(evaluation.value_n*100, precision: 1)

			br
		#toolbar.button-toolbar
			= form_tag compare_article_evaluations_path(@article.id, @objective.id), class:'form-horizontal' do
				control-group.pull-right
					= submit_tag "Compare", class:'btn btn-primary'
				control-group
					label.control-label for='comparison_method' Comparison method:&nbsp;
					= select_tag 'comparison_method', options_for_select(@comparison_methods, "#{@objective.method}"), prompt: 'Select a method'

	/ javascript:
	/   $('.objectives-table').dataTable( {
	/     "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
	/     "bPaginate": false,
	/     "bLengthChange": false,
	/     "bFilter": false,
	/     "bSort": true,
	/     "bInfo": false,
	/   } );
	/   $.extend( $.fn.dataTableExt.oStdClasses, {
	/       "sSortAsc": "header headerSortDown",
	/       "sSortDesc": "header headerSortUp",
	/       "sSortable": "header"
	/   } );