#sidepanel.well.well-sidebar.well-tree
  .section
    .section-title Criteria Tree
    = content_tag "div", id: "objective-leaves", data: {article: @article_id} do
      = image_tag "ajax-loader.gif"
