- content_for :javascript do
	= javascript_include_tag "evaluation.js"
	
- content_for :left_frame do
	= render 'tree_leaves', locals: { article: @article }

#objective_box
	.widget
		.widget-header
			i.icon-file
			h3 Alternative ratings
		.well.well-widget-content
			.section
				.widget-content-title Compare alternatives

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Select a criterion on the left
			.section
				.section-title Alternatives
				- if @alternatives.nil?
					.alert.alert-error
						| You don't have any alternative yet.
						br
						a.btn href=article_alternatives_path(@article.id)
							i.icon-list
							span  Add alternatives
				-else
					table.table.table-condensed.table-bordered.objectives-table
						thead
							tr
								th No.
								th Title
						tbody
							- @alternatives.each do |alt|
								tr
									td.narrow = "#{alt.position + 1}"
									td = alt.title