- provide :title, 'Pairwise Comparison'

- content_for :javascript do
	= javascript_include_tag "ui/pairwise_slider.js"
	-if @criterion.leaf?
		= javascript_include_tag "ratings.js"
	-else
		= javascript_include_tag "criterion.js"
	
- content_for :left_frame do
	-if @criterion.leaf? 
		= render partial: 'ratings/sidepanel', locals: { root_id: @article.criteria.root.id.to_s }
	-else
		= render partial: 'criteria/sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	-unless @evaluation.valid
		.alert.alert-error
			a.close data-dismiss="alert" ×
			| One or more criterions have been deleted. You may want to reevaluate all comparisons.
	= render 'pairwise_form'
