- content_for :javascript do
	= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
	= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
	= javascript_include_tag "evaluation.js"
	= javascript_include_tag "ui/pairwise_slider.js"

- content_for :left_frame do
	= render partial: 'tree_leaves', locals: { article: @article }

#objective_box
	= render 'pairwise_eval_form'

