-provide :title, 'Manage / Edit Featured Articles'
title Manage / Edit Featured Articles

- content_for :left_frame do
  = render 'admin/manage/sidepanel'
  
.widget
	.widget-header.admin
		i.icon-list
		h3 Editing featured article
	.well.well-widget-content
		.widget-content-title
			| Feature 
		= form_for @featured_article, url: manage_featured_article_path(@featured_article) do |f|
			== render partial: 'form', locals: { f: f }