-provide :title, 'Manage / Featured Articles'
title Manage / Featured Articles

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
  .widget-header.admin
    i.icon-list
    -unless params[:expired]=="1"
      h3 Current featured articles
    -else
      h3 Old featured articles
  .well.well-widget-content
    .widget-content-title
      | Articles

    table.table.table-condensed
      tr
        th Article
        th Start date
        th Expire date
        th colspan=3 Actions

      - @featured_articles.each do |fa|
        tr
          td = fa.article.title
          td = fa.start_date
          td = fa.expire_date
          td = link_to 'Show', manage_featured_article_path(fa), class: 'btn btn-mini'
          td = link_to 'Edit', edit_manage_featured_article_path(fa), class: 'btn btn-mini'
          td = link_to 'Destroy', manage_featured_article_path(fa), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-mini'

    br
    #toolbar.button-toolbar
      = link_to 'New Entry', new_manage_featured_article_path, class: 'btn btn-primary'
      .pull-right
        -if params[:expired]=="1"
          = link_to "Show current", manage_featured_articles_path, class: 'btn'
        -else
          = link_to "Show old", manage_featured_articles_path+"?expired=1" , class: 'btn'