-provide :title, 'Manage / New Featured Articles'
title Manage / New Featured Articles

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
	.widget-header.admin
		i.icon-list
		h3 New featured article
	.well.well-widget-content
		.widget-content-title
			| Feature
		= form_for @featured_article, url: manage_featured_articles_path do |f|
			== render partial: 'form', locals: { f: f }