-provide :title, 'Manage / Featured Article'
title Manage / Featured Article

- content_for :left_frame do
  = render 'admin/manage/sidepanel'
  
.widget
  .widget-header.admin
    i.icon-list
    h3 Featured article
  .well.well-widget-content
    .widget-content-title Feature
    dl.dl-horizontal
      dt Article
      dd = @featured_article.article.title.nil? ? '-' : @featured_article.article.title
      dt Start date
      dd = @featured_article.start_date.nil? ? '-' : @featured_article.start_date
      dt Expire date
      dd = @featured_article.expire_date.nil? ? '-' : @featured_article.expire_date

    #toolbar.button-toolbar
      = link_to 'Edit', edit_manage_featured_article_path(@featured_article), class: 'btn btn-primary'
      ' 
      = link_to 'Back', manage_featured_articles_path, class: 'btn'