-provide :title, "Participant: #{@participant.username}"
title Participant: #{@participant.username}

- unless pjax_request?
  - content_for :left_frame do
    = render partial: 'articles/article_info'

.widget
  .widget-header
    i.icon-file
    h3 Participant
  .well.well-widget-content
    .widget-content-title Properties
    div style="overflow: auto"
      
        thead
          tr
            th No
            th Avatar
            th Name
            th Status
            th Weight
            - if @article.allow_edit? current_user
              th Action
        tbody
          - i=0
          - @participants.each do |p|
            tr
              td = i+=1
              td 
                img src=gravatar_url_for(p.user, size: 20)
              td = p.username
              td = p.status
              td = p.weight
              - if @article.allow_edit? current_user
                td = link_to "Edit", edit_article_participation_path(@article.id, p.id), class: "btn"
    br
    -if @article.allow_edit? current_user
     #toolbar.button-toolbar
       = link_to "Invite new participants", article_invite_path(@article.id), class: "btn"
       '
       = link_to "Assign weights", "#", class: "btn"

