-provide :title, "Invite participants"
title Invite participants

- unless pjax_request?
  - content_for :left_frame do
    = render partial: 'articles/article_info'

.widget
  .widget-header
    i.icon-file
    h3 Invite participants
  = form_for @article, url: send_invitation_article_participations_path(@article.slug), class:'form-inline', method: :post do |form|
    .well.well-widget-content
      .widget-content-title Enter names to invite
      .well    
        = text_field_tag :user_email, "", class: 'span4', id: 'autocomplete-field'

      table.table.table-condensed.table-bordered.table-striped.props-table
        thead
          tr
            th Name
            th Email
            th &nbsp;
        = form.fields_for :participations do |f|
          tbody#list
            td = f.text_field :user_id
            td = f.text_field :username
            td &nbsp;

      #toolbar.button-toolbar
        = submit_tag "Send invitation", class: "btn btn-primary"
        '
        = link_to "Cancel", "#", class: "btn"

javascript:
  $(function() {
    function log(item) {
      $("#autocomplete-field").val("");
      //$("#list-row").scrollTop(0);
      $("#list")
        .after("<tr class='entry'><td>"+item.value+"</td><td>"+item.email+"<input name='users["+item.id+"][email]' type='hidden' value='"+item.email+"'</td>"
        +"<td><a class='btn btn-mini btn-warning remove-btn'>Remove</a></td></tr>");
    }

    $("#autocomplete-field").autocomplete({
      source: "/users.json",
      minLength: 2,
      select: function(event, ui) {
        log(ui.item);
      }
    });
    $(".remove-btn").live("click", function(){$(this).parents('.entry').remove()});
  });
      