.avatars
	-participations.all_active.each do |participation|
		-unless participation.user == exclude_user
			ul
				li 
					a.user-avatar-small data-skip=true href=url+"?p=#{participation.id}"
						img src=participation.user.gravatar_url(size: 20) rel="tooltip" data-original-title="#{participation.username}" 

javascript:
	$('.avatars').tooltip({
		selector: 	"img[rel=tooltip]",
		placement: 	"top",
		trigger: 	"hover"
	})