-provide :title, 'Participant Profile'
title Participant Profile

- unless pjax_request?
  - content_for :left_frame do
    = render partial: 'articles/article_sidepanel'

.widget
  .widget-header
    i.icon-file
    h3 Participant Profile for #{@participation.username}
  .well.well-widget-content
    .widget-content-title Profile
    -if @participation.waiting_approval?
    	-url = approve_article_participation_path(@article.slug, @participation.id)
    	-method = :post
    -else
    	-url = article_participation_path(@article.slug)
    	-method = :put
    = form_for @participation, url: url, html: { method: method, class:'form-horizontal' } do |form|
			.control-group
				= form.label "Name", class: "control-label"
				.controls
					span.input-xlarge.uneditable-input = form.object.username
			-if @participation.waiting_approval?
				.control-group.error
					= form.label :status, class: "control-label"
					.controls
						span.input-xlarge.uneditable-input = form.object.status
						span.help-inline The user has requested to participate
					= hidden_field_tag :notification, Notification.where(model_id:@participation.id).first.id
			-else
				.control-group
					= form.label :status, class: "control-label"
					.controls
						span.input-xlarge.uneditable-input = form.object.status
			-unless @participation.declined?
				/ .control-group
				/ 	= form.label :weight, class: "control-label"
				/ 	.controls
				/ 		=' form.text_field :weight, class: 'input-small'
				.control-group
					= form.label :active, class: "control-label"
					.controls
						=' form.check_box :active
				.control-group
					= form.label :permissions, class: "control-label"
					.controls
						- Participation::PERMISSIONS.each do |permission|
							label.checkbox.inline
								
								//= form.check_box :permissions, { name: "#{form.object_name}[permissions][]" }, permission 
								// The code above doesn't work right. See http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-check_box

								= check_box_tag "#{form.object_name}[permissions][]", permission, @participation.permissions.include?(permission)
								= form.label permission, rel:"tooltip", 'data-original-title' => "#{Participation::PERMISSIONS_DESCRIPTIONS[permission.to_sym]}"
			#toolbar.button-toolbar
				-if @participation.waiting_approval?
					= form.submit 'Approve', class:"btn btn-primary"
					= form.submit 'Reject', class:"btn btn-primary"
				-else
					-unless @participation.declined?
						= form.submit 'Save', class:"btn btn-primary"
				= link_to article_participations_path(@article.slug), class:"btn" do
					i.icon-remove
					|  Close
				= link_to article_participation_path(@article.slug, @participation), method: :delete, class: 'btn btn-danger pull-right' do
					i.icon-trash
					|  Delete

javascript:
	$('.checkbox').tooltip({
		selector: 	"label[rel=tooltip]",
		placement: 	"bottom",
		trigger: 		"hover"
	})