-provide :title, 'Participants'
title Participants

- unless pjax_request?
  - content_for :left_frame do
    = render partial: 'articles/article_sidepanel'

.widget
  .widget-header
    i.icon-user
    h3 Participants
  .well.well-widget-content
    .widget-content-title List of participants
    div style="overflow: auto"
      table.table.table-condensed.table-bordered.table-striped.props-table
        thead
          tr
            th Name
            th Status
            th Active?
            /th Weight
            th Actions

        tbody
          - i=0
          - @article.participations.each do |p|
            tr
              td.user-avatar
                = gravatar_for(p.user, size: 20)
                '
                = p.username
              td 
                = p.status
              td 
                -if p.active?
                  i.icon-ok
                -else
                  i.icon-remove
              /td = p.weight
              td
                -if can?(:update, p)
                  =' link_to edit_article_participation_path(@article.slug, p.id), class:'btn btn-small' do
                    i.icon-edit
                    |  Edit
                  / -if p.waiting_approval?
                  /   ' 
                  /   -notification = Notification.where(model:'Participation',model_id:p.id).first
                  /   = link_to notification, class:'btn' do
                  /     i.icon-envelope
                /-elsif can? :read, p
                = link_to article_participation_path(@article.slug, p.id), class:'btn btn-small' do
                  i.icon-eye-open
                  |  View
    br
    #toolbar.button-toolbar
      -if can? :create, Participation.new(article_id: @article.id)
        = link_to "Invite new participants", invite_article_participations_path(@article.slug), class: "btn btn-primary"
        '
        /= link_to "Assign weights", "#", class: "btn"
      -else
        = link_to "Close", @article, class: "btn"
      /span style="line-height:28px" &nbsp;
      .pull-right
        = link_to article_participations_path(@article.slug), class:'btn btn-icon' do
          i.icon-refresh
      span.pull-right style="margin:4px 9px 0 0"
        = check_box_tag "toggle-hide", 0
        |  Hide inactive


  