-provide :title, "Request to join"
title Request to join

- unless pjax_request?
  - content_for :left_frame do
    = render partial: 'articles/article_sidepanel'

.widget
  .widget-header
    i.icon-file
    h3 Request to join
  = form_for @participation, { url: send_request_article_participations_path(@article.slug), class:'form-inline'} do |form|
    .well.well-widget-content
      br
      = form.label 'Message to send to the article owner'
      .controls
        = form.hidden_field :user_id, value: current_user.id
        = form.hidden_field :username, value: current_user.name
        = form.hidden_field :requesting, value: true
        = fields_for @notification do |f|
          = f.text_area :body, class: 'span5', rows: 5
      br
      #toolbar.button-toolbar
        = form.submit "Send request", class: "btn btn-primary"
        '
        = link_to "Cancel", article_participations_path(@article.slug), class: "btn pjax"