.widget
  .widget-header
    i.icon-file
    h3 Invite participants
  .well.well-widget-content
    table.table.table-condensed.table-bordered.table-striped.props-table
      thead
        tr
          th Name
          th Email
          th &nbsp;
      tbody#list
        -@list.each do |row|
          -user = User.find(row.first)
          tr
            td =user.name
            td =row.last["email"]