-provide :title, 'Participant Profile'
title Participant Profile

- unless pjax_request?
	- content_for :left_frame do
		= render partial: 'articles/article_sidepanel'

.widget
	.widget-header
		i.icon-file
		h3 Participant Profile for #{@participation.username}
	.well.well-widget-content
		.widget-content-title Participation properties
		form.form-horizontal
			.control-group
				label.control-label Name
				.controls
					span.input-xlarge.uneditable-input = @participation.username			
			.control-group class="#{@participation.status == 'Invited' ? 'error' : ''}"
				label.control-label Status
				.controls
					span.input-x-large.uneditable-input = @participation.status
					-if @participation.status == "Invited"
						span.help-inline You have been invited to join this article
			.control-group
				label.control-label Weight
				.controls
					span.input-small.uneditable-input = @participation.weight
			.control-group
				label.control-label Active
				.controls style="padding-top: 6px"
					-if @participation.active?
						i.icon-ok
					-else
						i.icon-remove
			.control-group
				label.control-label Permissions
				.controls
					-unless @participation.permissions.empty?
						- @participation.permissions.each do |permission|
							label.checkbox.inline
								= check_box_tag :permissions, 1, "yes", disabled: true
								label rel="tooltip" data-original-title="#{Participation::PERMISSIONS_DESCRIPTIONS[permission.to_sym]}"
									= permission.humanize
		.button-toolbar style="height:28px"
			-if @participation.waiting_confirmation? && can?(:confirm, @participation)
				= form_tag confirm_article_participation_path(@article.slug, @participation.id), { class:'form-inline' } do 
					.lbl Invitation:
					= hidden_field_tag :notification, Notification.where(model_id:@participation.id).first.id
					= submit_tag "Confirm", class: 'btn btn-primary'
					= submit_tag "Decline", class: 'btn btn-warning'
					= link_to article_participations_path(@article.slug), class:"btn pull-right" do
						i.icon-remove
						|  Close
			/ -when 'Requesting'
			/ 	.lbl Request to join: 
			/ 	= form_tag approve_article_participation_path(@article.id, @participation.id), { class:'form-inline' } do 
			/ 		= hidden_field_tag 'notification', @notification.id
			/ 		= submit_tag "Approve", class: 'btn btn-primary'
			/ 		= submit_tag "Decline", class: 'btn btn-warning'
			-else
				= link_to article_participations_path(@article.slug), class:"btn pull-right" do
					i.icon-remove
					|  Close

// NOTE: To fix errors of "0"s in permissions, do this in the console:
// Participation.in(permissions: "0").find_and_modify({ "$set" => { permissions: ['view']}}, new: false)

javascript:
	$('.checkbox').tooltip({
		selector: 	"label[rel=tooltip]",
		placement: 	"bottom",
		trigger: 		"hover"
	})