= form_for(resource, :as => resource_name, :url => registration_path(resource_name), remote: true, :html => { method: :put, style:'margin-bottom:0px' }) do |f| 
  .modal-header
    a.close data-dismiss="modal" ×
    h3 User settings
  .modal-body
    .control-group
      label.control-label Email
      .controls
        input.span4 disabled=true type='text' value=current_user.email

    .control-group 
      = f.label :name, class: "control-label"
      .controls
        = f.text_field :name, class: 'span4'

    .control-group 
      = f.label :password, class: "control-label" 
      i = "(leave blank if you don't want to change it)"
      .controls
        = f.password_field :password, :autocomplete => "off", class: 'span4'

    .control-group 
      = f.label :password_confirmation, class: "control-label"
      .controls
        = f.password_field :password_confirmation, class: 'span4'

    .control-group 
      = f.label :current_password, class: "control-label"
      i (we need your current password to confirm your changes)
      .controls
        = f.password_field :current_password, class: 'span4'

  .modal-footer
    = f.submit "Update", class:"btn btn-primary"
    ' 
    = link_to "Close", "#", class:'btn', "data-dismiss" => 'modal'