$("#new-article-modal").html("<%= escape_javascript(render('devise/registrations/modal_edit')) %>");
$("#new-article-modal").modal({keyboard: true, backdrop: false});
$("#new-article-modal").modal("show");