.widget
	.widget-header
		i.icon-th
		h3 
			=' criterion.root? ? 'Goal:' : 'Criterion:'
			= criterion.title
	.well.well-widget-content
		.section
			.widget-content-title 
				=' criterion.root? ? 'Goal' : 'Criterion'
			h3 
				= criterion.title
			-unless criterion.description.blank?
				blockquote.formatted-output
					= raw(criterion.description)
		

		-if can? :modify, @article
			.section style="padding-top:0px; padding-bottom:0px"
				.btn-toolbar.button-toolbar.mid-section
					.btn-group
						= link_to '<i class="icon-edit"></i> Edit'.html_safe,
								edit_criterion_path(criterion.id), 
								class:"btn btn-primary" 
					.btn-group
						button.btn.btn-small.btn-inverse.disabled Add criterion:
						= link_to "Under this node", new_sub_criterion_path(criterion.id), class:"btn"
						-unless criterion.root?
							= link_to "At same level", new_sub_criterion_path(criterion.parent_id)+"?r="+criterion.id.to_s, class:"btn"
						-else
							= link_to "At same level", "#", class:"btn disabled"

		-if (!@comparison.persisted? || @comparison.type.nil?) && @participation.user != current_user
			.section
				p The user has not made any comparison for this criterion
		-else
			.section
				.section-title 
					= (criterion.root? ? 'Criteria' : 'Sub-criteria') + ' under this node'
				-if criterion.children.empty?
					br
					.well style="margin-bottom:0px"
						em No sub-criteria
					br
				-else
					-unless @table.nil?
						-unless @comparison.type.nil?
							.btn-toolbar style="margin: 0"
								-unless @comparison.type == 0
									div.pull-right
										h5 = "Comparison done with #{ANALYSIS_METHODS[@comparison.type]} method"
										-if @comparison.type==3 and !@comparison.c_r.nil?
											h5 
												'  Consistency:
												-if @comparison.cr > 0.15 
													span.label.label-important Poor
												-elsif @comparison.cr >= 0.10
													span.label.label-warning Good
												-else 
													span.label.label-success Excellent
						table.table.table-condensed.table-bordered.objectives-table
							thead
								tr
									th No.
									th Title
									-if @comparison.method_is_magiq?
										th.number Rank
									th.number Weight
									-if @comparison.method_is_smart?
										th.number Normalized Weight
									th.number Normalized Weight
									th Ratio
							tbody
								- @table.each do |row|
									tr
										td = row[:no]
										td = row[:title]
										-if @comparison.method_is_magiq?
											td.number = row[:order]
										td.number 
											div = number_with_precision(row[:weight], precision: 2)
										-if @comparison.method_is_smart?
											td.number 
												div = "#{row[:weight_n].nil? ? '-' : number_to_percentage(row[:weight_n]*100, precision: 0)}"
										td.number 
												div = "#{row[:weight_n].nil? ? '-' : number_to_percentage(row[:weight_n]*100, precision: 2)}"
										td
											.progress
												.bar style="width: #{row[:ratio]}%"
					-unless @aggregate_table.blank?
						.pull-right
							h5 = "Aggregate result"
						table.table.table-condensed.table-bordered.objectives-table
							thead
								tr
									th No.
									th Title
									th.number Avg Weight
									th Ratio
							tbody
								- @aggregate_table.each do |row|
									tr
										td = row[:no]
										td = row[:title]
										td.number 
											div = number_with_precision(row[:weight_n], precision: 2)
										td
											.progress
												.bar style="width: #{row[:ratio]}%"

			-if can? :compare, @article
				-unless criterion.children.empty?
					-if can? :update, @comparison
						-if can?(:author, @article) || @criterion.comparison_type == 0
							= render partial: 'toolbar', locals: { mode: 'form' }
						-else
							/ participants are NOT allowed to choose comparison method
							/ (determined by the author)
							= render partial: 'toolbar', locals: { mode: 'link', read_only: false }
					-else
						= render partial: 'toolbar', locals: { mode: 'link', read_only: true }

