- content_for :javascript do
	= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
	= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
	= javascript_include_tag "criterion.js"
	
- content_for :left_frame do
	= render partial: 'tree_list', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	.widget
		.widget-header
			i.icon-file
			h3 Compare criteria using MAGIQ method
		.well.well-widget-content	
			.section
				.widget-content-title Compare criteria using MAGIQ comparison method
				dl.dl-horizontal
					dt Node
					dd = @criterion.title

			= form_for @comparison, url: { action: 'update_magiq' } do |form|
				.section
					.section-title Sub-criteria under this node
					h3#explain-pairwise Put the criteria into desired order

				.section			
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Arrange the following criteria from the most important to the least important by dragging the criteria to the desired position.

					ul#sortable
						-i = 0
						-@comparison.magiq_comparisons.asc(:rank).each do |comparison|
							-criterion = find_criterion(comparison.id1)
							/ find_criterion has to be done with a helper. 
							/ Can't use/figure out how to use begin rescue end in Slim
							/ If we can't find the criterion, ignore it; maybe it's been deleted
							-if criterion
								-i += 1
								li.ui-state-default id='#{comparison.id}'
									strong.badge.badge-inverse = i
									strong style="margin-left:5px" = criterion.title
									i.icon-align-justify.pull-right
									= form.fields_for :magiq_comparisons, comparison do |f|
										= f.hidden_field :id1, value: comparison.id1
										= f.hidden_field :rank, 
												value: comparison.rank.nil? ? i : comparison.rank,
												class:'order'
							/-rescue Exception => e
							/	-nil

				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							@criterion, class: 'btn'


javascript:
	$(function() {
		$("#sortable").sortable({
    	update: function(event, ui){  
	              $('ul li').each(function(){
	              $(this).find('strong.badge').html($(this).index()+1);
	              $(this).find('input.order').attr('value', $(this).index()+1);
	              })
             	}
		});
		$("#sortable").disableSelection();
		});





