.widget
	.widget-header
		i.icon-sitemap
		h3 
			' Weights of criterion:
			= criterion.title
	.well.well-widget-content
		.section
			.widget-content-title 
				=' criterion.root? ? 'Goal' : 'Criterion'
			h3 
				= criterion.title
			-unless criterion.description.blank?
				blockquote.formatted-output
					= raw(criterion.description)

		.section style="overflow: scroll"
			.section-title 
				| Weights by participants
			br
			-unless detail_table.nil?
				table.table.table-condensed.table-bordered.objectives-table.non-editable
					thead
						tr
							th No
							th Name
							- detail_table.first.last.each do |c|
								th = c[:title]
					tbody
						- i = 0
						- detail_table.each do |row|
							tr
								td = i += 1
								td = row.first
								- row.last.each do |c|
									td
										.progress
											.bar style="width: #{c[:ratio]}%" 
											.pull-right
												= number_with_precision(c[:weight_n], precision: 2)
						tr.summary
							td 
								span.hidden 
							td Average
							- summary_table.each do |c|
								td
									.progress
										.bar style="width: #{c[:ratio]}%"
										.pull-right
											= number_with_precision(c[:weight_n], precision: 2)
			-else
				.alert.alert-error
					| No evaluations found for this criterion.




