.widget
	.widget-header
		i.icon-sitemap
		h3 = @criterion.root? ? 'Editing goal' : 'Editing criterion'
	.well.well-widget-content
		.widget-content-title = @criterion.root? ? 'Goal' : 'Criterion'
		= form_for @criterion, url: { action: 'update' } do |f|
			== render partial: 'fields', locals: { form: f, criterion: @criterion, cost: false }

			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
					@criterion, 
					remote: true,
					class:"btn"
				= link_to '<i class="icon-chevron-down"></i> Add sub-criteria'.html_safe, 
						new_sub_criterion_path(@criterion.id), 
						remote: true, 
						class:"btn btn-primary"
				= link_to '<i class="icon-trash"></i> Delete'.html_safe,
						@criterion, 
						method: :delete,
						class: "btn btn-danger pull-right", 
						confirm: "You sure?", 
						title: @criterion.title