- provide :title, "Edit criterion: #{@criterion.title}"

title Edit criterion: #{@criterion.title}

- content_for :javascript do
	= javascript_include_tag "criterion.js"

- if @root.persisted?	
	- content_for :left_frame do
		= render partial: 'sidepanel', locals: { root_id: @article.criteria.root.nil? ? nil : @article.criteria.root.id.to_s }

-if @criterion.errors.any?
	.alert.alert-error
		a.close data-dismiss="alert" ×
		| Oops, we couldn't save your criterion! Please check the indicated #{inflectize(@criterion.errors.count, "field")} below.


.row-fluid
	.span4
		.control-group
			= form.label :title, class: "control-label"
			.controls
				=' form.text_field :title, id: 'title'
	.span2
		.control-group
			= form.label 'Short title', class: "control-label"
			.controls
				= form.text_field :abbrev
-unless !@criterion.leaf? or @article.common_properties.blank?
	.control-group
		= form.label 'Alternative property for this criterion', class: 'control-label'
		.controls
			= form.select :property_link, [nil] + @article.common_properties, {}
.control-group
	= form.label :description, class: 'control-label'
	= form.text_area :description, class: 'input-xxlarge wysihtml5', rows: 10

.widget-divider
.widget-content-title Comparison method to use for all participants
.control-group
	= form.label "Comparison method to be used by all participants at this node:", class: 'control-label'
	.controls.pop-over
		label.radio
			= form.radio_button :eval_method, Evaluation::EVALUATION_METHODS['MAGIQ']
			span rel='popover' data-content='Assign weights by ranking using Multi-Attribute Global Inference of Quality method' data-original-title='MAGIC Method'
				| MAGIQ method
	.controls.pop-over
		label.radio
			= form.radio_button :eval_method, Evaluation::EVALUATION_METHODS['SMART']
			span rel='popover' data-content='Directly assign weights to each sub-criteria using Simple Multi-Attribute Rating Technique' data-original-title='SMART method'
				| SMART method
	.controls.pop-over
		label.radio
			= form.radio_button :eval_method, Evaluation::EVALUATION_METHODS['Pairwise']
			span rel='popover' data-content='Assign weights by making pairwise comparisons using Analytic Hierarchy Process' data-original-title='AHP Pairwise method'
				| AHP Pairwise method
	.controls.pop-over
		label.radio
			= form.radio_button :eval_method, nil
			span rel='popover' data-content='Each participant is free to choose any of the above method. Note that combining results of different methods may not give meaningfull answer.' data-original-title="No assigned method" data-html=true
				| No assigned method

-if cost
	= form.hidden_field :cost, value: true

