.widget
	.widget-header
		i.icon-sitemap
		h3 Create new sub-criterion
	.well.well-widget-content
		.section
			.widget-content-title Parent node
			h3 = @criterion.title
		.section
			.section-title Sub-criterion
			
			- if @child.errors.any?
			  .alert.alert-error
			    a.close data-dismiss="alert" ×
			    | Oops, we couldn't save your sub-criterion! Please check the indicated #{inflectize(@child.errors.count, "field")} below.

			= form_for @child, url: create_sub_criterion_path(@criterion.id) do |f|
				== render partial: 'fields', locals: { form: f, criterion: @child, cost: false }
				br
				#toolbar.button-toolbar
					= f.submit 'Save', class:"btn btn-primary"
					' &nbsp;
					= link_to criterion_path(@return_id), class:'btn' do
						i.icon-remove
						|  Cancel