.widget
	.widget-header
		i.icon-sitemap
		h3 = root.persisted? ? 'New criterion' : 'Create goal/objective' 
	.well.well-widget-content
		.widget-content-title
			= root.persisted? ? 'Criterion' : 'Goal'

		= form_for criterion, url: article_criteria_path(article_id) do |f|
			== render partial: 'fields', locals: { form: f, criterion: criterion, cost: false}
			br
			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				' &nbsp;
				= link_to criterion, class:'btn' do
					i.icon-remove
					|  Cancel