.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget2" href="#" 
      i.icon-minus
  .side-widget-title Participants
  #widget2.collapse.in
    .side-widget-content.list-container
      ul.nav.nav-list.part-list
        - @article.participations.all_active.each do |participation|
          li.participant id="#{participation.id}" class="#{participation.id.to_s == @participation_id.to_s ? 'active' : 'nonactive' unless (@summary || @detail)}"
            /a.pjax href="#{article_criteria_path(@article.slug)}?p=#{participation.id}" 
            a.participant-anchor href="#"
              img src=participation.user.gravatar_url(size: 20) rel="tooltip" data-original-title="#{participation.username}"
              '
              = participation.username

    .side-widget-divider
    .side-widget-title Aggregate
    .side-widget-content
      ul.nav.nav-list.part-list
        li.participant#summary class="#{@summary ? 'active' : 'nonactive'}"
          = link_to 'Summary', criterion_aggregate_summary_path(@criterion.id), id:'summary', class: 'pjax'
        li.participant#detail class="#{@detail ? 'active' : 'nonactive'}"
          = link_to 'Detail by participants', criterion_aggregate_detail_path(@criterion.id), id:'detail', class: 'pjax'
