.widget
	.widget-header
		i.icon-sitemap
		h3 
			=' criterion.root? ? 'Goal:' : 'Criterion:'
			= criterion.title
	.well.well-widget-content
		.section
			.widget-content-title 
				=' criterion.root? ? 'Goal' : 'Criterion'
			h3 
				= criterion.title
			-unless criterion.description.blank?
				blockquote.formatted-output
					= raw(criterion.description)

		.section
			.section-title 
				=' criterion.leaf? ? "Alternatives" : "Subcriteria under this node"
			br
			-unless summary_table.nil?
				div.pull-right
					h5 Average of #{criterion.evaluations.evaluated.size} #{inflectize criterion.evaluations.evaluated.size, "participant"}
				table.table.table-condensed.table-bordered.objectives-table.non-editable
					thead
						tr
							th No
							th = criterion.leaf? ? "Alternative" : "Criterion"
							th.number Average Weight
							th Ratio
					tbody
						- summary_table.each do |row|
							tr
								td = row[:no]
								td = row[:title]
								td.number 
									div = number_with_precision(row[:weight_n], precision: 2)
								td
									.progress
										.bar style="width: #{row[:ratio]}%"
			-else
				.alert.alert-error
					| Incomplete evaluations: Not all participants has completed all required evaluations for this criterion.





