/ NOTE: link to MAGIQ and Pairwise comparisons are now not using PJAX (data-skip = true)
/ because pjax causes some problem with sliders and draggable not working

#toolbar.button-toolbar
	.btn-group.dropup
		-if read_only 
			-unless @evaluation.nil?
				= link_to_comparison_method(@evaluation.eval_method || @criterion.eval_method, @criterion.id, @participation_id, {class:'btn btn-primary', 'data-skip' => true}, true)
			-else
				button.btn.btn-primary.disabled No ratings
		-else
			-unless @criterion.eval_method == 0 || @criterion.eval_method.blank?
				= link_to_comparison_method(@criterion.eval_method, @criterion.id, @participation_id, {class:'btn btn-primary', 'data-skip' => true})
			-else
				= link_to_comparison_method(@evaluation.eval_method || Evaluation::EVALUATION_METHODS['MAGIQ'], @criterion.id, @participation_id, {class:'btn btn-primary', 'data-skip'=>true })
				button.btn.btn-primary.dropdown-toggle data-toggle='dropdown'
					span.caret
				ul.dropdown-menu
					li
						= link_to_comparison_method(Evaluation::EVALUATION_METHODS['MAGIQ'], @criterion.id, @participation_id, 'data-skip'=>true)
					li
						= link_to_comparison_method(Evaluation::EVALUATION_METHODS['SMART'], @criterion.id, @participation_id)
					li
						= link_to_comparison_method(Evaluation::EVALUATION_METHODS['Pairwise'], @criterion.id, @participation_id, 'data-skip'=>true)
				