#sidepanel.well.well-sidebar.well-tree
	.section
		.section-title Criteria Tree
		= content_tag "div", id: "criteria-tree", data: {node: root_id, allow_click:@article.allow_edit?(current_user) } do
			div style="width:90%;"
				= image_tag "ajax-loader.gif"

	-if @article.allow_edit?(current_user)
		.sidepanel-toobar
			-if @article.criteria.empty?
				a.btn.btn-mini href="#{new_article_criterion_path(@article)}" data-remote=true
					| Add new 
					i.icon-chevron-right
			-else
				a.btn.btn-mini.edit-button href="#"
					i.icon-align-justify
				/= form.submit "Done", class: "btn btn-mini btn-primary done-button", style: "display: none"
				= link_to "Done", "#", class: "btn btn-mini btn-primary done-button", style: "display: none"
				span#add-criterion style="display: none; padding: 5px 0 0 10px"
					a.btn.btn-mini#add-sub href="#" data-remote=true
						| Add sub-criterion
						i.icon-chevron-right


.well.well-sidebar.well-tree
	.section
		#cost-tree
			-if @article.allow_edit?(current_user)
				.section-title Cost Tree
				-unless @article.criteria.roots.any? {|o| o.cost == true}
					.well.info
						| Optionally, you may want to create a separate tree for costs, so you can do Benefit vs. Cost analysis later.
						a href="#{new_article_criterion_path(@article)}" data-remote=true class="btn"
							| Create cost tree 
				-else
					= content_tag "div", id: "cost-tree", data: {article: @article_id, cost: true} do
						div
							= image_tag "ajax-loader.gif", class: "ajax-loader"

