title Edit criteria

.widget
	.widget-header
		i.icon-sitemap
		h3 = @criterion.root? ? 'Editing goal' : 'Editing criterion'
	.well.well-widget-content
		.widget-content-title = @criterion.root? ? 'Goal' : 'Criterion'
		= form_for @criterion, url: { action: 'update' } do |f|
			== render partial: 'fields', locals: { form: f, criterion: @criterion, cost: false }

			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				= link_to @criterion, class:"btn" do
					i.icon-remove
					|  Cancel
				= link_to @criterion, method: :delete, class: "btn btn-danger pull-right", confirm: "Deleting a criterion will also delete all related scores and evaluations. You and other participants (if any) will have to redo all comparisons previously done.\n\nAre you sure to proceed?", title: @criterion.title do
					i.icon-trash
					|  Delete