- provide :title, "Criteria"

title Criteria

- content_for :javascript do
	= javascript_include_tag "criterion.js"
	
- content_for :left_frame do
	-if @root.blank? or !@root.persisted?
		.well.side-widget
			.side-widget-header
			.side-widget-title Criteria Tree
			.side-widget-content
				.alert.alert-error
					p You have not created any criterion.
	-else
		= render partial: 'sidepanel', locals: { root_id: @root.id.to_s }


#container-box
	-unless @root.nil?
		-if !@root.persisted?
			- @criterion.title = @article.title
			= render partial: 'new_form', locals: { article: @article, 
																	criterion: @criterion, 
																	root: @root, 
																	article_id: @article_id }	
		-else
			= render partial: 'table', locals: { criterion: @root, table: @table }


