$("#container-box").html("<%= escape_javascript(render(partial:'new_form', locals: { article: @article, 
																criterion: @criterion, 
																root: @root, 
																article_id: @article_id,
																cost: false })) %>")