title New criteria

- content_for :javascript do
	= javascript_include_tag "criterion.js"

- content_for :left_frame do
	/= render partial: 'tree_list', locals: { root_id: @root.id.to_s }
	= render partial: 'sidepanel', locals: { root_id: @root.id.to_s }

#container-box
	= render partial: 'new_form', locals: { article: @article, 
																criterion: @criterion, 
																root: @root, 
																article_id: @article_id }
