- content_for :javascript do
	= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
	= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
	= javascript_include_tag "criterion.js"
	= javascript_include_tag "ui/pairwise_slider.js"
	
- content_for :left_frame do
	= render partial: 'tree_list', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	.widget
		.widget-header
			i.icon-file
			h3 Compare criteria using pairwise comparison method
		.well.well-widget-content	
			.section
				.widget-content-title Compare criteria using pairwise comparison method
				dl.dl-horizontal
					dt Node
					dd = @criterion.title

			= form_for @comparison, url: { action: 'update_pairwise' } do |form|
				.section
					.section-title Sub-criteria under this node
					.btn-toolbar style="margin: 0"
						.btn-group.pull-right
							a.btn.dropdown-toggle data-toggle="dropdown" href="#"
								i.icon-asterisk
								'
								'  Scale: 
								span#scale-label Verbal Importance 
								' 
								span.caret
							ul.dropdown-menu
								li
									= link_to 'Verbal importance', "#", id: 'importance-scale'
								li
									= link_to 'Numeric (1-9)', "#", id: 'numeric-scale'
								li
									= link_to 'Numeric (1.0-9.0)', "#", id: 'free-scale'
								li
									= link_to 'Custom . . .', "#"

					h3#explain-pairwise Pairwise Comparison

				.section			
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Compare the following pairs. Move the slider of the alternative that you think is more important than the other.

					fieldset#pairwise-comparison
						- i=0
						- @comparison.ahp_comparisons.each do |pair|
							- i += 1
							= form.fields_for :ahp_comparisons, pair do |f|
								.pair-container
									.slider-container.slider-top
										- title1 = @article.criteria.find(pair.id1).title
										label for="#{i}a-#{pair.id1}" = title1
										
										.pairwise-slider id="#{i}a" name="#{title1}" data-value="#{pair.value.nil? ? '' : pair.value[/^\d+\.*\d*$/].to_f}"

									.slider-container.slider-bottom
										- title2 = @article.criteria.find(pair.id2).title
										label for="#{i}b-#{pair.id2}" = title2
										.pairwise-slider id="#{i}b" name="#{title2}" data-value="#{pair.value.nil? ? '' : pair.value[/\/([0-9.]+)/,1].to_f}"

									.level id="val-#{i}"  &nbsp;
									= f.hidden_field :id1, value: pair.id1
									= f.hidden_field :id2, value: pair.id2
									= f.hidden_field :value, id:"comparisons_#{i}", value: ""


				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							@criterion, class: 'btn'






