- provide :title, "Criterion: #{@criterion.title}"

title Criterion: #{@criterion.title}

- content_for :javascript do
	= javascript_include_tag "criterion.js"
	
- content_for :left_frame do
	= render partial: 'sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	= render partial: 'table', locals: { criterion: @criterion, table: @table }

/= link_to "At same level", new_sub_criterion_path(@criterion.parent_id), class:"btn pjax"

= render 'comments/comment_widget'