- content_for :javascript do
	= javascript_include_tag "criterion.js"
	
- content_for :left_frame do
	= render partial: 'tree_list', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	.widget
		.widget-header
			i.icon-file
			h3 Compare criteria using Smart method
		.well.well-widget-content	
			.section
				.widget-content-title Node
				dl.dl-horizontal
					dt Title
					dd = @criterion.title
			
			= form_for @comparison, url: { action: 'update_smart' } do |form|
				.section
					.section-title Sub-criteria

					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Put the weight of each criterion in the form below.
					
					table.table.table-condensed.table-bordered.objectives-table	
						thead
							tr
								th No.
								th Title
								th.number Weight
								th.number Normalized weight
						tbody
							-@comparison.smart_comparisons.each do |comparison|
								tr
									/ Now using the magic of accepts_nested_attributes_for
									/ this is now possible in one go!

									= form.fields_for :smart_comparisons, comparison do |f|
										= f.hidden_field :id1, value: comparison.id1
										-subcriterion = Criterion.find(comparison.id1)
										td.narrow = "#{subcriterion.position + 1}"
										td.wide = subcriterion.title
										td.number = f.text_field :weight, class:'input-small'
										/ TODO: update the normalized weight using JavaScript
										td.number 
											- weight_n = subcriterion.comparison_by(@participation_id).weight_n rescue nil
											input(class='input-small uneditable_input' type='text' value="#{weight_n.nil? ? '-' : number_to_percentage(weight_n*100, precision: 1)}" disabled)
											/ Note: to specify parameters with no value, like 
											/ "disabled" above, they need to be put inside parentheses

				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
							@criterion, class: 'btn'
