- can_update_comparison = can? :update, @comparison
.widget
	.widget-header
		i.icon-file
		h3 Make comparison using MAGIQ method
	= form_for @comparison, url: { action: :update_comparison } do |form|
		= form.hidden_field :type, value:1
		.well.well-widget-content
			.section
				.widget-content-title With respect to:
				h3 = @criterion.title
			.section
				.section-title 
					= @criterion.leaf? ? 'Alternatives' : 'Sub-criteria'
				
				-if can_update_comparison
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Assign rankings by dragging the items to the desired ranking position. In case of tied rankings, put the items in the same ranking position.

				table.table
					tr
						th Alternatives
						th Rank
					tr
						td
							#sort-section
								ul.sortable#sortable
									-i = 0
									-@magiq_comparisons.each do |mc|
										/- item = @criterion.leaf? ? find_alternative(mc.id1) : find_criterion(mc.id1)							
										-if mc.rank.nil?
											-i += 1
											li.rank-item id='#{mc.id}'
												strong style="margin-left:5px" = mc.title
												= form.fields_for :magiq_comparisons, mc do |f|
													= f.hidden_field :id1, value: mc.id1
													= f.hidden_field :type, value: mc.type
													= f.hidden_field :title, value: mc.title
													= f.hidden_field :pos, value: mc.pos
													= f.hidden_field :rank, value: nil, class:'order'
						td
							#ranks.ui-widget-content style="border:0"
								-(1..@num_ranks).each do |i|
									.rank
										.thumbnail
											h2.pull-left = "# #{i}"
											ul.droppable data-rank="#{i}"
												-if @magiq_comparisons.where(rank:i).exists? 
													- @magiq_comparisons.where(rank:i).each do |mc|
														-if mc && !mc.rank.nil?
															
															li.rank-item id='#{mc.id}'
																strong style="margin-left:5px" = mc.title
																= form.fields_for :magiq_comparisons, mc do |f|
																	= f.hidden_field :id1, value: mc.id1
																	= f.hidden_field :type, value: mc.type
																	= f.hidden_field :title, value: mc.title
																	= f.hidden_field :pos, value: mc.pos
																	= f.hidden_field :rank, class:'order',
																			value: mc.rank.nil? ? i : mc.rank
												-else
													li.placeholder &nbsp;

					/ table.table.table-condensed.rank-table
					/ 	tr
					/ 		th 
					/ 		th colspan=3 Distribution method
					/ 	tr
					/ 		th
					/ 		th.narrow Rank Order Centroid
					/ 		th.narrow Rank Sum
					/ 		th.narrow Rank Reciprocal
					/ 	tr
					/ 		td
					/ 			ul.sortable#sortable
					/ 				-i = 0
					/ 				-@magiq_comparisons.each do |comparison|

					/ 					- item = @criterion.leaf? ? find_alternative(comparison.id1) : find_criterion(comparison.id1)
										
					/ 					-if item
					/ 						-i += 1
					/ 						li.ui-state-default id='#{comparison.id}'
					/ 							strong.badge.badge-inverse = i
					/ 							strong style="margin-left:5px" = item.title

					/ 							i.icon-align-justify.pull-right
					/ 							= form.fields_for :magiq_comparisons, comparison do |f|
					/ 								= f.hidden_field :id1, value: comparison.id1
					/ 								= f.hidden_field :rank, 
					/ 										value: comparison.rank.nil? ? i : comparison.rank,
					/ 										class:'order'
					/ 		td.narrow 
					/ 			-@roc_table.each do |v|
					/ 				ul.dist-table
					/ 					li
					/ 						.progress
					/ 							.bar style="width:#{v*100}%"
					/ 		td.narrow 
					/ 			-@rank_sum_table.each do |v|
					/ 				ul.dist-table
					/ 					li
					/ 						.progress
					/ 							.bar style="width:#{v*100}%"
					/ 		td.narrow 
					/ 			-@rank_reciprocal_table.each do |v|
					/ 				ul.dist-table
					/ 					li
					/ 						.progress
					/ 							.bar style="width:#{v*100}%"

			#toolbar.button-toolbar
				-back_url = (@criterion.leaf? ? criterion_ratings_path(@criterion) : criterion_path(@criterion))+"?p=#{@participation_id}"
				-if can_update_comparison
					= submit_tag "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Cancel
				-else
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Close

-if can_update_comparison
	javascript:
		$(function() {
			$("#sortable li").draggable({
				appendTo: "body",
				helper: "clone",
				cursor: "move",
				revert: "invalid"
			});
			$("#ranks li").draggable({
				appendTo: "body",
				helper: "clone",
				cursor: "move",
				revert: "invalid"
			});
			$("#ranks div.thumbnail ul").droppable({
				accept: "li.rank-item",
				activeClass: "ui-state-highlight",
				drop: function(event, ui) {
					$(this).find( ".placeholder" ).remove();
					ui.draggable.clone().appendTo(this);
					$(this).find("input.order").attr("value", $(this).data("rank"));
	 				$(ui.draggable).parent().has("li:only-child").append("<li class='placeholder'>&nbsp;</li>");
					ui.draggable.remove();
	 				$("#ranks li").draggable({
						appendTo: "body",
						helper: "clone",
						cursor: "move",
						revert: "invalid"
					});
				}
			});
			

		});
/ javascript:
/ 	$(function() {
/ 		$("#sortable").sortable({
/ 			axis: 'y',
/ 			containment: '#sort-section',
/     	update: function(event, ui){  
/ 	              $('ul li').each(function(){
/ 		              $(this).find('strong.badge').html($(this).index()+1);
/ 		              $(this).find('input.order').attr('value', $(this).index()+1);
/ 	              })
/              	}
/ 		});
/ 		$("#sortable").disableSelection();
/ 		});