.widget
	.widget-header
		i.icon-file
		h3 Make comparison using Smart method
	.well.well-widget-content
		.section style="padding-bottom: 10px"
			.widget-content-title Comparison of sub-criteria with respect to:
			h3 = @criterion.title
		#custom-settings.collapse
			.section
				.widget-content-title Custom settings
				h5 Settings for Value function:
		-if @criterion.leaf?
			.btn-toolbar.button-toolbar style="margin-bottom:0px; height:28px" 
				div.pull-left style="height:28px; padding-top:4px; margin-right:14px" 
					strong Method to convert ratings into scores:
				.btn-group.pull-left data-toggle="buttons-radio"
					button.btn.max Maximize
					button.btn.min Minimize
					button.btn.custom data-toggle="collapse" data-target="#custom-settings"
						i.icon-asterisk
						|  Custom

		= form_for @comparison, url: { action: :update_comparison } do |form|
			.section
				.section-title 
					= @criterion.leaf? ? 'Alternatives' : 'Sub-criteria'
				a.info-button data-toggle="collapse" data-target="#help-info" href="#" 
					i.icon-question-sign
				#help-info.collapse
					.alert.alert-info
						-if @criterion.leaf?
							| Put the rating of each alternative with respect to the above criterion.
								The score will be calculated from the rating using the conversion
								method specified.
						-else
							| Put the weight of each criterion with respect to the above 
							  objective criterion in the form below. 
								The weight will be normalized so that the total is equal to 100%.
				
				= form.hidden_field :type, value:2
				-if @criterion.leaf?
					.control-group.pull-right
						.controls
							=' form.check_box :minimize
							| Minimize

				table.table.table-condensed.table-bordered.objectives-table
					thead
						tr
							th No.
							th Title
							th.number = @criterion.leaf? ? 'Rating' : 'Weight' 
							th.number = @criterion.leaf? ? 'Score' : 'Normalized weight'
					tbody#table-body
						-@smart_comparisons.each do |comparison|
							tr
								= form.fields_for :smart_comparisons, comparison do |f|
									= f.hidden_field :id1, value: comparison.id1
									
									- item = @criterion.leaf? ? find_alternative(comparison.id1) : find_criterion(comparison.id1)

									td.narrow = "#{item.position + 1}"
									td.wide = item.title
									td.number 
										-if can? :update, @comparison
											= f.text_field :weight, class:'input-small weight'
										-else
											input(class='input-small uneditable_input' type='text' value="#{comparison.weight}" disabled)
									
									/ TODO: update the normalized weight using JavaScript
									td.number 
										-if @criterion.leaf?
											- weight_n = item.rating_for(@participation_id, @criterion.id).weight_n rescue nil
										-else
											- weight_n = item.comparison_by(@participation_id).weight_n rescue nil
										input(class='input-small uneditable_input' type='text' value="#{weight_n.nil? ? '-' : number_to_percentage(weight_n*100, precision: 1)}" disabled)
										/ Note: to specify parameters with no value, like 
										/ "disabled" above, they need to be put inside parentheses

			#toolbar.button-toolbar
				-back_url = (@criterion.leaf? ? criterion_ratings_path(@criterion) : criterion_path(@criterion))+"?p=#{@participation_id}"
				-if can? :update, @comparison
					= submit_tag "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Cancel
				-else
					= link_to back_url, class: 'btn' do
						i.icon-remove
						|  Close
