.well.side-widget
	.side-widget-header
		a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
			i.icon-minus
	.side-widget-title Criteria Tree
	#widget1.collapse.in
		.side-widget-content
	    = content_tag "div", id: "criteria-leaves", data: {node: root_id} do
	      = image_tag "ajax-loader.gif"
