- provide :title, 'Compare'

- content_for :javascript do
	-if @criterion.leaf?
		= javascript_include_tag "ratings.js"
	-else
		= javascript_include_tag "criterion.js"
	= javascript_include_tag "ui/pairwise_slider.js"

- content_for :left_frame do
	-if @criterion.leaf? 
		= render partial: 'ratings/sidepanel', locals: { root_id: @article.criteria.root.id.to_s }
	-else
		= render partial: 'criteria/sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	- case @selected_method
	- when "1"
		= render 'magiq_form'
	- when "2"
		= render 'smart_form'
	- when "3"
		= render 'pairwise_form'