- provide :title, 'Comparison by SMART method'

- content_for :javascript do
	-if @criterion.leaf?
		= javascript_include_tag "ratings.js"
	-else
		= javascript_include_tag "criterion.js"

- content_for :left_frame do
	-if @criterion.leaf? 
		= render partial: 'ratings/sidepanel', locals: { root_id: @article.criteria.root.id.to_s }
	-else
		= render partial: 'criteria/sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	= render 'smart_form'