.comments-list-container
	ul.comment-list
		-@comments.each do |comment|
			= render partial: 'comments/comment', locals: { commentable: @commentable, comment: comment }
		#new-comment-box

-if user_signed_in?
	#comment-post.comment-form-container
		.comment-user-avatar
			= gravatar_for(@comment.user, size: 36)
		.comment-controls
			= render partial:'comments/comment_form', locals: { commentable: @commentable, comment: @comment, parent_id:nil }



 