/ Comments --------------------------------------
#comments-box
	.widget
		.widget-header.comment-widget-header
			h3
				i.icon-comments-alt
				'
				|  Comments (#{@commentable.comment_count}) 
			-unless user_signed_in?
				small You must log in to comment.
			span.widget-button.pull-right
				a.collapse-button data-toggle="collapse" data-target="#comments" href="#"
					i.icon-minus style="color:#474F64"
		.well.well-widget-content
			#comments.collapse.in
				= render partial: 'comments/comments'

javascript:
	$("a.cancel-form").live("click", function(event) {
		$(".comment-form").remove();
		$(".comment-footer").show();
		event.preventDefault();
	});
	$("a.cancel-edit").live("click", function(event) {
		$(".comment-form").next(".comment-text").show();
		$(".comment-form").remove();
		$(".comment-footer").show();
		event.preventDefault();
	});