= form_for comment, url:comments_url(commentable), class:'form-inline', method: :post, remote: true do |form|
	=' form.text_area :body, placeholder:'Write a comment', class:'span6', rows: 2
	= form.hidden_field :parent_id, value: parent_id
	= form.submit "Post", remote: true, class:'btn'