li.comment-container id="comment-#{comment.id}"
	.comment-user-avatar
		= gravatar_for(comment.user, size: 36)
	.comment-text-container
		span.comment-user-name
			= comment.user.name
		span.comment-date-ago 
			/ FIXME: The time here is static. Change this with a javascript version that updates itself.
			= " • #{time_ago_in_words(comment.created_at)} ago"
		.comment-text id="comment-text-#{comment.id}"
			= comment.body
	.comment-footer
		-if comment.created_at > 15.minutes.ago
			=' link_to " • Edit", edit_url_for(comment), remote: true, class:'comment-edit'
		=' link_to " • Reply", new_reply_url_for(comment), remote: true, class:'comment-reply'
		/=' link_to " • Share", "#", class:'comment-share'
	

	ul.comment-list style="margin-left:48px"
		.comment-reply-box
		.comment-reply-entry
		-unless comment.children.nil?
			- comment.children.each do |reply|
				= render partial: 'comments/comment', locals: {comment: reply, parent_id:comment.id}
		
		