.comment-form
	= form_for comment, url:comment_update_url(comment), class:'form-inline', method: :put, remote: true do |form|
		=' form.text_area :body, class:'span6', rows: 2
		= form.hidden_field :parent_id
		.clearfix
		=' form.submit "Save", remote: true, class:'btn btn-mini btn-primary'
		= link_to "Cancel", "#", class:'btn btn-mini cancel-edit'