.comment-form
	li.comment-container
		.comment-user-avatar
			= gravatar_for(comment.user, size: 36)
		.comment-text-container
			= form_for comment, url:reply_url_for(comment), class:'form-inline', method: :post, remote: true do |form|
				=' form.text_area :body, placeholder:'Write a comment', class:'span6', rows: 2
				= form.hidden_field :parent_id
				.clearfix
				=' form.submit "Post", remote: true, class:'btn btn-mini btn-primary'
				= link_to "Cancel", "#", class:'btn btn-mini cancel-form'