$("#comment-<%= @comment.id %>").find(".comment-footer").hide();
$("#comment-text-<%= @comment.id %>").hide().before("<%= escape_javascript(render(partial:'comments/edit_form', locals: {commentable: @commentable, comment: @comment})) %>");

