$("#comment-<%= @parent_id %>").find(".comment-reply-box").first().html("<%= escape_javascript(render(partial:'comments/reply_form', locals: {commentable: @commentable, comment: @comment, parent_id:@parent_id})) %>");
//$("#comment-reply-box-<%= @parent_id %>").html("<%= escape_javascript(render(partial:'comments/reply_form', locals: {commentable: @commentable, comment: @comment, parent_id:@parent_id})) %>");
$("#comment-<%= @parent_id %>").find(".comment-footer").hide();