$("#comment-<%= @parent_id %> > ul > div.comment-reply-entry").before("<%= escape_javascript(render(partial:'comments/comment', locals: {comment: @comment})) %>");
$("#comment-<%= @parent_id %>").find("div.comment-reply-box").html("");
