- if controller_name != 'sessions'
  div
    = link_to "Sign in to an existing account", new_session_path(resource_name), class: 'btn btn-info btn-mini'
  br

- if devise_mapping.registerable? && controller_name != 'registrations'
  div
  	= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-info btn-mini'
  br

- if devise_mapping.recoverable? && controller_name != 'passwords'
  div
  	= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-mini'
  br

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  div
  	= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'btn btn-mini'
  br

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  div
  	= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: 'btn btn-mini'
  br

- if devise_mapping.omniauthable? 
  - resource_class.omniauth_providers.each do |provider|
    div
    	= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-info btn-mini'
    br
