#sidepanel.well.well-sidebar
  .section
    .section-title
      | Article by:
    .user-avatar
      = gravatar_for @article.user
    .article-owner
      = @article.user.name
    hr
  .section
    .section-title
      | Participants ( #{@article.participations.all_active.count} )
    a.resize-button data-toggle="collapse" data-target="#list-of-participants" href="#" 
      i.icon-resize-vertical
    #list-of-participants.collapse.in
      = render partial:'participations/avatars', locals: { participations: @article.participations }
      
      =' link_to "List", article_participations_path(@article.slug), class:"btn btn-mini pjax"
      -if current_user == @article.user
        =' link_to "Invite", invite_article_participations_path(@article.slug), class:"btn btn-primary btn-mini pjax"
      -elsif !@article.participation_by(current_user)
        =' link_to "Request to join", new_request_article_participations_path(@article.slug), class:"btn btn-warning btn-mini pjax"

  .section
    .section-title 
      | Article Stats
    a.resize-button data-toggle="collapse" data-target="#stat-contents" href="#" 
      i.icon-resize-vertical
    #stat-contents.collapse.in
      .article-date 
        = @article.created_at.strftime("Created on %m/%d/%Y")
      .article-date 
        = "Updated #{time_ago_in_words(@article.updated_at)} ago"

      ul.article-stats
        li.article-view 
          i.icon-eye-open
          .stat-label = "Watch" 
          #watch-count.stat-value = @article.watch_count   
          // FIXME
        li.article-appreciation
          i.icon-gift
          .stat-label = "Appreciation" 
          #appreciations-count.stat-value = "000"
        li.article-comments 
          i.icon-comment
          .stat-label = "Comments" 
          #comments-count.stat-value = "000"
  .section
    .section-title Share article
    // FIXME
    = image_tag('facebook_like.png')
    ' &nbsp;
    = image_tag('tweet.png')
    ' &nbsp;
    = image_tag('g_plus.png')
  .section
    .section-title Article tags
    // FIXME
    .tag-group
      span.badge Tag
      span.badge is not
      span.badge done
      ' 
      span.badge yet
      ' 
      span.badge Fix me!
      '  
      span.badge This is a long tag
  .section
    .section-title Article sponsor
    .thumbnail style="background-color: #e8653a"
      div style="height:120px;" 
        br
        p style="color: white; font-family: 'Garamond'; font-size:50px"  
          | Sponsor



      