- provide :title, 'Articles'
h4 All articles

table.table.table-striped.table-bordered.table-condensed
  tr
    th Title
    th Description
    th Author

  - @articles.each do |article|
    tr
      td = link_to article.title, article
      td = article.description
      td = article.user.name

= page_navigation_links @articles
br

= link_to 'New Article', new_article_path

