.article-widget
	.article-image
		-if pic_url = pic_snippet(article.description)
			= image_tag pic_url, size:'65x65'
	.article-head
		h3 = link_to article.title.truncate(50), article	
		.article-info
			i.icon-user
			' &nbsp;Author:
			= link_to article.user.name, user_path(article.user.id)
			' &nbsp;
		.description.dotdotted
			= raw truncate_html(description_snippet(article.description), 120)
	.article-stats-bar
		.stat-item
			.stat-label = "Participants" 
			i.icon-user
			.stat-value = article.participations.all_active.count
		.stat-item
			.stat-label = "Bookmarks" 
			i.icon-bookmark
			.stat-value = article.watch_count
		.stat-item
			.stat-label = "Appreciations" 
			i.icon-thumbs-up
			.stat-value = article.likes
		.stat-item
			.stat-label = "Featured" 
			i.icon-star
			.stat-value = "5"
