tr.article
	td.article
		.title
			= link_to article.title.truncate(50), article
			-if can? :edit, article
				span.tool
					a href=edit_article_path(article.slug)
						i.icon-edit
						'  Edit
			.timestamp
				i.icon-time
				=' " #{time_ago_in_words(article.updated_at)} ago"	
		.picture
			- url = pic_snippet(article.description)
			= image_tag url, size:'65x65' unless url.nil?
		.description.formatted-output
			= raw truncate_html(description_snippet(article.description),500)
		.info
			span.author
				i.icon-user
				' &nbsp;Author:
				= link_to article.user.name, user_path(article.user.id)
				' &nbsp;
			span.star
				/ FIXME: This is just a stub.
				i.icon-star
				i.icon-star
				i.icon-star
				i.icon-star-empty
				i.icon-star-empty
			/ .social_networks
			/ 	= image_tag('facebook_like.png')
			/ 	' &nbsp;
			/ 	= image_tag('tweet.png')
			/ 	' &nbsp;
			/ 	= image_tag('g_plus.png')

