.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget3" href="#" 
      i.icon-minus
  .side-widget-title Common Properties
  #widget3.collapse.in
    .side-widget-content
      ul.nav.nav-list.alt-list
        -if @common_properties
          - @common_properties.each do |common_property|
            li.cprop
              = link_to common_property, "#{article_common_properties_path(@article, URI.escape(common_property))}", class:'pjax'
    /#cp_new
    #property-toolbar
      -if can? :modify, @article
        .side-widget-toolbar
          /a.btn.btn-primary.btn-mini#add-property
          /  | Add new
          | &nbsp;
          .pull-right
            = link_to "Edit", article_edit_common_properties_path(@article), class:'btn btn-mini btn-primary'

/#add-new-form style="display:none"
/  = render partial:'articles/new_property', locals: { article: @article }

