
- if @article.errors.any?
  .alert.alert-error
    a.close data-dismiss="alert" ×
    | Oops, we couldn't save your article! Please check the indicated #{inflectize(@article.errors.count, "field")} below.
    / = "The following fields #{inflectize(@article.errors.count, "error")} as indicated below"
    / ul
    /   - @article.errors.full_messages.each do |message|
    /     li = message

.control-group
  = f.label :title, class: "control-label"
  .controls
    = f.text_field :title, class: 'input-xxlarge'
.control-group
  = f.label :description, class: "control-label"
  .controls
    = f.text_area :description, class: 'input-xxlarge wysihtml5', rows:10
.control-group
  = f.label 'Tags', class: "control-label"
  .controls
    = f.text_field :tag_list, class: 'input-xxlarge'
.control-group
  = f.label :visibility, class: "control-label"
  .controls
    label.radio.inline
      =' f.radio_button :visibility, 'public'
      | Public
    label.radio.inline
      -if can? :create, current_user.articles.new(visibility:'private')
        =' f.radio_button :visibility, 'private'
      -else
        =' f.radio_button :visibility, 'private', disabled: true
      | Private
    / label.radio.inline
    /   -if can? :create, current_user.articles.new(visibility:'internal')
    /     =' f.radio_button :visibility, 'internal'
    /   -else
    /     =' f.radio_button :visibility, 'internal', disabled: true
    /   | Internal
    label.radio.inline
      = link_to "Learn more about private articles", "#"
.control-group
  = f.label :category_id, class: "control-label"
  .controls
    = f.select :category_id, @categories.all.collect {|c| [c.title, c.id]}, { prompt: 'Select a category' }
