= form_for @article, remote: true, html: { style: "margin-bottom:0px" } do |form|
	.modal-header
		a.close data-dismiss="modal" ×
		h3 Create new article
	.modal-body
		== render partial: 'form', locals: {f: form}
	.modal-footer
	  = form.submit 'Save', class:'btn btn-primary', disable_with: 'Please wait...'
	  = link_to "Close", "#", class:'btn', "data-dismiss" => 'modal'
