table.table.table-bordered.table-condensed.articles
  - @new_and_updated.each do |article|
    = render partial: 'articles/article', locals: { article: article }

= page_navigation_links @new_and_updated