.property_field
	= form_tag article_add_property_path(article), remote:true do |f|
		/= text_field_tag :property
		.side-widget-content
			input.input-medium id="property" name="property" type="text" 
			= hidden_field_tag :id, article.id
			br
		.side-widget-toolbar
			= submit_tag 'Add', class:"btn btn-mini btn-primary", disable_with: 'Please wait...'
			= submit_tag 'Cancel', class:"btn btn-mini pull-right"