<% if @commit=='Add' && @property != "" %>
	$("li.cprop:last-child").after("<li class='cprop'><a href='<%= article_common_properties_path(@article, URI.escape(@property)) %>' class='pjax'> <%= @property%> </a></li>");
<% end %>
$(".new_form").remove();
$("#cp_new").show()