- provide :title, "Common Properties"

- unless pjax_request?
	- content_for :javascript do
		= javascript_include_tag "alternative.js"
		= javascript_include_tag "properties.js"
	  
	- content_for :left_frame do
		= render 'alternatives/alternative_sidepanel'
		= render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

.widget
	.widget-header
		h3 Input common properties
	.well.well-widget-content
		.widget-content-title Property

		-if can? :modify, @article
			= form_tag action: 'update_common_properties', id: @article.id, class:'common_properties' do

				table.properties.table-striped.table-condensed style="width:60%"
					thead
						tr
							th.align-left Alternative
							th.align-left = @property
					tbody
						-@alternatives.each do |alternative|
							tr
								td
									= alternative.title
								td.number
									= text_field_tag "alternatives[#{alternative.id}]", alternative.properties.where(k: @property).first.nil? ? '' : alternative.properties.where(k: @property).first.v

				label.checkbox
					-property = @alternatives.first.properties.where(k: @property).first
					= check_box_tag 'cost', 'yes', property.nil? ? false : property.cost
					|  Use this property as 
					strong Cost 
					| for Cost-Benefit analysis

				br

				#toolbar.button-toolbar
					= submit_tag 'Save', class:"btn btn-primary"

					= link_to '<i class="icon-remove"></i> Cancel'.html_safe, article_alternatives_path(@article.id), class: "btn"
		-else
				table#properties.table-striped.table-condensed style="width:60%"
					thead
						tr
							th.align-left Alternative
							th.align-left = @property
					tbody
						-@alternatives.each do |alternative|
							tr
								td
									= alternative.title
								td 
									= alternative.properties.where(k: @property).first.nil? ? '' : alternative.properties.where(k: @property).first.v