- provide :title, "Edit Common Properties"

- unless pjax_request?
	- content_for :javascript do
	  = javascript_include_tag "alternative.js"

	- content_for :left_frame do
		= render 'alternatives/alternative_sidepanel'
		= render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

.widget
	.widget-header
		i.icon-list-ul
		h3 Edit common properties
	.well.well-widget-content
		.widget-content-title Common Properties
		
		= form_for @article, url: { action: 'save_common_properties' } do |form|
			- i = 0
			- @article.common_properties.each do |property|
				-i += 1
				.controls id="p#{i}"
					= form.text_field :common_properties, name: "#{form.object_name}[common_properties][]", value: property

					button.del_prop_row.btn.btn-small.btn-danger data-propid="p#{i}" Delete
			
			#cp-new style="margin-bottom: 15px"
				= link_to 'Add property', "#", class:'add_prop_row btn btn-primary'


			#toolbar.button-toolbar
				= form.submit 'Save', class:"btn btn-primary"
				= link_to article_alternatives_path, class:"btn" do
					i.icon-remove
					'
					' Cancel

			#add-new-form style="display:none"
			  = render partial:'articles/new_property', locals: { article: @article }