- provide :title, 'Featured Articles'

.widget
	.widget-header
		i.icon-star-empty
		h3 Featured Articles
	.well.well-widget-content.content-with-table
		= render partial: 'articles/featured_articles', locals: { featured_articles: @featured }