- provide :title, 'Search articles'

.widget
	-unless @terms.blank?
		.widget-header
			i.icon-search
			h3 Searched for: #{@terms}

		.well.well-widget-content

			table.table.table-bordered.articles
				- @articles.each do |article|
					= render partial: 'article', locals: { article: article.load, terms: @terms }

			= page_navigation_links @articles

	-else
		.widget-header
			i.icon-search
			h3 Not found

		.well.well-widget-content
			br
			.hero-unit
				h1 Looks like...
				| we couldn't find the page you requested.
				.error-options
					ul.list
						li
							| Try searching for similar articles, or

						li
							| Browse 
							= link_to 'recent articles', new_and_updated_path 