$("#new-article-modal").html("<%= escape_javascript(render('articles/modal_new')) %>");
$("#new-article-modal").modal({keyboard: true, backdrop: false});
$("#new-article-modal").modal("show");
$('.wysihtml5').each(function(i, elem) {
	$(elem).wysihtml5();
});