- provide :title, 'New and updated articles'
#content-box
	.widget
		.widget-header
			i.icon-file
			h3 New and Updated
		.well.well-widget-content.content-with-table

			table.table.table-bordered.articles
			  - @new_and_updated.each do |article|
					= render partial: 'article', locals: { article: article }

			= page_navigation_links @new_and_updated

			br
			