- content_for :left_frame do
	= render partial: 'objectives/tree_leaves', locals: { article: @article }

.widget
	.widget-header
		i.icon-file
		h3 = @article.title
	.well.well-widget-content
		#objective_box
			.section
				.widget-content-title Evaluating alternatives
				h5 Compare alternatives with respect to 

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Put the weight of each criterion in the form below. 
						The score will be normalized so that the total is equal to 100%.
			.section
