- provide :title, "Participating"
#content-box
	.widget
		.widget-header
			i.icon-group
			h3 = "Articles I'm participating in"
		.well.well-widget-content
			- unless @articles.empty?
			  table.table.table-bordered.articles
			    = render @articles
			  = page_navigation_links @articles
			- else 
				div 
					h4 You are not participating in any articles.
					