.widget
  .widget-header
    i.icon-file
    h3 Participants
  .well.well-widget-content
    .widget-content-title List of participants
    div style="overflow: auto"
      table.table.table-condensed.table-bordered.table-striped.props-table
        thead
          tr
            th No
            th Avatar
            th Name
            th Status
            th Weight
            - if @article.allow_edit? current_user
              th Action
        tbody
          - i=0
          - @participants.each do |p|
            tr
              td = i+=1
              td 
                = gravatar_for(p.user, size: 20)
              td = p.username
              td = p.status
              td = p.weight
              - if @article.allow_edit? current_user
                td = link_to "Edit", edit_article_participation_path(@article.id, p.id), class: "btn"
    br
    -if @article.allow_edit? current_user
      #toolbar.button-toolbar
        = link_to "Invite new participants", article_invite_path(@article.id), class: "btn"
        '
        = link_to "Assign weights", "#", class: "btn"

javascript:
  $(function() {
    $('.props-table').dataTable( {
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": false,
        "bSort": true,
        "bInfo": false,
        "bAutoWidth": true
      } );
    $.extend( $.fn.dataTableExt.oStdClasses, {
      "sSortAsc": "header headerSortDown",
      "sSortDesc": "header headerSortUp",
      "sSortable": "header"
      } );
  });
  