-provide :title, 'Articles'

/ TODO: top articles filtered and sorted by some criteria (most viewed, most participated, etc.)
.widget
	.widget-header
		i.icon-star-empty
		h3 Top Articles
	.well.well-widget-content.content-with-table

		table.table.table-bordered.articles
		  - @articles.each do |article|
				= render partial: 'article', locals: { article: article }

		= page_navigation_links @articles