- provide :title, "Articles I bookmarked"
#content-box
	.widget
		.widget-header
			i.icon-bookmark
			h3 = "Articles I bookmarked"
		.well.well-widget-content
			- unless @articles.empty?
			  table.table.table-bordered.articles
			    = render @articles
			  = page_navigation_links @articles
			- else 
				div 
					h2 You have not bookmarked any articles.
					