.widget
	.widget-header
		i.icon-file
		h3 = @objective.root? ? 'Editing goal' : 'Editing criterion'
	.well.well-widget-content
		.widget-content-title = @objective.root? ? 'Goal' : 'Criterion'
		= form_for @objective, url: { action: 'update' } do |f|
			== render partial: 'fields', locals: { form: f, objective: @objective, cost: false }

			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
					article_objective_path(@article_id, @objective.id), 
					remote: true,
					class:"btn"
				= link_to '<i class="icon-chevron-down icon-white"></i> Add sub-criteria'.html_safe, 
						new_sub_path(@article_id, @objective.id), 
						remote: true, 
						class:"btn btn-primary"
				= link_to '<i class="icon-trash icon-white"></i> Delete'.html_safe,
						article_objective_path(@article_id, @objective.id), 
						method: :delete,
						class: "btn btn-danger pull-right", 
						confirm: "You sure?", 
						title: @objective.title