-if objective.errors.any?
	.alert.alert-error
		a.close data-dismiss="alert" ×
		= "Please fix the #{inflectize(objective.errors.count, "error")} as indicated below"
		ul
			- objective.errors.full_messages.each do |message|
				li = message

.control-group
	= form.label :title, class: "control-label"
	.controls
		=' form.text_field :title, id: 'title', class: 'span6'

.control-group
	= form.label :description, class: "control-label"
	.controls
		= form.text_area :description, class: 'span6', rows: 4

-if cost
	= form.hidden_field :cost, value: true

