.widget
	.widget-header
		i.icon-file
		h3 Create new sub-criterion below criterion: #{@objective.title}
	.well.well-widget-content
		.widget-content-title New sub-criterion 
		= form_for @child, url: create_sub_path(@article.id, @objective.id) do |f|
			== render partial: 'fields', locals: { form: f, objective: @child, cost: false }
			br
			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				' &nbsp;
				= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
						"#{article_objectives_path}",
						class:'btn'