.widget
	.widget-header
		i.icon-file
		h3 = 'Create cost'
	.well.well-widget-content
		.widget-content-title Cost
		= form_for objective, url: article_objectives_path(article_id) do |f|
			== render partial: 'fields', locals: { form: f, objective: objective, cost: true }
			br
			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				' &nbsp;
				= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
						"#{article_objectives_path}", 
						class:"btn"