.widget
	.widget-header.admin
		i.icon-file
		h3 
			=' objective.root? ? 'Goal' : 'Criterion'
			' :
			= objective.title
	.well.well-widget-content
		.section
			.widget-content-title 
				=' objective.root? ? 'Goal' : 'Criterion'
			dl.dl-horizontal
				dt Title
				dd = objective.title
				dt Description
				dd 
					= objective.description == "" ? '-' : objective.description
					| &nbsp;
				/ dt Cost
				/ dd 
				/ 	= check_box_tag "Cost", 1, objective.cost, {disabled:true}
		.section
			.section-title 
				= (objective.root? ? 'Criteria' : 'Sub-criteria') + ' under this node'
			-unless objective.children == []
				-if @article.allow_edit?(current_user)
					.btn-toolbar style="margin: 0"
						div.pull-left
							| Comparison done using #{ANALYSIS_METHODS[objective.method]} method
						.btn-group.pull-right
							a.btn.btn-primary.dropdown-toggle data-toggle="dropdown" href="#"
								' Compare weights
								span.caret
							ul.dropdown-menu
								li
									= link_to 'Use MAGIQ method', magiq_compare_article_objective_path(@article_id, objective.id)
								li 
									= link_to 'Use SMART method', direct_compare_article_objective_path(@article_id, objective.id)
								li 
									= link_to 'Use pairwise (AHP) method', pairwise_compare_article_objective_path(@article_id, objective.id)		
								/li 
								/	= link_to 'Assign weights for all leaf sub-criteria', leaves_compare_article_objective_path(@article_id, objective.id)
								/li
								/	= link_to 'Assign equal weights', "#"
					br
					| &nbsp;
				table.table.table-condensed.table-bordered.objectives-table
					thead
						tr
							th No.
							th Title
							-if objective.method_is_magiq?
								th Magiq Order
							th.number Weight
							/th.number Normalized Weight
							th Ratio
					tbody
						- table.each do |row|
							tr
								td = row[:no]
								td = row[:title]
								-if objective.method_is_magiq?
									td = row[:order]
								td.number 
									div = number_with_precision(row[:weight], precision: 2)
								/td.number 
								/	div = "#{child.weight_n.nil? ? '-' : number_to_percentage(child.weight_n*100, precision: 1)}"
								td
									.progress
										.bar style="width: #{row[:ratio]}%"

			-else
				dd 
					em No sub-criteria
		-if @article.allow_edit?(current_user)
			/ I can't for the life of me understand why the element below needs 
			/ margin-bottom:-39px 
			.btn-toolbar.button-toolbar style="margin-bottom:-39px"
				.btn-group
					= link_to '<i class="icon-edit icon-white"></i> Edit'.html_safe,
							edit_article_objective_path(@article_id, objective.id), 
							remote: true, 
							class:"btn btn-primary" 
				.btn-group
					.label.label-warning Add criteria:
					.btn-group
						= link_to "Below", new_sub_path(@article_id, objective.id), 
								remote: true, class:"btn btn-small"
						-unless objective.root?
							= link_to "Same level", new_sub_path(@article_id, objective.parent_id), remote: true, class:"btn btn-small"
						-else
							= link_to "Same level", "#", remote: true, class:"btn btn-small disabled"
				/= form_tag compare_article_ratings_path(@article.id, @objective.id), class:'form-inline' do
				/ .btn-group
				/ 	.label.label-warning Comparison method:&nbsp;
				/ 	= select_tag 'comparison_method', options_for_select(@comparison_methods, "#{@objective.method}"), prompt: 'Select a method'
				/ .btn-group
				/ 	= submit_tag "Compare", class:'btn btn-primary'

					/ control-group
					/ 	= submit_tag "Compare", class:'btn btn-primary'
					/ control-group
					/ 	label.control-label for='comparison_method' Comparison method:&nbsp;
					/ 	= select_tag 'comparison_method', options_for_select(@comparison_methods, "#{@objective.method}"), prompt: 'Select a method'

			| &nbsp;

javascript:
	$('.objectives-table').dataTable( {
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false
	} );