#sidepanel.well.well-sidebar.well-tree
	.section
		.section-title Criteria Tree
		= content_tag "div", id: "objective-tree", data: {article: @article_id} do
			div style="width:90%;"
				= image_tag "ajax-loader.gif"

		-if @article.allow_edit?(current_user)
			ul.nav.nav-list.alt-list
				li class="add_objective" style="display: none"
					-if @article.objectives == []
						a href="#{new_article_objective_path(@article_id)}" data-remote=true
							span.badge class="badge-warning"
								| Add new 
								i.icon-chevron-right
					-else
						a href="#" data-remote=true id="add_sub"
							span.badge class="badge-warning"
								| Add sub-criteria
								i.icon-chevron-right

#sidepanel.well.well-sidebar.well-tree
	.section
		#cost-tree
			-if @article.allow_edit?(current_user)
				.section-title Cost Tree
				-unless @article.objectives.roots.any? {|o| o.cost == true}
					.well.info
						| Optionally, you may want to create a separate tree for costs, so you can do Benefit vs. Cost analysis later.
						a href="#{new_article_objective_path(@article_id)}" data-remote=true class="btn"
							| Create cost tree 
				-else
					= content_tag "div", id: "cost-tree", data: {article: @article_id, cost: true} do
						div
							= image_tag "ajax-loader.gif", class: "ajax-loader"

