- content_for :javascript do
	= javascript_include_tag "objective.js"
	
- content_for :left_frame do
	= render 'tree_list'

#objective_box
	.widget
		.widget-header
			i.icon-file
			h3 Compare criteria using Direct method
		.well.well-widget-content	
			.section
				.widget-content-title Node
				dl.dl-horizontal
					dt Title
					dd = @parent.title

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Put the weight of each criterion in the form below. 
			
			= form_for @parent, url: { action: 'update_direct' } do |form|
				.section
					.section-title Sub-criteria
					table.table.table-condensed.table-bordered.objectives-table		
						thead
							tr
								th No.
								th Title
								th.number Weight
								th.number Normalized weight
						tbody
							- @parent.children.each do |child|
								tr
									/ Now using the magic of accepts_nested_attributes_for
									/ this is now possible in one go!

									= form.fields_for :children, child do |f|
										td.narrow = "#{child.position + 1}"
										td.wide = child.title
										td.number = f.text_field :weight, class:'input-small'
										/ TODO: update the normalized weight using JavaScript
										td.number
											input(class='input-small uneditable_input' type='text' value="#{child.weight_n.nil? ? '-' : number_to_percentage(child.weight_n*100, precision: 1)}" disabled)
											/ Note: to specify parameters with no value, like 
											/ "disabled" above, they need to be put inside parentheses
							/ tr
							/ 	td
							/ 	td
							/ 		strong Total
							/ 	td.number
							/ 		#total = "#{number_with_precision(@parent.total_w, precision: 2)}"
							/ 	td.number
							/ 		#total-normalized = "#{number_to_percentage(100.0, precision: 2)}"
				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
							article_objective_path(@article_id, @parent.id), class: 'btn'

	javascript:
		$('.weights-table').dataTable( {
	    "bPaginate": false,
	    "bLengthChange": false,
	    "bFilter": false,
	    "bSort": true,
	    "bInfo": false,
	    "bAutoWidth": false
	  	} );