- content_for :javascript do
	= javascript_include_tag "objective.js"
	
- content_for :left_frame do
	-if @root.persisted?
		= render 'tree_list'
	-else
		#sidepanel.well.well-sidebar.well-tree
		  .section
		    .section-title Criteria Tree


#objective_box
	-if @root.persisted?
		= render partial: 'table', locals: { objective: @root, 
																				 table: @table }
	-else
		= render partial: 'new_form', locals: { article: @article, 
																objective: @objective, 
																root: @root, 
																article_id: @article_id }

