- content_for :javascript do	
	= stylesheet_link_tag "jslider/css/jslider.css"
	= stylesheet_link_tag "jslider/css/jslider.blue.css"
	= stylesheet_link_tag "jslider/css/jslider.plastic.css"
	= stylesheet_link_tag "jslider/css/jslider.round.css"
	= stylesheet_link_tag "jslider//jslider.round.plastic.css"

	= javascript_include_tag "jslider/js/jshashtable-2.1_src.js"
	= javascript_include_tag "jslider/js/jquery.numberformatter-1.2.3.js"
	= javascript_include_tag "jslider/js/tmpl.js"
	= javascript_include_tag "jslider/js/jquery.dependClass-0.1.js"
	= javascript_include_tag "jslider/js/draggable-0.1.js"
	= javascript_include_tag "jslider/js/jquery.slider.js"
	



- content_for :left_frame do
	= render 'tree_list'


style type="text/css" media="screen"
 .layout { padding: 50px; font-family: Georgia, serif; }
 .layout-slider { margin-bottom: 60px; width: 50%; }

.widget
	.widget-header
		i.icon-file
		h3 = @article.title
	.well.well-widget-content
		#objective_box
			.section
				.widget-content-title Compare criteria using pairwise comparison method
				dl.dl-horizontal
					dt Title
					dd = @parent.title

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Compare each of the following pairs

			= form_for @parent, url: { action: 'update_direct' } do |form|
				.section
					.section-title Pairwise comparison of criteria

					fieldset#pairwise-comparison
						legend
							span Pairwise Numeric Comparison

						- i = 0
						-@pairs.each do |pair|
							- i += 1
							.section
								.layout-slider
									/ pair is an array of [ [id, title] , [id, title] ]
									label for="#{i}a-#{pair.first.first}" = pair.first.last
									input id="#{i}a-#{pair.first.first}" type="slider" name="#{i}a-#{pair.first.first}" value="2"

								.layout-slider
									label for="#{i}b-#{pair.last.first}" = pair.last.last
									input id="#{i}b-#{pair.last.first}" type="slider" name="#{i}b-#{pair.last.first}" value="5"

				= form.submit "Save", class: 'btn btn-primary'

- i = 0
-@pairs.each do |pair|
	- i += 1
	javascript:
		$("##{i}a-#{pair.first.first}").slider({ from: 1, to: 9, step: 1, round: 1, format: { format: '##.0', locale: 'de' }, dimension: '&nbsp;€', skin: "round" });
		$("##{i}b-#{pair.last.first}").slider({ from: 1, to: 9, step: 1, round: 1, format: { format: '##.0', locale: 'de' }, dimension: '&nbsp;€', skin: "round" });
