- content_for :javascript do
	= javascript_include_tag "objective.js"
	
- content_for :left_frame do
	= render 'tree_list'

#objective_box
	.widget
		.widget-header
			i.icon-file
			h3 = @article.title
		.well.well-widget-content
			.section
				.widget-content-title Compare weights for all leaf sub-criteria
				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Put the weight of each criterion in the form below. 
						The score will be normalized so that the total is equal to 100%. The score of the parent criterion will be the sum of the score of all its children.
			
			= form_for @parent, url: { action: 'update_leaves' } do |form|
				.section
					.section-title Sub-criteria
					table.table.table-condensed.table-bordered.objectives-table		
						thead
							tr
								th No.
								th Title
								th.number Weight
								th.number Normalized weight
						tbody
							- @parent.traverse do |child|
								-unless child.root?
									tr
										= form.fields_for child do |f|
											td.narrow = "#{child.position + 1}"
											td.wide 
												-if child.leaf?
													| &nbsp;&nbsp;
													= child.title
												-else
													strong = child.title
											td.number 
												-if child.leaf?
													= f.text_field :weight, class:'input-small'
												-else
													input(class='input-small uneditable_input' type='text' value="-" disabled)
											td.number
												input(class='input-small uneditable_input' type='text' value="#{child.weight_n.nil? ? '-' : number_to_percentage(child.weight_n*100, precision: 2)}" disabled)
							/ tr
							/ 	td
							/ 	td
							/ 		strong Total
							/ 	td.number
							/ 		#total = "#{number_with_precision(@parent.total_w, precision: 2)}"
							/ 	td.number
							/ 		#total-normalized = "#{number_to_percentage(100.0, precision: 2)}"
				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe, 
							article_objective_path(@article_id, @parent.id), class: 'btn'

javascript:
	$('.weights-table').dataTable( {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": false,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false
		} );