- content_for :javascript do
	= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
	= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
	= javascript_include_tag "objective.js"
	
- content_for :left_frame do
	= render 'tree_list'

#objective_box
	.widget
		.widget-header
			i.icon-file
			h3 Compare criteria using MAGIQ method
		.well.well-widget-content	
			.section
				.widget-content-title Compare criteria using MAGIQ comparison method
				dl.dl-horizontal
					dt Node
					dd = @parent.title

			= form_for @parent, url: { action: 'update_magiq' } do |form|
				.section
					.section-title Sub-criteria under this node
					h3#explain-pairwise Put the criteria into desired order

				.section			
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Arrange the following criteria from the most important to the least important by dragging the criteria to the desired position.

					ul#sortable
						-i = 0
						-for child in @parent.children.unscoped.asc(:magiq_order) do
							-i += 1
							li.ui-state-default id='#{child.id}'
								strong.badge.badge-inverse = i
								strong style="margin-left:5px" = child.title
								i.icon-align-justify.pull-right
								= form.fields_for :children, child do |f|
									
									label.pull-right style="margin-right: 15px" Tie
									= f.check_box :tie, class: 'pull-right', style: "margin-right: 5px"
									= f.hidden_field :magiq_order, 
											value: child.magiq_order.nil? ? child.position+1 : child.magiq_order,
											class:'order'

				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							article_objective_path(@article_id, @parent.id), class: 'btn'


javascript:
	$(function() {
		$("#sortable").sortable({
    	update: function(event, ui){  
	              $('ul li').each(function(){
	              $(this).find('strong.badge').html($(this).index()+1);
	              $(this).find('input.order').attr('value', $(this).index()+1);
	              })
             	}
		});
		$("#sortable").disableSelection();
		});





