$("#objective_box").html("<%= escape_javascript(render(partial:'new_form', locals: { article: @article, 
																objective: @objective, 
																root: @root, 
																article_id: @article_id,
																cost: false })) %>")