- content_for :javascript do
	= javascript_include_tag "jquery-ui-1.8.21.custom.min.js"
	= stylesheet_link_tag "ui-lightness/jquery-ui-1.8.21.custom.css"
	= javascript_include_tag "objective.js"
	= javascript_include_tag "ui/pairwise_slider.js"
	
- content_for :left_frame do
	= render 'tree_list'

#objective_box
	.widget
		.widget-header
			i.icon-file
			h3 Compare criteria using pairwise comparison method
		.well.well-widget-content	
			.section
				.widget-content-title Compare criteria using pairwise comparison method
				dl.dl-horizontal
					dt Node
					dd = @parent.title

			= form_for @parent, url: { action: 'update_pairwise' } do |form|
				.section
					.section-title Sub-criteria under this node
					.btn-toolbar style="margin: 0"
						.btn-group.pull-right
							a.btn.dropdown-toggle data-toggle="dropdown" href="#"
								i.icon-asterisk
								'
								'  Scale: 
								span#scale-label Verbal Importance 
								' 
								span.caret
							ul.dropdown-menu
								li
									= link_to 'Verbal importance', "#", id: 'importance-scale'
								li
									= link_to 'Numeric (1-9)', "#", id: 'numeric-scale'
								li
									= link_to 'Numeric (1.0-9.0)', "#", id: 'free-scale'
								li
									= link_to 'Custom . . .', "#"

					h3#explain-pairwise Pairwise Comparison

				.section			
					.alert.alert-info
						a.close data-dismiss="alert" ×
						| Compare the following pairs. Move the slider of the alternative that you think is more important than the other.

					fieldset#pairwise-comparison
						- i=0
						- @parent.pairwise_comparisons.each do |pair|
							- i += 1
							= form.fields_for :pairwise_comparisons, pair do |f|
								.pair-container
									.slider-container.slider-top
										- title1 = @article.objectives.find(pair.id1).title
										label for="#{i}a-#{pair.id1}" = title1
										
										/ .pairwise-slider id="#{i}a" name="#{title1}" data-value="#{pair.value.nil? ? '' : pair.value[/^\d+\.*\d*$/].to_f}"
										/ This part is just for compatibility with old version
										/ It will be replaced with the code above
										.pairwise-slider id="#{i}a" name="#{title1}" data-value="#{pair.value.nil? ? ( @first_slider_values.nil? ? '' : @first_slider_values[i-1] ) : pair.value[/^\d+\.*\d*$/].to_f}"

									.slider-container.slider-bottom
										- title2 = @article.objectives.find(pair.id2).title
										label for="#{i}b-#{pair.id2}" = title2
										/ .pairwise-slider id="#{i}b" name="#{title2}" data-value="#{pair.value.nil? ? '' : pair.value[/\/([0-9.]+)/,1].to_f}"
										/ This part is just for compatibility with old version
										/ It will be replaced with the code above
										.pairwise-slider id="#{i}b" name="#{title2}" data-value="#{pair.value.nil? ? ( @second_slider_values.nil? ? '' : @second_slider_values[i-1] ) : pair.value[/\/([0-9.]+)/,1].to_f}"

									.level id="val-#{i}"  &nbsp;
									= f.hidden_field :id1, value: pair.id1
									= f.hidden_field :id2, value: pair.id2
									= f.hidden_field :value, id:"comparisons_#{i}", value: ""

					/ fieldset#pairwise-comparison			
					/ 	- i=0
					/ 	-@pairs.each do |pair|
					/ 		- i += 1
					/ 		.pair-container
					/ 			/ pair is an array of [ [id, title] , [id, title] ]

					/ 			.slider-container.slider-top
					/ 				label for="#{i}a-#{pair.first.first}" = pair.first.last
					/ 				div.pairwise-slider id="#{i}a" name="#{pair.first.last}" data-value="#{@first_slider_values.nil? ? '' : @first_slider_values[i-1]}"

					/ 			.slider-container.slider-bottom
					/ 				label for="#{i}b-#{pair.last.first}" = pair.last.last
					/ 				div.pairwise-slider id="#{i}b" name="#{pair.last.last}" data-value="#{@second_slider_values.nil? ? '' : @second_slider_values[i-1]}"
								
					/ 			.level id="val-#{i}"  &nbsp;								
					/ 			= hidden_field_tag "comparisons[#{i}]","1"
					/ 			= hidden_field_tag "pairs[#{i}]", '{"id1": "' + pair.first.first.to_s + '" , "id2" : "' + pair.last.first.to_s + '"}'


				#toolbar.button-toolbar
					= form.submit "Save", class: 'btn btn-primary'
					| &nbsp;
					= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
							article_objective_path(@article_id, @parent.id), class: 'btn'






