- content_for :javascript do
	= javascript_include_tag "jqueryui.min.js"		

- content_for :left_frame do
	= render 'tree_list'

.widget
	.widget-header
		i.icon-file
		h3 = @article.title
	.well.well-widget-content
		#objective_box
			.section
				.widget-content-title Compare criteria using pairwise comparison method
				dl.dl-horizontal
					dt Title
					dd = @parent.title

				.alert.alert-info
					a.close data-dismiss="alert" ×
					| Compare each of the following pairs

			= form_for @parent, url: { action: 'update_direct' } do |form|
				.section
					.section-title Pairwise comparison of criteria

					fieldset#pairwise-comparison
						legend
							span Pairwise Numeric Comparison

						- i=0
						-@pairs.each do |pair|
							- i += 1
							.section
								.question
									/ pair is an array of [ [id, title] , [id, title] ]
									label for="num#{i}a-#{pair.first.first}" = pair.first.last
									input.slider type="number" name="num#{i}a-#{pair.first.first}" id="num#{i}a-#{pair.first.first}" value="1" min="1" max="9" size="4" data-units="unit"

									label for="num#{i}b-#{pair.last.first}" = pair.last.last
									input.slider type="number" name="num#{i}b-#{pair.last.first}" id="num#{i}b-#{pair.last.first}" value="1" min="1" max="9" size="4" data-units="unit"

				.section
					.section-title Pairwise comparison of criteria
					fieldset#pairwise-comparison
						legend
							span Pairwise Verbal Comparison
						
						-@pairs.each do |pair|
							.section
								.question
									/ pair is an array of [ [id, title] , [id, title] ]
									label for="ver#{i}a-#{pair.first.first}" = pair.first.last
									select name="ver#{i}a-#{pair.first.last.parameterize}" id="ver#{i}a-#{pair.first.first}"
										option value="1" Equal importance
										option value="3" Moderate importance
										option value="5" Strong importance
										option value="7" Very strong importance
										option value="9" Extreme importance
							
									label for="ver#{i}b-#{pair.last.first}" = pair.last.last
									select name="ver#{i}b-#{pair.last.last.parameterize}" id="ver#{i}b-#{pair.last.first}"
										option value="1" Equal importance
										option value="3" Moderate importance
										option value="5" Strong importance
										option value="7" Very strong importance
										option value="9" Extreme importance

				= form.submit "Save", class: 'btn btn-primary'

