- content_for :javascript do
	= javascript_include_tag "objective.js"
	
- content_for :left_frame do
	= render 'tree_list'

#objective_box
	== render partial: 'table', locals: { objective: @objective, table: @table }