- provide :title, "Resend confirmation instructions"

.login-container
	.widget
		.widget-header
			i.icon-edit
			h3 Resend confirmation instructions
		.well.well-widget-content
			br
			= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
				= render 'shared/error_messages', object: f.object

				.control-group
					= f.label :email, class: "control-label"
					.controls
						= f.email_field :email

				#toolbar.button-toolbar
					= f.submit "Resend confirmation instructions", class: 'btn btn-primary'

	= render "my_devise/shared/links"
