ul.dropdown-menu
	-current_user.notifications.pending.each do |notification|
		li.dropdown id=notification.id
			= link_to notification_path(notification.id), remote: true do
				.notification-subject-menu 
					= notification.title
				.notification-body-menu  
					= truncate(notification.body, length: 30)
