$("#notification-modal").html("<%= escape_javascript(render('notifications/modal_form')) %>");
$("#notification-modal").modal({keyboard: true, backdrop: false});
$("#notification-modal").modal("show");