- provide :title, 'Notice'
title Notice

-unless Participation.where(id:@notification.model_id).exists?
	.alert.alert-error
		span The user associated with this notification seems to have been deleted from the list of participants.

.widget
	.widget-header
		i.icon-inbox
		h3 = "Notice: #{@notification.title}"
	.well.well-widget-content
		.section
			.sldef From
			.srdef = @notification.sender_name
			.sldef Time
			.srdef = @notification.created_at

		.section
			.section-title Message
			.notification-subject 
				strong = @notification.subject
			.notification-body 		= @notification.body

		.section
			.section-title Links
			.links 
				p = link_to "Article", article_path(@notification.article_id)
				p = link_to "Sender profile", user_path(@notification.sender_id)

		.btn-toolbar.button-toolbar
			-if Participation.where(id:@notification.model_id).exists?
				-case @notification.type
				-when 'invite'
					-if @notification.state == 'pending'
						= form_tag confirm_article_participation_path(@notification.article_id, @notification.model_id), { class:'form-inline' } do 
							= hidden_field_tag 'notification', @notification.id
							= submit_tag "Confirm", class: 'btn btn-primary'
							= submit_tag "Decline", class: 'btn btn-warning'
							= link_to '<i class="icon-remove"></i> Cancel'.html_safe, :back, class: 'btn pull-right'
					-else
						= link_to '<i class="icon-remove"></i> Cancel'.html_safe, :back, class: 'btn'
				-when 'request'
					-if @notification.state == 'pending'
						= form_tag approve_article_participation_path(@notification.article_id, @notification.model_id), { class:'form-inline' } do 
							= hidden_field_tag 'notification', @notification.id
							= submit_tag "Approve", class: 'btn btn-primary'
							= submit_tag "Decline", class: 'btn btn-warning'
							= link_to '<i class="icon-remove"></i> Cancel'.html_safe, :back, class: 'btn pull-right'
					-else
						= link_to '<i class="icon-remove"></i> Cancel'.html_safe, :back, class: 'btn'
				-else
					= form_tag dismiss_notification_path(@notification.id), class:'form-inline', method: :post, remote: true do 
						= hidden_field_tag 'page', url_for(:back)
						= submit_tag "OK", class: 'btn btn-primary'
						= link_to :back, class: 'btn' do
							i.icon-remove
							|  Close					
			-else
				= form_tag dismiss_notification_path(@notification.id), class:'form-inline', method: :post, remote: true do 
					= hidden_field_tag 'page', url_for(:back)
					= submit_tag "OK", class: 'btn btn-primary'
					= link_to :back, class: 'btn' do
						i.icon-remove
						|  Close
