.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
      i.icon-minus
  .side-widget-title Admin Menu
  #widget1.collapse.in
    .side-widget-content
      ul.nav.nav-list.alt-list
        li =link_to "Featured Articles", manage_featured_articles_path
        li =link_to "Featured Products", manage_featured_products_path
        li =link_to "Categories", manage_categories_path
        li =link_to "Users' Accounts", manage_users_path 

    .side-widget-divider
    .side-widget-title
      | Search user
    .side-widget-content
      = form_tag manage_users_path, method: :get, class:'pjax' do
        .control-group
          .controls
            .input-append
              = text_field_tag :q, "", class:"input-medium", placeholder:"Search users..."
              = submit_tag "Go!", class:'btn'
