-provide :title, 'Manage Features'

title Manage Features

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
  .widget-header
    i.icon-file
    h3 Current featured article
  .well.well-widget-content
    table.table.table-bordered
      = render @featured_articles

.widget
  .widget-header
    i.icon-file
    h3 Manage featured article
  .well.well-widget-content

