- provide :title, 'Manage users'

title Manage users

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
	.widget-header.admin
		i.icon-file
		h3 = "Users #{@names.blank? ? "" : ", searched for: " + @names}"
	.well.well-widget-content
		table.table.table-bordered
			-for user in @users do
				= render partial: 'user', locals: { user: user }
		= page_navigation_links @users