- provide :title, "Editing user"

- content_for :left_frame do 
  = render partial: 'admin/manage/sidepanel'

#content-box
  .widget
    .widget-header.admin
      i.icon-edit
      h3 Editing user
    .well.well-widget-content
      .widget-content-title
        | User profile

      = form_for @user, url: manage_user_path(@user.id), method: :post do |f|
        - if @user.errors.any?
          .alert.alert-error
            a.close data-dismiss="alert" ×
            = "Please fix the #{inflectize(@user.errors.count, "error")} as indicated below"
            ul
              - @user.errors.full_messages.each do |message|
                li = message

        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name, class: 'input-large'
        .control-group
          = f.label :email, class: "control-label"
          .controls
            = f.text_field :email, class: 'input-large'

        .control-group
          = f.label :account, class: "control-label"
          .controls
            label.radio.inline
              =' f.radio_button :account, 'free'
              | Free
            label.radio.inline
              =' f.radio_button :account, 'basic'
              | Basic
            label.radio.inline
              =' f.radio_button :account, 'academic'
              | Academic
            label.radio.inline
              =' f.radio_button :account, 'pro'
              | Pro

        .control-group
          = f.label :roles, class: "control-label"
          .controls
            label.checkbox.inline
              =' f.check_box :roles, {multiple: true}, 'member', nil
              | Member
            label.checkbox.inline
              =' f.check_box :roles, {multiple: true}, 'admin', nil
              | Admin
            label.checkbox.inline
              =' f.check_box :roles, {multiple: true}, 'editor', nil
              | Editor


        #toolbar.button-toolbar
          = f.submit 'Save', class:'btn btn-primary'
          = link_to manage_users_path, class:'btn' do
            i.icon-remove
            |  Cancel

          = link_to @user, 
              method: :delete,
              class: "btn btn-danger pull-right", 
              confirm: "  This will delete the user and\nall related articles.\n\nAre you sure?", 
              title: @user.name do
            i.icon-trash
            |  Delete