- provide :title, @user.name

- content_for :left_frame do
  = render 'users/sidepanel'

section#user-profile
  
  .row-fluid
    .span6

      blockquote.formatted-output 
        = @user.bio
      / FIXME
      / div id="ff_#{@user.id}"
      /   -if current_user.following?(@user)
      /     ' You are currently following #{@user.name}
      /     = render partial: 'unfollow_button', locals: { user: @user }
      /   -else
      /     ' You are currently not following #{@user.name}
      /     = render partial: 'follow_button', locals: { user: @user } 
    .span5
      .well.side-widget
        .side-widget-header
        .side-widget-title User profile
        .side-widget-content
          .ldef = 'Name '
          .rdef = @user.name
          .ldef = 'Account '
          .rdef = @user.account
          .ldef = 'Privileges '
          .rdef = @user.roles.collect{|r| r.humanize}.join(', ')
          .ldef = 'Since '
          .rdef = @user.created_at.nil? ? "the beginning" : @user.created_at
          br
        -if can? :manage_account, User
          .side-widget-toolbar
            = link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning'

  .well style="background: white"
    / FIXME: these tabs contain bugs related to pagination.
    / After clicking pagination link, it will always show the first (article) tab.
    / May want to change to use Ajax call.
    ul#tab.nav.nav-tabs
      li.active
        a href="#public-articles" data-toggle="tab" Public articles (#{@user.articles.public.count})
      -if @user == current_user and @user.articles.private.any?
        li
          a href="#private-articles" data-toggle="tab" Private articles (#{@user.articles.private.count})
      li
        a href="#participating" data-toggle="tab" Participating (#{@user.participations.all_active.count})
      li
        a href="#bookmarks" data-toggle="tab" Bookmarks (#{@user.watch_count})
      li
        a href="#following" data-toggle="tab" Following (#{@user.following_count})
      li
        a href="#followers" data-toggle="tab" Followers (#{@user.followers_count})
      li
        a href="#badges" data-toggle="tab" Badges
      li
        a href="#reputation" data-toggle="tab" Reputation

    #profile-tab-contents.tab-content
      #public-articles.tab-pane.fade.in.active
        - if @user.articles.public.any?
          .widget
            .widget-header
              i.icon-file
              h3 Public Articles by #{@user.name}
            .well.well-widget-content
              table.table.table-bordered.articles
                - @public_articles.each do |article|
                  = render partial: 'articles/article', locals: { article: article }
              = page_navigation_links @public_articles, :public_articles_page
      -if @user == current_user
        - if @user.articles.private.any?  
          #private-articles.tab-pane.fade.in.active
            .widget
              .widget-header
                i.icon-file
                h3 Private Articles by #{@user.name}
              .well.well-widget-content
                table.table.table-bordered.articles
                  - @private_articles.each do |article|
                    = render partial: 'articles/article', locals: { article: article }
                = page_navigation_links @private_articles, :private_articles_page      
      #participating.tab-pane.fade
        - unless @participating.blank?
          .widget
            .widget-header
              i.icon-file
              h3 Articles #{@user.name} is participating in
            .well.well-widget-content
              table.table.table-bordered.articles
                - @participating.each do |article|
                  = render partial: 'articles/article', locals: { article: article }
      #bookmarks.tab-pane.fade
        - if @user.watch_list.articles.any?
          .widget
            .widget-header
              i.icon-file
              h3 Bookmarks
            .well.well-widget-content
              table.table.table-bordered.articles
                = render @watched_articles
              = page_navigation_links @watched_articles, :watching_page
      #following.tab-pane.fade
        - if @following.any?
          .widget
            .widget-header
              i.icon-user
              h3 Following
            .well.well-widget-content
              table.table.users
                -@following.each do |user|
                  = render partial: 'user', locals: { user: user }
              = page_navigation_links @following, :following_page
      #followers.tab-pane.fade
        - if @followers.any?
          .widget
            .widget-header
              i.icon-user
              h3 Followers
            .well.well-widget-content
              table.table.users
                -@followers.each do |user|
                  = render partial: 'user', locals: { user: user }
              = page_navigation_links @followers, :followers_page
      #badges.tab-pane.fade
        .widget
          .widget-header
            i.icon-user
            h3 Badges
          .well.well-widget-content
            table.table.users
      #reputation.tab-pane.fade
        .widget
          .widget-header
            i.icon-user
            h3 Reputation
          .well.well-widget-content
            table.table.users
