#sidepanel
  .user-info
    .user-avatar-big
      = gravatar_for @user
    .user-name
      = @user.name
    .user-location
      i.icon-map-marker
      span Country
      = @user.location.blank? ? "—" : @user.location
    .user-website
      i.icon-link
      span Website
      = @user.website.blank? ? "—" : link_to(@user.website, @user.website)
    .user-member-since
      i.icon-time
      span Member since
      = @user.created_at.nil? ? "the beginning" : @user.created_at.strftime("%B %Y")
    .user-member-since
      i.icon-group
      span Account type
      = @user.account.capitalize

  = render partial: 'users/follow_form', locals: { user_id: @user.id }

  -if current_user == @user
    .well.side-widget
      .side-widget-header
        a.resize-button data-toggle="collapse" data-target="#widget0" href="#" 
          i.icon-minus
      .side-widget-title Manage Account
      #widget0.collapse.in
        .side-widget-content
          ul.nav.nav-list
            li.alternative.ui-state-default#a1
              = link_to "Edit profile", edit_user_path(@user)+"?fn=a1"
            li.alternative.ui-state-default#a2
              = link_to "Change password", edit_user_registration_path+"?fn=a2"
            li.alternative.ui-state-default#a3
              = link_to "Plans and billing", plans_path, :'data-skip' => true
            li.alternative.ui-state-default#a4
              = link_to "Edit organization", organizations_path + "?fn=a4"



