-unless current_user.id == user_id
	div id="ff_#{user_id}"
		-if @following_ids.include? user_id
			= render partial: 'users/unfollow_button', locals: { user_id: user_id }
		-else
			= render partial: 'users/follow_button', locals: { user_id: user_id }