/ = form_for user, url: user_friend_lists_path(current_user.id), remote: true,
/ 			method: :post do |f|
/ 	.actions
/ 		= f.submit "Follow", class: 'btn btn-small btn-info'
/ 		= f.hidden_field 'id', id: 'user-id', value: user.id

= form_tag user_friend_lists_path(current_user.id), remote: true,
			method: :post do |f|
	.actions
		= submit_tag "Follow", class: 'btn btn-small btn-info'
		= hidden_field_tag :id, user_id