#sidepanel
  .user-info
    .user-avatar-big
      = gravatar_for @user
    .user-name
      = @user.name
    .user-location
      i.icon-map-marker
      span Country
      = @user.location.blank? ? "—" : @user.location
    .user-website
      i.icon-link
      span Website
      = @user.website.blank? ? "—" : link_to(@user.website, @user.website)
    .user-member-since
      i.icon-time
      span Member since
      = @user.created_at.nil? ? "the beginning" : @user.created_at.strftime("%B %Y")

  = render partial: 'users/follow_form', locals: { user_id: @user.id }

  .well.side-widget
    .side-widget-header
    .side-widget-title Articles
    .side-widget-content
      ul.nav.nav-list.alt-list
        li.alternative.ui-state-default#article
          = link_to "Articles", user_path(@user)+"?fn=article", class:"pjax"
        -if current_user == @user and !@user.articles.private.blank?
          li.alternative.ui-state-default#particle
            = link_to "Private articles", user_path(@user)+"?fn=particle", class:"pjax"
        li.alternative.ui-state-default#participating
          = link_to "Participating", user_path(@user)+"?fn=participating"
        li.alternative.ui-state-default#bookmarks
          = link_to "Bookmarks", user_path(@user)+"?fn=bookmarks"
      = link_to new_article_path, class:'btn btn-primary btn-small' do
        i.icon-plus
        |  New article

    .side-widget-divider
    .side-widget-title Products
    .side-widget-content
      ul.nav.nav-list.alt-list
        li.alternative.ui-state-default#product
          = link_to "Products", user_path(@user)+"?fn=product", class:"pjax"
        -if current_user == @user and can? :create, current_user.products.new(visibility:'private')
          li.alternative.ui-state-default#pproduct
            = link_to "Private products", user_path(@user)+"?fn=pproduct", class:"pjax"
        li.alternative.ui-state-default#tracking
          = link_to "Products tracked", user_path(@user)+"?fn=tracking"
      = link_to new_product_path, class:'btn btn-primary btn-small' do
        i.icon-plus
        |  New product

    .side-widget-divider
    .side-widget-title Users
    .side-widget-content
      ul.nav.nav-list.alt-list
        li.alternative.ui-state-default#following
          = link_to "Following", following_user_path(@user)+"?fn=following"
        li.alternative.ui-state-default#followers
          = link_to "Followers", followers_user_path(@user)+"?fn=followers"
        / li.alternative.ui-state-default#badges
        /   = link_to "Badges"
        / li.alternative.ui-state-default#reputation
        /   = link_to "Reputation"
