/ = form_for user, url: user_friend_list_path(current_user.id, user.id), remote: true,
/ 		  method: :delete do |f|
/ 	.actions
/ 		= f.submit "Unfollow", class: 'btn btn-small btn-danger'

= form_tag user_friend_list_path(current_user.id, user_id), remote: true,
		  method: :delete do 
	.actions
		= submit_tag "Unfollow", class: 'btn btn-small btn-danger'