tr
	td
		=' gravatar_for user, size: 30
		=' link_to user.name, user
		div.pull-right
			-if can? :manage, User
				= link_to "Manage user's account", user, class: "btn btn-small btn-warning",
																	method: :account