- provide :title, "Account - #{@user.name}"

- content_for :left_frame do
	= render 'users/account_sidepanel'

#content-box
	.widget
		.widget-header
			i.icon-user
			h3 = @user.name
		.well.well-widget-content
			.widget-content-title
				| Account Info
			dl.dl-horizontal
				dt Name
				dd = @user.name
				dt Email
				dd = @user.email
				dt Account Type
				dd = @user.account.capitalize
				dt Roles
				dd = @user.roles.collect(&:capitalize).join(", ")
				dt Bio
				dd = @user.bio.blank? ?  "—" : raw(@user.bio)
				dt Location
				dd = @user.location.blank? ? "—" : @user.location
				dt Website
				dd = @user.website.blank? ? "—" : link_to(@user.website, @user.website)