- provide :title, "Editing user profile"

- content_for :left_frame do 
	= render partial: 'users/account_sidepanel'

#content-box
	.widget
		.widget-header
			i.icon-user
			h3 Public profile
		.well.well-widget-content
			.widget-content-title
				| User profile

			h4 Tell people a little bit about who you are.

			= form_for @user do |f|
				- if @user.errors.any?
					.alert.alert-error
						a.close data-dismiss="alert" ×
						= "Please fix the #{inflectize(@user.errors.count, "error")} as indicated below"
						ul
							- @user.errors.full_messages.each do |message|
								li = message

				.control-group
					= f.label 'Short bio', class: "control-label"
					.controls
						= f.text_area :bio, class: 'input-xxlarge wysihtml5', rows: 5
				.control-group
					= f.label :location, class: "control-label"
					.controls
						= f.text_field :location, class: 'input-large'
				.control-group
					= f.label :website, class: "control-label"
					.controls
						= f.text_field :website, class: 'input-large'


				#toolbar.button-toolbar
				  = f.submit 'Save Profile', class:'btn btn-primary'
				  .user-avatar.pull-right
				  	=' gravatar_for current_user, size: 20
				  	= link_to "http://gravatar.com/", target: "_blank" do
				  		' Change your avatar at Gravatar.com
				  		' &nbsp;
				  		i.icon-external-link
