- provide :title, 'All users'
.widget
	.widget-header.admin
		i.icon-file
		h3 All users
	.well.well-widget-content
		table.table.table-bordered
			-for user in @users do
				= render partial: 'user_list', locals: { user: user }
		= page_navigation_links @users