- provide :title, "User - #{@user.name}"

- content_for :left_frame do
	= render 'users/profile_sidepanel'

#content-box
	.widget
		.widget-header
			i.icon-user
			h3 = @user.name
		.well.well-widget-content
			.widget-content-title
				| User profile

		table.table
			tr
				td
					p Following 
					p = @user.following_count
				td
					p Followers 
					p = @user.follower_count
				td
					p Bookmark 
					p = @user.watch_count