-provide :title, 'Follow'
title Follow

- content_for :left_frame do
  = render 'users/profile_sidepanel'

-if @mode==:following
  = form_tag(user_friend_lists_path(current_user.id), { class:'well form-inline', remote: true, method: :post }) do 
    = text_field_tag :search, "", class: 'input-large', id: 'autocomplete-field'
    = hidden_field_tag 'id'
    ' 
    = submit_tag "Follow", class: 'btn'

.widget
  .widget-header
    i.icon-user
    h3 = @header_title
  .well.well-widget-content style="padding: 0px"
    - if @users.any?
      table.table
        tbody#users
          -@users.each do |user|
            = render partial: 'users/user', locals: { user: user }

      = page_navigation_links @pages

javascript:
  $(function() {
    function log(item) {      
      //$("#user_name").val(item.value);
      $("#id").val(item.id);
    }

    $("#autocomplete-field").autocomplete({
      source: "/users.json",
      minLength: 2,
      select: function(event, ui) {
        log(ui.item);
      }
    });
    $(".remove-btn").live("click", function(){$(this).parents('.entry').remove()});
  });
      