- provide :title, "User - #{@user.name}"

- content_for :left_frame do
	= render 'users/profile_sidepanel'

#content-box
	.widget
		.widget-header
			i.icon-user
			h3 = @user.name
		.well.well-widget-content
			.widget-content-title
				= @action_title || 'Profile'

			-if params[:fn].blank?
				br
				table.table
					tr
						td style="font-size:44px"
							i.icon-file
						td
							p Public articles
							h3 = @user.articles.public.count
						td
							p Participating
							h3 = @user.participations.all_active.count
						td
							p Bookmarks
							h3 = @user.watch_count
					tr
						td style="font-size:44px"
							i.icon-user
						td
							p Following 
							h3 = @user.following_count
						td
							p Followers 
							h3 = @user.followers_count
						td
							p
				br
				br
				br
			-if params[:fn] == 'article'
				table.table.table-bordered.articles
					- @public_articles.each do |article|
						= render partial: 'articles/article', locals: { article: article }
				= page_navigation_links @public_articles, :page
			-if params[:fn] == 'particle'
				table.table.table-bordered.articles
					- @private_articles.each do |article|
						= render partial: 'articles/article', locals: { article: article }
				= page_navigation_links @private_articles, :page
			-if params[:fn] == 'participating'
				table.table.table-bordered.articles
					- @participating.each do |article|
						= render partial: 'articles/article', locals: { article: article }
				= page_navigation_links @participating, :page
			-if params[:fn] == 'bookmarks'
				table.table.table-bordered.articles
					- @watched_articles.each do |article|
						= render partial: 'articles/article', locals: { article: article }
				= page_navigation_links @watched_articles, :page
			-if params[:fn] == 'product'
				table.table.table-bordered.articles
					- @public_products.each do |product|
						= render partial: 'products/product', locals: { product: product }
				= page_navigation_links @public_products, :page
			-if params[:fn] == 'pproduct'
				table.table.table-bordered.articles
					- @private_products.each do |product|
						= render partial: 'products/product', locals: { product: product }
				= page_navigation_links @private_products, :page
			-if params[:fn] == 'tracking'
				table.table.table-bordered.articles
					- @products_tracked.each do |product|
						= render partial: 'products/product', locals: { product: product }
				= page_navigation_links @products_tracked, :page
