h6 Node Tree
#spacer style="height:7px" &nbsp;
#nodetree.jstree.jstree-0.jstree-default.jstree-focused style="height: 200px"

= javascript_tag '$(function () {$("#nodetree").jstree({"json_data" : {"data" : [{"data" : "Where to open the business", "state" : "open", "children" : [{"data" : "Cost", "children" : [{"data" : "Rental costs", "attr" : { "href" : "#" } }, {"data" : "Maintenance costs", "attr" : { "href" : "#" } } ], "state" : "open" }, {"data" : "Ranking", "attr" : { "href" : "#" } }, {"data" : "Living index", "attr" : { "href" : "#" } } ] } ] }, "core" : { "animation" : 200 }, "themes" : { "theme" : "apple", "icons" : false }, "plugins" : [ "themes", "json_data", "ui" ] }); });'

br 
p class="log" id="log1" style="clear:both;" &nbsp;

/ = javascript_tag 
/     '$(function () {
/       $("#nodetree").jstree({ 
/         "json_data" : {
/           "data" : [
/             {
/               "data" : "Where to open the business",
/               "state" : "open",
/               "children" : [
/                       {
/                         "data" : "Cost",
/                               "children" : [
/                                       {
/                                         "data" : "Rental costs",
/                                         "attr" : { "href" : "#" }
/                                       },
/                                       {
/                                         "data" : {"Maintenance costs",
/                                         "attr" : { "href" : "#" }
/                                       }
/                               ]
/                       },
/                       {
/                         "data" : "Ranking",
/                         "attr" : { "href" : "#" }
/                       },
/                       {
/                         "data" : "Living index",
/                         "attr" : { "href" : "#" }
/                       }
/               ]
/             }
/           ]
/         },
/         "core" : { "animation" : 200 }, 
/         "themes" : { "theme" : "apple", "icons" : false },
/         "plugins" : [ "themes", "json_data", "ui" ]
/       });
/     });'