h6 @header
#spacer style="height:7px" &nbsp;
p 
  @title
  strong @strong_title
#nodetree.jstree.jstree-0.jstree-default.jstree-focused style="height: 200px"
  ul
    - @nodes.each do |node|
      = render partial: 'shared/node', object:node, locals: { type:'', value:'' }

= javascript_tag '$(function () { $("#toggle_node").click(function () {     $("#nodetree").jstree("toggle_node","#phtml_1"); }); $("#nodetree")   .bind("open_node.jstree close_node.jstree", function (e) {      $("#log1").html("Last operation: " + e.type);   })    .jstree({"core" : { "animation" : 140}, "themes" : { "theme" : "default", "icons" : true, "dots" : false}, "ui" : { "select_multiple_modifier" : "alt" }, "plugins" : [ "themes", "html_data", "ui" ] }); });'

br
p class="log" id="log1" style="clear:both;" Log: &nbsp;