#placeholder.span6 style="height: 300px"
javascript:
    $(function () {
        var d1 = #{ @chart_data };
        var ticks = #{{ @chart_ticks }};
        $.plot($('#placeholder'), [
        { label: 'Score',  data: d1},
        ], {
        series: {
            bars: { 
                show: true, 
                align: 'center', 
                barWidth: 0.7 
            }
        },
        xaxis: {
            ticks: ticks
        },
        grid: {
            backgroundColor: { colors: ['#fff', '#eee'] }
        }
    });
    });

