-unless @chart_data.nil?
    #chart.span6 style="height: 300px"
    
    #point-info

    javascript:
        $(document).ready(function(){
            $.jqplot.config.enablePlugins = true;
            var data = #{ @chart_data };
            var chartLabels = #{{ @alternative_labels }};
            var names = #{{ @alternative_names }};
            plot1 = $.jqplot('chart', [data], {
                // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
                // animate: !$.jqplot.use_excanvas,
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                        varyBarColor: true
                    },
                    pointLabels: {show: true}
                },
                series:[{ pointLabels:{ 
                    show: true, 
                    labels: chartLabels, 
                    edgeTolerance:-25, 
                    escapeHTML: false
                }}],
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        show: false,
                        showGridline: false, edgeTolerance:-25, escapeHTML: false,
                        tickOptions: { showGridline: false }
                    },
                    yaxis: {
                        padMax: 1.2
                    }
                },
                grid: {
                    drawBorder: false,
                    shadow: false
                },
                highlighter: {
                    show: true,
                    sizeAdjust: 7.5,
                    tooltipLocation: 's',
                    tooltipContentEditor: function(str, seriesIndex, pointIndex) {
                        var objLabel = names[pointIndex];
                        var val = data[pointIndex];
                        return "<span style='font-weight:bold; font-size:14pt; color:#333'>"+val.toPrecision(2)+"</span>";
                    }
                },
                cursor: {
                    show: false
                }
            });
         
            $('#chart').bind('jqplotDataClick', 
                function (ev, seriesIndex, pointIndex, data) {
                    $('#point-info').html('series: '+ names[pointIndex]+', value: '+data[1].toPrecision(3));
                }
            );
        });

