-unless @chart_data.nil?
    #chart.span6 style="height: 300px"
    br
    #info1.cb-chart-info

    = javascript_include_tag '/assets/jqplot/plugins/jqplot.pointLabels.min.js'
    = javascript_include_tag '/assets/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js'
    = javascript_include_tag '/assets/jqplot//plugins/jqplot.canvasTextRenderer.min.js'
    = stylesheet_link_tag '/assets/jqplot/jquery.jqplot.css'

    style .jqplot-point-label { font-size: 14px; }
    javascript:
        $(document).ready(function(){
            $.jqplot.config.enablePlugins = true;
            var s1 = #{{ @chart_data }};
            var series = #{{ @alternative_labels }};
            var frontier_line = #{{ @frontier_line }};
            var labels = new Array();
            for(var i = 0; i < series.length; i++) { 
                labels = labels.concat( {label: series[i]} )
            };
            plot1 = $.jqplot('chart', [frontier_line].concat(s1), {
                seriesDefaults: {
                    showline: false,
                    showMarker:true, 
                    pointLabels:{ 
                        show:true, 
                        location:'s', 
                        ypadding:3,
                        edgeTolerance: -25
                    }
                },
                series: [
                    {
                        showline: true,
                        showMarker:false,
                        pointLabels:{ show:false }
                    }
                ],
                axes: {
                    xaxis: {
                        label: 'Cost',
                        labelOptions:{
                            fontFamily:'Helvetica Neue',
                            fontSize: '12pt'
                        },
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    },
                    yaxis: {
                        label: 'Benefit',
                        labelOptions:{
                            fontFamily:'Helvetica Neue',
                            fontSize: '12pt'
                        },
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    }
                }
            });
         
            $('#chart').bind('jqplotDataClick', 
                function (ev, seriesIndex, pointIndex, data) {
                    $('#info1').html('<strong>'+data[2]+'</strong><br>Cost: '+ data[0] + '<br>Score: '+data[1].toFixed(3));
                }
            );
        });

