.section style="margin-top: 0px"
	.alert.alert-error
		a.close data-dismiss="alert" ×
		' Alternative evaluation is not complete yet.
		-if @article.objectives.leaves.all? {|o| o.has_incomplete_evaluations? }
			|  In fact, it seems like you haven't done evaluation on the alternatives yet.
		-if @article.objectives.any? {|o| o.has_incomplete_weights? }
			p Objective weighing is not complete yet.
	div
		a.btn href=article_evaluate_path(@article_id)
			i.icon-check
			span  Evaluate now