ul.nav.nav-pills
	li.active
		a Ranking
	li
		a href=article_cost_benefit_path(@article.id) Cost-Benefit Analysis
	li
		a href="#" What if Analysis
	li
		a href=article_sensitivity_path(@article) Sensitivity Analysis

.widget
	.widget-header.ellipsis
		i.icon-file
		h3 Rank and Score
	.well.well-widget-content
		.section
			.widget-content-title With respect to
			h3 
				span.criterion-label
					= @objective.root? ? "Goal: " : "Criterion: "
				= @objective.title unless @objective.nil?
		-if @article.alternatives.empty? or @objective.leaves.any? {|o| o.has_incomplete_ratings? } or @objective.children.any? {|o| o.has_incomplete_weights? }
			= render 'incomplete_evaluation_messages'
		-else
			.section style="padding-top: 0px"
				.widget-content-title Chart
				#chart-box style="height: 300px; margin-bottom: 10px"
					= render partial: 'chart'
			.section style="padding-top: 0px"
				.widget-content-title Table
				#table-box style="margin-top: 10px; padding:10px 0; position: relative"
					= render partial: 'score_table'