- content_for :javascript do
  = javascript_include_tag "sensitivity_analysis.js"

#sidepanel.well.well-sidebar.well-tree
  .section
    .section-title Criteria Tree
    -unless @score_table.nil?
	    = content_tag "div", id: "analyses-tree", data: {article: @article_id} do
	      = image_tag "ajax-loader.gif"