- content_for :javascript do
  = javascript_include_tag "analyses.js"

#sidepanel.well.well-sidebar.well-tree
  .section
    .section-title Criteria Tree
    -unless @score_table.nil?
	    = content_tag "div", id: "analyses-tree", data: {article: @article_id} do
	      = image_tag "ajax-loader.gif"

/ #sidepanel.well.well-sidebar
/   .section
/     .section-title Alternative List
/     ul.nav.nav-list.alt-list
/       li.nav-header Alternatives
/       -if @article.alternatives
/         - @article.alternatives.each do |alternative|
/           -if alternative.title != ""
/             li class="alternative alt#{alternative.id}"
/               a href="#{article_alternative_analysis_path(@article_id, alternative.id.to_s)}" data-remote=true
/                 span.badge class="badge-#{type}"
/                   = alternative.position 
/                 ' &nbsp;
/                 = truncate(alternative.title, length: 25)
 