- content_for :left_frame do
	= render 'side_panel'

- content_for :javascript do
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.barRenderer.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.highlighter.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.cursor.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.pointLabels.min.js'
	= stylesheet_link_tag '/assets/jqplot/jquery.jqplot.min.css'

#content-box
	ul.nav.nav-pills
		li.active
			a Ranking
		li
			a href=article_cost_benefit_path(@article) Cost-Benefit Analysis
		li
			a href="#" What if Analysis
		li
			a href=article_sensitivity_path(@article) Sensitivity Analysis

	.widget
		.widget-header.ellipsis
			i.icon-file
			h3 = "Rank with respect to goal: #{@goal.title unless @goal.nil?}"
		.well.well-widget-content
			-if @article.objectives.empty? or @article.alternatives.empty? or @article.objectives.leaves.any? {|o| o.has_incomplete_evaluations? } or @article.objectives.any? {|o| o.has_incomplete_weights? }
				= render 'incomplete_evaluation_messages'
			-else
				.section
					.widget-content-title Chart
					#chart-box style="height: 300px; margin-bottom: 10px"
						= render partial: 'chart'
				.section style="padding-top: 0px"
					.widget-content-title Detail Chart
					#chart-box style="height: 300px; margin-bottom: 10px"
						= render partial: 'stacked_chart'
				.section style="padding-top: 0px"
					.widget-content-title Table
					#table-box style="margin-top: 10px; padding:10px 0; position: relative"
						= render partial: 'score_table'

javascript:
	$(function() {
      $('#analyses-tree').bind(
        'tree.click',
        function(event) {
          var node = event.node;
          $.get("/articles/#{@article.id}/objectives/"+node.id+"/analyses/rank.js");
        }
      );
    });