- content_for :left_frame do
	= render 'side_panel'

#content-box
	ul.nav.nav-pills
		li
			a href=article_analysis_path(@article) Ranking
		li.active
			a Cost-Benefit Analysis
		li
			a href="#" What if Analysis
		li
			a href=article_sensitivity_path(@article) Sensitivity Analysis

	.widget
		.widget-header.ellipsis
			i.icon-file
			h3 = "Cost-Benefit Analysis"
		.well.well-widget-content
			-if @article.objectives.empty? or @article.alternatives.empty? or @article.objectives.leaves.any? {|o| o.has_incomplete_evaluations? } or @article.objectives.any? {|o| o.has_incomplete_weights? }
				= render 'incomplete_evaluation_messages'
			-else
				.section
					.widget-content-title Rank by Benefit/Cost Ratio
					-unless @cost_benefit_table.nil?
						table.rank-table.table.table-condensed.table-bordered.table-striped
							thead
								tr
									th Rank
									th Alternative
									th.number Score
									th.number Cost
									th.number Normalized Cost
									th.number Benefit/Cost Ratio
							tbody
								- i = 0
								-for alt in @cost_benefit_table
									-unless alt.nil?
										-i+=1
										tr
											td.narrow = i
											td = alt[:title]
											td.number = "#{number_with_precision(alt[:score], precision: 3 )}"
											td.number = alt[:cost]
											td.number = "#{number_with_precision(alt[:cost_n], precision: 3 )}"
											td.number = "#{number_with_precision(alt[:ratio], precision: 3 )}"
				.section style="padding-top: 0px"
					.widget-content-title Chart
					#chart-box style="height: 300px; margin-bottom: 10px"
						= render partial: 'cost_benefit_chart'

javascript:
	$('.rank-table').dataTable( {
		"bPaginate": false,
		"bLengthChange": false,
		"bFilter": false,
		"bSort": true,
		"bInfo": false,
		"bAutoWidth": false
	} );
						
