- content_for :left_frame do
	= render 'side_panel'

#content-box
	.widget
		.widget-header.ellipsis
			i.icon-file
			h3 Incomplete Data
		.well.well-widget-content
			= render 'incomplete_evaluation_messages'