- content_for :left_frame do
	= render 'side_panel'

.widget
	.widget-header
		i.icon-file
		h3 = @article.title 
	.well.well-widget-content
		#content-box
			.section
				#chart-box
					= render partial: 'chart'
			.section
				#table-box
					= render partial: 'table'