- content_for :left_frame do
	= render 'side_panel'

#content-box
	ul.nav.nav-pills
		li
			a href=article_analysis_path(@article.id) Ranking
		li.active
			a href=article_cost_benefit_path(@article.id) Cost-Benefit Analysis
		li
			a href="#" What if Analysis
		li
			a Sensitivity Analysis

	.widget
		.widget-header.ellipsis
			i.icon-file
			h3 Sensitivity Analysis gsdf serg sdfb serg 
		.well.well-widget-content
			-if @article.objectives.empty? or @article.alternatives.empty? or @article.objectives.leaves.any? {|o| o.has_incomplete_ratings? } or @article.objectives.any? {|o| o.has_incomplete_weights? }
				= render 'incomplete_evaluation_messages'
			-else
				.section
					.widget-content-title Sensitivity Chart
					#sensitivity-chart-box style="height: 300px; margin-bottom: 10px"
						= render partial: 'sensitivity_chart'
