- content_for :left_frame do
	= render 'side_panel_sensitivity'

- content_for :javascript do
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.barRenderer.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.cursor.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.pointLabels.min.js'
	= javascript_include_tag '/assets/jqplot/plugins/jqplot.canvasOverlay.min.js'
	= stylesheet_link_tag '/assets/jqplot/jquery.jqplot.min.css'

#content-box
	ul.nav.nav-pills
		li
			a href=article_analysis_path(@article) Ranking
		li
			a href=article_cost_benefit_path(@article) Cost-Benefit Analysis
		li
			a href="#" What if Analysis
		li.active
			a Sensitivity Analysis

	.widget
		.widget-header.ellipsis
			i.icon-file
			h3 Sensitivity Analysis
		.well.well-widget-content
			.well
				h3 Select a criterion at left

javascript:
	$(function() {
			$('ul.tree').find('.title').first().addClass('unselectable-node');
      $('#analyses-tree').bind(
        'tree.click',
        function(event) {
          var node = event.node;
          $.get("/articles/#{@article.id}/objectives/"+node.id+"/analyses/sensitivity_chart.js");
        }
      );
    });