- provide :title, "User settings"
.widget
  .widget-header
    i.icon-edit
    h3 = "User settings"
  .well.well-widget-content
    br
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| 
      = render 'shared/error_messages', object: f.object

      .control-group
        = f.label :email, class: "control-label"
        .controls
          = f.email_field :email, class: 'span4'

      .control-group 
        = f.label :name, class: "control-label"
        .controls
          = f.text_field :name, class: 'span4'

      .control-group 
        = f.label :password, class: "control-label" 
        i = "(leave blank if you don't want to change it)"
        .controls
          = f.password_field :password, :autocomplete => "off", class: 'span4'

      .control-group 
        = f.label :password_confirmation, class: "control-label"
        .controls
          = f.password_field :password_confirmation, class: 'span4'

      .control-group 
        = f.label :current_password, class: "control-label"
        i (we need your current password to confirm your changes)
        .controls
          = f.password_field :current_password, class: 'span4'

      #toolbar.button-toolbar 
        = f.submit "Update", class:"btn btn-primary"
        div.pull-right
          ' Unhappy?
          = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, class: "btn"
= link_to "Back", :back, class: "btn"
