-provide :title, 'Home'

/.well style="padding:8px"
/ FIXME: This is just a stub

/ script type="text/javascript"
/ 	| $(".collapse").collapse();
/ 		$('#advanced-search').on('hidden', function () {
/ 		  $('#advance-search-label').html('Show advance search');
/ 		});
/ 		$('#advanced-search').on('shown', function () {
/ 		  $('#advance-search-label').html('Hide advance search');
/ 		})

/ .search-container
/ 	= form_tag search_articles_path, method: :get, class:"form-search form-horizontal" do |form|
/ 		= text_field_tag :q, "", class:"input-medium search-query span4", placeholder:"Search for articles"
/ 		= submit_tag "Search", class:"btn"
/ 		a id="advance-search-label" href="#" data-toggle="collapse" data-target="#advanced-search"
/ 			| Toggle advanced search

/ 		#advanced-search.collapse
/ 			br
/ 			.control-group
/ 				label.control-label Category:    
/ 				.controls
/ 					select.span2
/ 						option Technology
/ 						option Lifestyle
/ 						option Travel
/ 						option etc.

.marketing-content
	.hero-unit
		h1.blue Share your wisdom. 
		h1.green Watch it grow.
		br
		p.blue Life is all about making decisions. Big and small. While we all need help sometimes, you  may be the help someone needs out there.
		p Sign up for free. Create unlimited articles. Invite your friends to participate.


.widget
	.widget-header
		i.icon-star-empty
		h3 Featured Articles
	.well.well-widget-content.content-with-table
		= render partial: 'articles/featured_articles', locals: { featured_articles: @featured_articles }

.widget
	.widget-header
		i.icon-star-empty
		h3 Featured Products
	.well.well-widget-content.content-with-table
		= render partial: 'products/featured_products', locals: { featured_products: @featured_products }

.widget
	.widget-header.front-page
		i.icon-asterisk
		h3 New and Updated Articles
		/ div.pull-right style="margin-right:10px"
		/ 	.btn-group
		/ 		a.btn.btn-mini.dropdown-toggle data-toggle="dropdown" href="#"
		/ 			' Sort by:
		/ 			span.caret
		/ 		ul.dropdown-menu.pull-right
		/ 			li
		/ 				a href="#"
		/ 					i.icon-user
		/ 					|  Participation
		/ 			li
		/ 				a href="#"
		/ 					i.icon-star
		/ 					|  Rating
		/ 			li
		/ 				a href="#"
		/ 					i.icon-eye-open
		/ 					|  Watched
	.well.well-widget-content.content-with-table
		= render 'articles/new_and_updated'

/ .widget
/ 	.widget-header.front-page
/ 		i.icon-star
/ 		h3 Top-rated Articles
/ 	.well.well-widget-content
/		= render 'articles/featured'

/ .widget
/ 	.widget-header.front-page
/ 		i.icon-file
/ 		h3 All Articles
/ 	.well.well-widget-content 
/ 		table.table.table-striped.table-bordered.table-condensed
/ 			- @articles.each do |article|
/ 				tr
/ 					td = link_to article.title, article
/ 					td = article.description
/ 					td = article.user.name
/ 		= page_navigation_links @articles