<div id="page" class="well">
    <h1>Test tree</h1>
    <div id="tree1"></div>
    <script>
        $(function() {
            $.getJSON(
            "/articles/4fa1ee09463a9925d100005c/objectives.json",
            
            function(data) {
                $('#tree1').tree({
                    data: [data],
                    autoOpen: 0,
                    dragAndDrop: true,
                    selectable: true,
                    onCreateLi: function(node, $li) {
                    // Add 'icon' span before title
                    $li.find('.title').before('<span class="icon"></span>');}
                            });
            }
            )});
            $('#tree1').bind(
                'tree.click',
                function(event) {
                    // The clicked node is 'event.node'
                    var node = event.node;
                    alert(node.name);
                }
            );
    </script>
</div>
