-provide :title, 'Pricing Plans'

.pricing-plans-page
	.pricing-plans-container
		
		-if signed_in?
			h3 
				| You are currently on 
				em
					span.orange = current_user.account.capitalize
				|  plan.
			h4 You may upgrade or downgrade your account plan here.
		-else
			h1 
				| Sign up for free. 
				small 
					|  No credit card required.

		.center
			.plan-widget
				.plan-widget-header
					.plan Free
				.plan-widget-price
					h1 
						| $0
						small 
							| /month
				.plan-widget-content
					ul.plan
						li.plan
							strong Unlimited 
							| public articles
							br
							strong Unlimited 
							| participants
						li.plan
							strong No 
							|  private articles
						li.plan
							strong No 
							|  file storage
						li.plan
							strong Community 
							|  support
				.plan-widget-footer
					= link_to "Sign Up, Free", new_user_registration_path, class:'btn'

			.plan-widget
				.plan-widget-header
					.plan Basic
				.plan-widget-price
					h1
						| $4
						small
							| /month
				.plan-widget-content
					ul
						li.plan
							strong Unlimited  
							|  public articles
							br
							strong Unlimited  
							|  participants
						li.plan
							strong 20 
							|  private articles
							br
							strong 5  
							|  participants
							i.icon-question-sign rel='popover' data-content='5 participants on the Free Plan plus Unlimited number of participants on the Basic, Pro or Commerce Plan' data-original-title='Private Articles'
						li.plan
							strong 1GB 
							|  file storage
						li.plan 
							strong Community 
							|  support
				.plan-widget-footer
					button.btn Buy Now

			.plan-widget
				.plan-widget-header.orange
					.plan Pro
				.plan-widget-price.orange
					h1
						| $45
						small
							| /month
				.plan-widget-content
					ul
						li.plan
							strong Unlimited  
							|  public articles
							br
							strong Unlimited  
							|  participants
						li.plan
							strong Unlimited 
							|  private articles
							br
							strong 10  
							|  participants 
							i.icon-question-sign rel='popover' data-content='10 participants on the Free or Basic Plan plus Unlimited number of participants on the Pro or Commerce Plan' data-original-title='Private Articles'
						li.plan
							strong Unlimited 
							|  file storage
						li.plan
							strong Advanced 
							|  features
							i.icon-question-sign rel='popover' data-content='Advanced options for comparison method, export/import (CSV, Excel, PDF), reporting.' data-original-title='Pro Features'
						li.plan 
							strong Email 
							|  support
				.plan-widget-footer
					button.btn.btn-warning Buy Now

			.plan-widget
				.plan-widget-header
					.plan Commerce
				.plan-widget-price
					h1
						| $199
						small
							| /month
				.plan-widget-content
					ul
						li.plan
							strong Unlimited  
							|  public articles
							br
							strong Unlimited  
							|  participants
						li.plan
							strong Unlimited 
							|  private articles
							br
							strong Unlimited  
							|  participants
						li.plan
							strong Unlimited 
							|  file storage
						li.plan
							strong Advanced 
							|  features
							i.icon-question-sign rel='popover' data-content='Advanced analysis of products usage and preferences, Featured Products options, product catalogs.' data-original-title='Commerce Features'
						li.plan
							strong Unlimited 
							|  Product Catalogs
						li.plan 
							strong Email 
							|  support
				.plan-widget-footer
					button.btn Buy Now

	/ ul.plan-faqs
	/ 	li Other account types?

	/ 	p Need an enterprise arrangement or want to use FOREPLOT in an educational setting? Please contact us with your particular requirements.

	/ 	li Can I pay yearly?

	/ 	p Yes, the yearly billing cycle offers a 2 month discount. We will issue you with an receipt after a payment is confirmed.

	/ 	li Can I switch plans?

	/ 	p You can upgrade your free account to a premium account and switch between paid plans at any time .


	/ 	li Can I cancel my account?

	/ 	p Yes, you can cancel your account at any time, premium accounts will remain active until the current billing cycle ends.

	/ 	li When do I get billed?

	/ 	p Billing begins on the day you purchase a paid plan. You pay monthly or yearly depending on your chosen account type.

	/ 	li How safe is my data?

	/ 	p FOREPLOT offers industry standard SSL security and your data is hosted in a secure facility and backed up regularly.

javascript:
	$(function() {
		$("i[rel=popover]").popover({trigger:'hover', placement: 'bottom'});
	});