/ #page.well
/ 	h1 My articles
/ 	#my-articles-list-menu

/ javascript:
/ 	$(function() {
/ 	  $.getJSON( '/my_articles.json',
/ 	    function(data) {
/ 	      $('#my-articles-list-menu').tree({
/ 	        data: data,
/ 	        autoOpen: true,
/ 	        dragAndDrop: false,
/ 	        selectable: true,
/ 	        onCreateLi: function(node, $li) {
/ 	          if (node.children.length == 0) {
/ 	            $li.find('.title').before('<i class="icon-document"></i> ');
/ 	          } else {
/ 	            $li.find('.title').before('<i class="icon-list"></i> ');
/ 	          };
/ 	        }
/ 	      });
/ 	    });		
/ 	  $('#my-articles-list-menu').bind(
/ 	    'tree.click',
/ 	    function(event) {
/ 	      var node = event.node;
/ 	      $.get("/articles/"+node.id+".js");
/ 	    });
/ 		});
-provide :title, 'Tree'
#page.well
	h1 Criteria Tree
	= content_tag "div", id: "criteria-tree", data: {url:"/criteria/50560bf9463a99334700004b/tree.json"} do
				div style="width:90%;"
					= image_tag "ajax-loader.gif"

-data =   "{\"label\":\"Best Rails IDE\",\"id\":\"50560bf9463a99334700004b\",\"weights_incomplete\":false,\"ratings_incomplete\":false,\"children\":[{\"label\":\"Syntax highlighting\",\"id\":\"50560c30463a99334700004f\",\"weights_incomplete\":false,\"ratings_incomplete\":false,\"children\":[]},{\"label\":\"Rails command support\",\"id\":\"50560c53463a993347000056\",\"weights_incomplete\":false,\"ratings_incomplete\":false,\"children\":[]},{\"label\":\"Server support\",\"id\":\"50560c64463a99334700005b\",\"weights_incomplete\":false,\"ratings_incomplete\":false,\"children\":[{\"label\":\"Database server\",\"id\":\"50560c7d463a993347000062\",\"weights_incomplete\":false,\"ratings_incomplete\":false,\"children\":[]},{\"label\":\"Development web server\",\"id\":\"50560c72463a99334700005f\",\"weights_incomplete\":false,\"ratings_incomplete\":false,\"children\":[]}]}]}" 
javascript:
	var data = #{{data}}
	var data0 = {'label':'The Best Rails IDE','id':'50560bf9463a99334700004b','weights_incomplete':false,'ratings_incomplete':false,children:[{'label':'Syntax highlighting','id':'50560c30463a99334700004f','weights_incomplete':false,'ratings_incomplete':false,children:[]},{'label':'Rails command support','id':'50560c53463a993347000056','weights_incomplete':false,'ratings_incomplete':false,children:[]},{'label':'Server support','id':'50560c64463a99334700005b','weights_incomplete':false,'ratings_incomplete':false,children:[{'label':'Database server','id':'50560c7d463a993347000062','weights_incomplete':false,'ratings_incomplete':false,children:[]},{'label':'Development web server','id':'50560c72463a99334700005f','weights_incomplete':false,'ratings_incomplete':false,children:[]}]}]};
	$('#criteria-tree').tree({
		data: [data],
		autoOpen: true
	});

/ javascript:
/ 	$.getJSON('/criteria/50560bf9463a99334700004b/tree.json',
/ 		function(data) {
/ 			$('#criteria-tree').tree({
/ 				data: [data],
/ 				autoOpen: true
/ 		 	})
/ 		 });
