-@user = current_user
header
	a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse"
		span.icon-bar
		span.icon-bar
		span.icon-bar
	= link_to logo, root_path, class: "brand"
	nav.nav-collapse
		ul.nav.pull-right
			li
				a href=root_path
					i.icon-home
			-if signed_in? and current_user.admin?
				li.divider-vertical
				li.dropdown
					a.dropdown-toggle href="#" data-toggle="dropdown"
						i.icon-cog
						|  Admin 
						b.caret
					ul.dropdown-menu
						li
							a href=manage_featured_articles_path
								i.icon-star-empty
								|  Manage Featured Articles
						li
							a href=users_path
								i.icon-user
								|  Manage users
						li
							a href=categories_path
								i.icon-th-list
								|  Manage categories
			li.divider-vertical
			li.dropdown
				a.dropdown-toggle href="#" data-toggle="dropdown"
					i.icon-file
					|  Articles 
					b.caret
				ul.dropdown-menu
					li
						a href=featured_articles_path
							i.icon-star-empty
							|  Featured
					li
						a href="#" 
							i.icon-star
							|  Top rated
					li
						a href=new_and_updated_path 
							i.icon-asterisk
							|  New and updated
					-if signed_in?
						li.divider
						li 
							a href=my_articles_path
								i.icon-file
								|  My articles
						li
							= link_to new_article_path, remote: true do
								i.icon-edit
								|  Create new article
			- if user_signed_in?
				li.dropdown
					a.dropdown-toggle href="#" data-toggle="dropdown"
						i.icon-inbox
						'  Inbox
						- pending = current_user.pending_notifications?
						- if pending
							span.badge.badge-error = current_user.notifications.pending.count
							b.caret
					-if pending
						= render partial: 'notifications/menu_list'
				li.divider-vertical
				li.dropdown
					a.dropdown-toggle.user-name href="#" data-toggle="dropdown"
						=' gravatar_for current_user, size: 20
						strong
							=' current_user.name
						b.caret
					ul.dropdown-menu
						li = link_to "Profile", current_user
						li = link_to "Account Settings", edit_user_registration_path
						li = link_to "Following (#{@user.following_count})", following_user_path(@user)
						li = link_to "Followers (#{@user.followers_count})", followers_user_path(@user)
						li.divider
						li = link_to "Sign out", destroy_user_session_path, method: :delete
			- else
				li
					= link_to "Sign in", new_user_session_path
				li
					= link_to "Sign up", new_user_registration_path
					

