.subnavbar
	.subnavbar-inner
		.container
			ul.mainnav
				li.active
					a href="/manage/feature"
						i.icon-star-empty
						span Featured
				li
					a href=users_path
						i.icon-user
						span Users
				li
					a href="#"
						i.icon-th
						span ...
				li
					a href="#"
						i.icon-check
						span ...
				li
					a href="#"
						i.icon-cog
						span Settings


