#footer-spacer
#footer
	.container-fluid.clearfix
		.row-fluid
			.span1
			.span2
				h5 Foreplot
				ul.footer-info
					li About us
					li Blog
			.span2
				h5 Legal
				ul.footer-info
					li Terms
					li Privacy
					li Security
			.span2
				h5 Documentations
				ul.footer-info
					li Foreplot Help
					li Forum
					li 
			.span2
				h5 More
				ul.footer-info
					li = link_to "Pricing", plans_path
					li Academic
					li Advertisers
			.span2
				span.copyright © 2013 Foreplot
				br
				br
				div 45832-19278
