-@user = current_user

header
	a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse"
		span.icon-bar
		span.icon-bar
		span.icon-bar
	= link_to logo, root_path, class: "brand"

	nav.nav-collapse
		ul.nav.pull-right
			li
				.search-form
					= form_tag articles_path, method: :get, class:"form-horizontal" do |form|
						= text_field_tag :q, "", class:"input-medium span3", placeholder:"Search articles..."

			li.divider-vertical
			li rel="tooltip" data-original-title="Home"
				= link_to :root do
					i.icon-home
			-if signed_in? && (current_user.has_role?(:admin) || current_user.has_role?(:editor))
				/li.divider-vertical
				li.dropdown
					a.dropdown-toggle href="#" data-toggle="dropdown"
						i.icon-cogs
						|  Admin 
						b.caret
					ul.dropdown-menu
						-if can? :manage, FeaturedArticle
							li
								a href=manage_featured_articles_path
									i.icon-star-empty
									|  Manage Featured Articles
						-if can? :manage, FeaturedProduct
							li
								a href=manage_featured_products_path
									i.icon-star
									|  Manage Featured Products
						-if can? :manage, Category
							li
								a href=manage_categories_path
									i.icon-th-list
									|  Manage categories
						-if can? :manage, User
							li
								a href=manage_users_path
									i.icon-user
									|  Manage users
			li.divider-vertical
			li.dropdown rel="tooltip" data-original-title="Articles"
				a.dropdown-toggle href="#" data-toggle="dropdown"
					/i.icon-file
					=  "Articles "
					b.caret
				ul.dropdown-menu
					li
						a href=featured_articles_path
							i.icon-star-empty
							|  Featured
					li
						a href="#{top_articles_path}?fn=views" 
							i.icon-star
							|  Top rated
					li
						a href=new_and_updated_path 
							i.icon-asterisk
							|  New and updated
					-if signed_in?
						li.divider
						li 
							h5 &nbsp;&nbsp; Articles...
						li 
							a href=my_articles_path
								i.icon-file
								|  I created
						li
							a href=participating_path
								i.icon-group
								|  I'm participating in
						li
							a href=watch_list_path
								i.icon-eye-open
								|  I'm watching
						li.divider
						li
							= link_to new_article_path do
								i.icon-plus
								|  Create new article
			li.dropdown rel="tooltip" data-original-title="Products"
				a.dropdown-toggle href="#" data-toggle="dropdown"
					/i.icon-truck
					= "Products "
					b.caret
				ul.dropdown-menu
					li
						a href=featured_products_path
							i.icon-star-empty
							|  Featured
					li
						a href=top_products_path
							i.icon-star
							|  Top rated
					li
						a href="#{top_products_path}?fn=views"
							i.icon-asterisk
							|  Popular
					-if signed_in?
						li.divider
						li &nbsp;&nbsp; Products...
						li 
							a href="#{products_path}?o=wn"
								i.icon-file
								|  I created
						li
							a href="#{products_path}?fn=tracking"
								i.icon-eye-open
								|  I'm tracking
						li.divider
						li
							= link_to new_product_path do
								i.icon-plus
								|  Create new product
			- if user_signed_in?
				li.dropdown rel="tooltip" data-original-title="Inbox"
					a.dropdown-toggle href="#" data-toggle="dropdown"
						i.icon-inbox
						/'  Inbox
						- pending = current_user.pending_notifications?
						- if pending
							span.badge.badge-error#inbox-nr = current_user.notifications.pending.count
							b.caret
					-if pending
						= render partial: 'notifications/menu_list'
				li.divider-vertical
				li.dropdown
					a.dropdown-toggle.user-name.user-avatar href="#" data-toggle="dropdown"
						=' gravatar_for current_user, size: 20
						strong
							=' current_user.name
						b.caret
					ul.dropdown-menu
						li = link_to "User Profile", current_user
						li = link_to "Manage Account", edit_user_path(@user)+"?fn=a1"
						li.divider
						li = link_to "Logout", destroy_user_session_path, method: :delete
			- else
				li
					= link_to "Login", new_user_session_path, 'data-skip' => true
				li
					= link_to "Sign up", new_user_registration_path
					

