-unless @chart_data.nil?
    #chart style="height: 300px; width: 80%"
    br
    #info1.cb-chart-info

    javascript:
        $(document).ready(function(){
            $.jqplot.config.enablePlugins = true;
            var s1 = #{{ @chart_data }};
            var frontier_line = #{{ @frontier_line }};
            plot1 = $.jqplot('chart', [frontier_line].concat(s1), {
                seriesDefaults: {
                    showline: false,
                    showMarker:true, 
                    pointLabels:{ 
                        show:true, 
                        location:'s', 
                        ypadding:3,
                        edgeTolerance: -25
                    }
                },
                series: [
                    {
                        showline: true,
                        showMarker:false,
                        pointLabels:{ show:false }
                    }
                ],
                axes: {
                    xaxis: {
                        label: 'Cost',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    },
                    yaxis: {
                        min: 0.0,
                        max: #{{ @max }},
                        label: 'Benefit',
                        labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                    }
                }
            });
         
            $('#chart').bind('jqplotDataClick', 
                function (ev, seriesIndex, pointIndex, data) {
                    $('#info1').html('<strong>'+data[2]+'</strong><br>Cost: '+ data[0] + '<br>Score: '+data[1].toFixed(3));
                }
            );
        });
