-unless @chart_data.nil?
    #placeholder.span6 style="height: 300px; margin-left: 50px"
    
    #point-info

    style .jqplot-point-label { font-size: 12px; }
    javascript:
        $(document).ready(function(){
            $.jqplot.config.enablePlugins = true;
            var data = #{ @chart_data };
            var chartLabels = #{{ @alternative_labels }};
            var names = #{{ @alternative_names }};
            plot1 = $.jqplot('placeholder', [data], {
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                        varyBarColor: true
                    }
                },
                series:[
                    {pointLabels:{
                        show: true,
                        labels: chartLabels
                    }}],
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: names
                    }
                }
            });
         
            $('#placeholder').bind('jqplotDataClick', 
                function (ev, seriesIndex, pointIndex, data) {
                    $('#point-info').html('series: '+ names[pointIndex]+', value: '+data[1].toPrecision(3));
                }
            );
        });