- action = params[:action]
- group_tag = @aggregate ? '&g=a' : ''
ul.nav.nav-pills.results
	-if action=='results' or action=='rank'
		li.active
			a Ranking
		li
			a href=article_benefit_cost_path(@article)+"?p=#{@participation.id}"+group_tag Benefit-Cost Analysis
		li
			a href=article_flow_diagram_path(@article)+"?p=#{@participation.id}"+group_tag Flow Diagram
		li
			a href=article_sensitivity_analysis_path(@article)+"?p=#{@participation.id}"+group_tag Sensitivity Analysis
	-elsif action=='benefit_cost'
		li
			a href=article_results_path(@article)+"?p=#{@participation.id}"+group_tag Ranking
		li.active
			a Benefit-Cost Analysis
		li
			a href=article_flow_diagram_path(@article)+"?p=#{@participation.id}"+group_tag Flow Diagram
		li
			a href=article_sensitivity_analysis_path(@article)+"?p=#{@participation.id}"+group_tag Sensitivity Analysis
	-elsif action=='flow_diagram'
		li
			a href=article_results_path(@article)+"?p=#{@participation.id}"+group_tag Ranking
		li
			a href=article_benefit_cost_path(@article)+"?p=#{@participation.id}"+group_tag Benefit-Cost Analysis
		li.active
			a Flow Diagram
		li
			a href=article_sensitivity_analysis_path(@article)+"?p=#{@participation.id}"+group_tag Sensitivity Analysis
	-elsif action=='sensitivity_analysis' or action=='sensitivity_chart'
		li
			a href=article_results_path(@article)+"?p=#{@participation.id}"+group_tag Ranking
		li
			a href=article_benefit_cost_path(@article)+"?p=#{@participation.id}"+group_tag Benefit-Cost Analysis
		li
			a href=article_flow_diagram_path(@article)+"?p=#{@participation.id}"+group_tag Flow Diagram
		li.active
			a Sensitivity Analysis

	

