.widget
  .widget-header.ellipsis
    i.icon-bar-chart
    h3 Sensitivity Analysis
  .well.well-widget-content
    -unless @criterion.root?
      .section
        .widget-content-title Sensitivity with respect to
        h3 = @criterion.title
        h4 Current weight value: #{ number_with_precision @weight, precision:2 }
        .alert.alert-info
          a.close data-dismiss="alert" ×
          | Hover over the sensitivity chart below to see ranking changes with respect to changes in the weight of the selected criterion.
      .section style="padding-top: 0px; min-height:350px"
        .span6
          .widget-content-title Sensitivity Chart
          #sensitivity-chart 
        .span6
          .widget-content-title#point-info Rank with weight of '#{@criterion.title}' at: #{ number_with_precision @weight, precision:3 }
          #chart
    -else
      .section
        | Select a criterion under the goal

javascript:
  $(document).ready(function(){
    var width = $("#sensitivity-chart").prev("div.widget-content-title").css("width");
    var w = width.slice( 0, width.length-2 );
    var height = Math.round( +w * 0.8, 1 ) + "px";

    $("#sensitivity-chart").css("width", width).css("height", height);
    $("#chart").css("width", width).css("height", height);

    var chartLabels = #{{ @sensitivity_chart_labels }};
    var weight = #{ @weight };
    var sensitivity_chart_data = #{ @sensitivity_chart_data };
    var chartData = function(data,x) {
      var y0 = [];
      var y1 = [];
      for (i=0; i < data.length; ++i) {
        y0[i] = data[i][0][1];
        y1[i] = data[i][1][1];
      }
      var series = [[]];
      for (i=0; i < data.length; ++i) {
        series[i] = (y1[i]-y0[i])*x + y0[i];
      }
      return series;
    };

    $.jqplot.config.enablePlugins = true;
 
    $("#sensitivity-chart").bind("jqplotMouseMove", function(ev, gridpos, datapos, neighbor) {
      var w = datapos.xaxis;
      $('#point-info').html('Rank at weight: ' + w.toPrecision(3));
      ranks = chartData(sensitivity_chart_data, w);
      var seriesData = [];
      for (i=0; i < sensitivity_chart_data.length; ++i) {
        seriesData[i] = [i+1,ranks[i]];
      }
      plot2.series[0].data = seriesData;
      plot2.redraw();
    });

    $("#sensitivity-chart").bind("jqplotMouseLeave", function(ev, gridpos, datapos, neighbor) {
      var w = weight;
      $('#point-info').html('Rank Chart at weight: ' + w.toPrecision(3));
      ranks = chartData(sensitivity_chart_data, w);
      var seriesData = [];
      for (i=0; i < sensitivity_chart_data.length; ++i) {
        seriesData[i] = [i+1,ranks[i]];
      }
      plot2.series[0].data = seriesData;
      plot2.redraw();
    });

    plot1 = $.jqplot('sensitivity-chart', sensitivity_chart_data, {
      // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
      // animate: !$.jqplot.use_excanvas,
      seriesDefaults: {
        pointLabels : {show: false}
      },
      axes: {
        xaxis: { pad: 0 },
        yaxis: { padMin: 0 }
      },
      cursor: {
        showVerticalLine: true
      },
      canvasOverlay: {
        show: true,
        objects: [
          {dashedVerticalLine: {
            name: "line3",
            x: weight,
            color: "#E5521D",
            // ymin: 0,
            // ymax: 1.0, 
            shadow: false
          }}
        ]
      },
      grid: {
          drawBorder: false,
          shadow: false
      },
      legend: {
          show: false,
          location: 'ne',
          placement: 'outside',
          labels: chartLabels
      }
    });

    var maxY = plot1.axes.yaxis.max.toFixed(2);
    //plot1.canvasOverlay.objects[0].verticalLine.ymax= maxY;

    var data = chartData(sensitivity_chart_data,weight);
    var chartLabels = #{{ @alternative_labels }};
    var names = chartLabels;

    plot2 = $.jqplot('chart', [data], {
      seriesDefaults:{
        renderer:$.jqplot.BarRenderer,
        rendererOptions: {
          varyBarColor: true
        },
        pointLabels: {show: true}
      },
      series:[{ pointLabels:{ 
        show: true, 
        labels: chartLabels, 
        edgeTolerance:-25, 
        escapeHTML: false
      }}],
      axes: {
        xaxis: {
          renderer: $.jqplot.CategoryAxisRenderer,
          show: false,
          showGridline: false, edgeTolerance:-25, escapeHTML: false,
          tickOptions: { showGridline: false }
        },
        yaxis: {
          max: maxY,
          min: 0.0
        }
      },
      grid: {
        drawBorder: false,
        shadow: false
      },
      highlighter: {
        show: true,
        sizeAdjust: 7.5,
        tooltipLocation: 'n',
        tooltipContentEditor: function(str, seriesIndex, pointIndex) {
          var objLabel = names[pointIndex];
          var val = data[pointIndex];
          return "<span style='font-weight:bold; font-size:14pt; color:#333'>"+val.toPrecision(2)+"</span>";
        }
      },
      cursor: {
        show: false
      }
    });
  });