.well.side-widget
	.side-widget-header
		a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
			i.icon-minus.icon-white
	.side-widget-title Results for
	#widget1.collapse.in
		= render partial: 'participants'

.well.side-widget
	.side-widget-header
		a.resize-button data-toggle="collapse" data-target="#widget2" href="#" 
			i.icon-minus.icon-white
	.side-widget-title Criteria Tree
	.side-widget-content
		#widget2.collapse.in
			= content_tag "div", id: "analyses-tree", data: {node: @goal.id.to_s} do
				= image_tag "ajax-loader.gif"

 