- provide :title, 'Benefit / Cost Analysis'

- content_for :left_frame do
	= render partial: 'results/participants'

- content_for :javascript do
	= javascript_include_tag "results.js"

title Benefit/Cost Analysis

#content-box
	= render partial: 'results_nav_menu'

	.widget
		.widget-header.ellipsis
			i.icon-bar-chart
			h3 = "Cost-Benefit Analysis"
		.well.well-widget-content
			-if !@participation.evaluation_complete?
				= render 'incomplete_evaluation_messages'
			-elsif @no_cost
				br
				.alert.alert-error
				  | No cost is setup for this model. Assign one of the alternatives' common properties as cost. (Alternatives / Common Properties / Use this property as Cost for Cost-Benefit analysis)
			-else                     
				.section
					.widget-content-title Rank by Benefit/Cost Ratio
					-unless @cost_benefit_table.nil?
						table.rank-table.table.table-condensed.table-bordered.table-striped
							thead
								tr
									th Rank
									th Alternative
									th.number Score
									th.number Cost
									th.number Normalized Cost
									th.number Benefit/Cost Ratio
							tbody
								- i = 0
								-for alt in @cost_benefit_table
									-unless alt.nil?
										-i+=1
										tr
											td.narrow = i
											td = alt[:title]
											td.number = "#{number_with_precision(alt[:score], precision: 3 )}"
											td.number = alt[:cost]
											td.number = "#{number_with_precision(alt[:cost_n], precision: 3 )}"
											td.number = "#{number_with_precision(alt[:ratio], precision: 3 )}"
				.section style="padding-top: 0px"
					.widget-content-title Chart
					#chart-box
						.alert.alert-info
							a.close data-dismiss="alert" ×
							= "The blue line in the chart represent the <em>efficient frontier,</em> which connects the alternatives worth considering. Any alternative below the efficient frotier line are dominated by those that lie on the line.".html_safe
						= render partial: 'cost_benefit_chart'

						
