- provide :title, 'Results'

title Results

- content_for :left_frame do
	= render 'sidepanel'

- content_for :javascript do
	= javascript_include_tag "results.js"

#content-box
	= render partial: 'results_nav_menu'

	.alert.alert-info
		a.close data-dismiss="alert" ×
		= "Click in the Criteria Tree at left to view ranking result with respect to a sub-criterion.".html_safe

	.widget
		.widget-header.ellipsis
			i.icon-bar-chart
			h3 = "Rank with respect to goal: #{@goal.title unless @goal.nil?}"
		.well.well-widget-content
			-unless @participation.evaluation_complete?
				= render 'incomplete_evaluation_messages'
			-else
				.section
					.widget-content-title Chart
					#chart-box style="height: 300px; margin-bottom: 10px"
						= render partial: 'chart'
				.section style="padding-top: 0px"
					.widget-content-title Detail Chart
					#chart-box style="height: 300px; margin-bottom: 10px"
						= render partial: 'stacked_chart'
				.section style="padding-top: 0px"
					.widget-content-title Table
					#table-box style="margin-top: 10px; padding:10px 0; position: relative"
						= render partial: 'score_table'

