-provide :title, 'Sensitivity Analysis'

title Sensitivity Analysis with respect to #{@criterion.title}

- content_for :left_frame do
  = render 'sidepanel'

- content_for :javascript do
  = javascript_include_tag "results_sensitivity_analysis.js"
  /= javascript_include_tag "sensitivity_chart.js"

= render partial: 'results_nav_menu'
= render partial: 'sensitivity_chart'

