- provide :title, "Resend unlock instructions"
.span5.offset2
  .widget
    .widget-header
      i.icon-user
      h3 Resend unlock instructions
    .well.well-widget-content
      br
      = form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
      = render 'shared/error_messages', object: f.object
      /= devise_error_messages!

      .control-group
        = f.label :email
        .controls
          = f.email_field :email

      #toolbar.button-toolbar
        = f.submit "Resend unlock instructions"

  = render "my_devise/shared/links"