#sidepanel.well.well-sidebar.well-tree
  .section
    .section-title Criteria Tree
    = content_tag "div", id: "criteria-leaves", data: {node: root_id, allow_click: @article.allow_edit?(current_user)} do
      = image_tag "ajax-loader.gif"
