.widget
	.widget-header
		i.icon-tasks
		h3 Alternative ratings
	.well.well-widget-content
		.section
			.widget-content-title Alternative ratings with respect to:
			h3 = @criterion.title
			-unless @criterion.description.nil?
				blockquote
					= raw @criterion.description

		-if (@evaluation.nil? || !@evaluation.persisted? || @evaluation.eval_method.nil?) && @participation.user != current_user
			.section
				.alert.alert-info
				 | The user has not made any evaluation for this criterion
		-else
			.section
				.section-title Alternatives scores
				-unless @evaluation.nil? || @evaluation.eval_method.nil?
					-if @criterion.has_incomplete_ratings_by? @participation_id
						.alert.alert-error
							| Comparison is incomplete
					.btn-toolbar style="margin: 0"
						div.pull-right
							h5 = "Comparison done using #{@comparison_method} method"
							-if @evaluation.method_is_pairwise? and !@evaluation.c_r.nil?
								h5
									' Consistency:
									-if @evaluation.cr > 0.15 
										span.label.label-important Poor
									-elsif @evaluation.cr >= 0.10
										span.label.label-warning Good
									-else 
										span.label.label-success Excellent
					/ div.clearfix
					/ -if @criterion.leaf? && @evaluation.method_is_smart?
					/ 	.control-group.pull-right
					/ 		.controls
					/ 			=' check_box_tag 'minimize', '1', @evaluation.minimize?, disabled:true
					/ 			| Minimize
					
				-unless @table.nil?
						table.table.table-condensed.table-bordered.objectives-table class="#{@user_can_rate ? '' : 'non-editable'}"
							-unless @user_can_rate 
								caption This user is not allowed to change alternative ratings
							thead
								tr
									th No.
									th Title
									-if @evaluation.method_is_smart? && @criterion.leaf?
										th.number Rating
									-if @evaluation.method_is_magiq?
										th.number Rank
									th.number Score
									-if @evaluation.method_is_smart? && @evaluation.normalize
										th.number Normalized score
									-if @evaluation.normalize
										th Ratio
							tbody
								- @table.each do |row|
									tr
										td = row[:no]
										td = row[:title]
										-if @evaluation.method_is_smart?
											td.number = row[:rating]
										-if @evaluation.method_is_magiq?
											td.number = row[:order]
										-if @evaluation.method_is_magiq? or @evaluation.method_is_pairwise?
											td.number = number_with_precision(row[:weight_n], precision: 2)
										-else
											td.number 
												div = number_with_precision(row[:weight], precision: 2)
										-if @evaluation.method_is_smart? && @evaluation.normalize
											td.number 
												div = "#{row[:weight_n].nil? ? '-' : number_to_percentage(row[:weight_n]*100, precision: 0)}"
										-if @evaluation.normalize
											td
												.progress
													.bar style="width: #{row[:ratio]}%"
			
				-unless @notes.blank?
					blockquote.notes
						= raw @notes

			-if can? :rate, @article
				-if can? :update, @evaluation
					= render partial: 'criteria/toolbar', locals: { read_only: false }
			
				/FIXME: Right now the user can't see the evaluation done by other users
				/       The user with "view" privilege should be able to see other users comparison
			-else
				= render partial: 'criteria/toolbar', locals: { read_only: true }

				| &nbsp;


