.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
      i.icon-minus
  .side-widget-title Criteria Tree
  #widget1.collapse.in
    .side-widget-content
      = content_tag "div", id: "criteria-leaves", data: { node: root_id, allow_click: can?(:view, @article) && !@criterion.nil?, pid:@participation_id.to_s } do
        = image_tag "ajax-loader.gif"

.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget3" href="#" 
      i.icon-minus
  .side-widget-title Participants
  /-unless @criteria.nil?
  #widget2.collapse.in
    .side-widget-content.list-container
      ul.nav.nav-list.part-list
        - @article.participations.all_active.each do |participation|
          li.participant id="#{participation.id}" class="#{participation.id.to_s == @participation_id.to_s ? 'active' : 'nonactive' unless (@summary || @detail)}"
            /a.pjax href="#{criterion_ratings_path(@criterion.id)}?p=#{participation.id}" 
            a.participant-anchor href="#"
              img src=participation.user.gravatar_url(size: 20) rel="tooltip" data-original-title="#{participation.username}"
              '
              = participation.username

    .side-widget-divider
    .side-widget-title Aggregate
    .side-widget-content
      ul.nav.nav-list.part-list
        -if @criterion.nil?
          li.participant
            | Summary
        -else
          li.participant#summary class="#{@summary ? 'active' : 'nonactive'}"
            = link_to 'Summary', aggregate_summary_criterion_ratings_path(@criterion.id), id:'summary', class: 'pjax'
          li.participant#detail class="#{@detail ? 'active' : 'nonactive'}"
            = link_to 'Detail by participants', aggregate_detail_criterion_ratings_path(@criterion.id), id:'detail', class: 'pjax'


