.widget
	.widget-header
		i.icon-th
		h3 
			=' criterion.root? ? 'Goal:' : 'Criterion:'
			= criterion.title
	.well.well-widget-content
		.section
			.widget-content-title 
				=' criterion.root? ? 'Goal' : 'Criterion'
			h3 
				= criterion.title
			-unless criterion.description.blank?
				blockquote.formatted-output
					= raw(criterion.description)

		/ -unless criterion.leaf?
		/ 	.section
		/ 		p This is not a leaf node.
		/ -else
		.section
			.section-title 
				| Alternatives
			br
			-unless summary_table.nil?
				div.pull-right
					h5 Average of #{size} #{inflectize size, "participant"}
				table.table.table-condensed.table-bordered.objectives-table.non-editable
					thead
						tr
							th No
							th Criterion
							th.number Average Score
							th Ratio
					tbody
						- summary_table.each do |row|
							tr
								td = row[:no]
								td = row[:title]
								td.number 
									div = number_with_precision(row[:weight_n], precision: 2)
								td
									.progress
										.bar style="width: #{row[:ratio]}%"
			-else
				.alert.alert-error
					| Incomplete evaluations: Not all participants has completed all required evaluations for this criterion.




