#toolbar.button-toolbar
	-if mode=='form'
		= form_tag compare_criterion_comparisons_path(@criterion)+"?p=#{@participation_id}", class:'form-horizontal' do
			.pull-right
				= submit_tag 'Compare', id:'compare', class:'btn btn-primary'
			div
				.lbl for='comparison_method' Comparison method:&nbsp;
				= select_tag 'comparison_method', options_for_select(@comparison_methods, "#{@comparison.type}"), prompt: 'Select a method', class: 'input-medium'

				i.icon-help
	
	-elsif mode=='link'
		- button_label = read_only ? 'View comparison' : 'Compare'
		.pull-right
			-idx = read_only ? @comparison.type : @criterion.comparison_type
			-action = [nil, :magiq, :smart, :pairwise][idx]
			= link_to button_label, "/criteria/#{@criterion.id}/comparisons/#{action}?p=#{@participation_id}", class:'btn btn-primary', 'data-skip' => true
		div
			.lbl
				' Comparison method:
				strong = ANALYSIS_METHODS[idx]