- provide :title, "Individual weightings of criterion: #{@criterion.title}"

title Individual weightings of criterion: #{@criterion.title}

- content_for :javascript do
	= javascript_include_tag "ratings.js"
	
- content_for :left_frame do
	= render partial: 'sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	= render partial: 'summary_table', locals: { criterion: @criterion, size: @size, summary_table: @summary_table }
