- provide :title, 'Rate'

- content_for :javascript do
	= javascript_include_tag "ratings.js"
	
- content_for :left_frame do
	-unless @article.criteria.empty?
		= render partial: 'sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	.widget
		.widget-header
			i.icon-tasks
			h3 Alternative ratings
		.well.well-widget-content
			.section
				.widget-content-title No criteria

				.alert.alert-error
					a.close data-dismiss="alert" ×
					| No criteria found for this article. Please create some criteria first.


			/ -unless @article.criteria.empty?
			/ 	.section
			/ 		.widget-content-title Compare alternatives
			/ 		-if @article.allow_edit?(current_user)
			/ 			.alert.alert-info
			/ 				a.close data-dismiss="alert" ×
			/ 				| Select a criterion on the left
			/ 	.section
			/ 		.section-title Alternatives
			/ 		- if @alternatives.nil?
			/ 			.alert.alert-error
			/ 				| You don't have any alternative yet.
			/ 				br
			/ 				a.btn href=article_alternatives_path(@article.id)
			/ 					i.icon-list
			/ 					span  Add alternatives
			/ 		-else
			/ 			/ table.table.table-condensed.table-bordered.objectives-table
			/ 			/ 	thead
			/ 			/ 		tr
			/ 			/ 			th No.
			/ 			/ 			th Title
			/ 			/ 	tbody
			/ 			/ 		- @alternatives.each do |alt|
			/ 			/ 			tr
			/ 			/ 				td.narrow = "#{alt.position + 1}"
			/ 			/ 				td = alt.title
			/ 			div style="overflow: auto"
			/ 				table.table.table-condensed.table-bordered.table-striped.props-table
			/ 					thead
			/ 						tr
			/ 							th No
			/ 							th Alternative
			/ 							- @common_properties.each do |property|
			/ 								th = property
			/ 					tbody
			/ 						- @alternatives.each do |alt|
			/ 							tr
			/ 								td = alt.position.nil? ? '' : alt.position + 1
			/ 								td = alt.title
			/ 								- @common_properties.each do |cp|
			/ 									- p = alt.properties.where(:k => cp).first
			/ 									- if p 
			/ 										td = p.v
			/ 									- else
			/ 										td &nbsp;
			/ -else
			/ 	.section
			/ 		.widget-content-title No criteria

			/ 		.alert.alert-error
			/ 			a.close data-dismiss="alert" ×
			/ 			| Please create some criteria first

  