- provide :title, "Ratings for #{@criterion.title}"

title Ratings for #{@criterion.title}

- content_for :javascript do
	= javascript_include_tag "ratings.js"
	
- content_for :left_frame do
	-unless @article.criteria.empty?
		= render partial: 'sidepanel', locals: { root_id: @article.criteria.root.id.to_s }

#container-box
	= render 'ratings_table'