-provide :title, 'Page Not Found'

div style="margin: 10px 20px"
  .widget
    .widget-header.ellipsis
      i.icon-file
      h3 Page Not Found
    .well.well-widget-content
      br
      div style="margin: 0px auto"
        .hero-unit style="min-height: 340px"
          div style="float:left; clear:left"
            = image_tag('not_found.png')
          div style="display:block; margin-left: 250px"
            h1 Looks like...
            | we couldn't find the page you requested.
            .error-options
              ul.list
                li
                  | Try searching for similar articles, or

                li
                  | Browse 
                  = link_to 'recent articles', new_and_updated_path

            | If you think that something is missing, please 
            = link_to 'contact us', 'mailto:support@foreplot.com'
            | .