- action = params['action']
- action = "results" if action=="rank"
- name=@participation.user.name
.well.side-widget
	.side-widget-header
		a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
			i.icon-minus
	.side-widget-title Results for
	#widget1.collapse.in
		.side-widget-content.list-container
			ul.nav.nav-list.part-list data-article="#{@article.slug}"
				- @article.participations.all_active.each do |participation|
					li.participant id="#{participation.id}" class="#{participation.id.to_s == @participation_id.to_s ? 'active' : 'nonactive' unless @aggregate}"
						a.participant-anchor href="#"
							img src=participation.user.gravatar_url(size: 20) rel="tooltip" data-original-title="#{participation.username}"
							'
							= participation.username
	
		.side-widget-divider
		.side-widget-title Aggregate
		.side-widget-content
			ul.nav.nav-list.part-list
				li.participant#summary class="#{@aggregate ? 'active' : 'nonactive'}"
					a#summary href="/articles/#{@article.slug}/#{action}?g=a"
						img src='/assets/glyphicons_024_parents.png' width=20 height=20 rel="tooltip" data-original-title="Average of all participants"
						|  Average results



