-unless @score_table.nil?
  table.rank-table.table.table-condensed.table-bordered.table-striped
    thead
      tr
        th Rank
        th Alternative
        th.number Score
        th Ratio
    tbody
      - @score_table.each do |alt|
        -unless alt.nil?
          tr
            td.narrow = alt[:rank]
            td = alt[:title]
            td.number = "#{number_with_precision(alt[:score], precision: 3 )}"
            td
              .progress
                .bar style="width: #{alt[:ratio]*100}%"

