.well.side-widget
	.side-widget-header
		a.resize-button data-toggle="collapse" data-target="#widget2" href="#" 
			i.icon-minus
	.side-widget-title Criteria Tree
	.side-widget-content
		-unless @goal.nil?
			#widget2.collapse.in
				= content_tag "div", id: "analyses-tree", data: { article: @article.slug, pid: @participation_id.to_s, node: @goal.id.to_s, group: @aggregate } do
					= image_tag "ajax-loader.gif"

== render partial: 'results/participants'
 