-unless @stacked_chart_data.nil?
    #stacked-chart.span6 style="height: 300px; margin-left:50px"
    br
    #info2

    javascript:
        $(document).ready(function(){
            $.jqplot.config.enablePlugins = true;
            var s = #{ @stacked_chart_data };
            var ticks = #{{ @alternative_labels }};
            var series = #{{ @objective_labels }};
            var labels = new Array();
            for(var i = 0; i < series.length; i++) { 
                labels = labels.concat( {label: series[i]} )
            };
            plot2 = $.jqplot('stacked-chart', s, {
                // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
                stackSeries: true,
                seriesDefaults:{
                    renderer:$.jqplot.BarRenderer,
                    rendererOptions: {
                        //varyBarColor: true,
                        barMargin: 25
                    },
                    pointLabels: { show: false }
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        ticks: ticks,
                        tickOptions: { showGridline: false }
                    }
                },
                highlighter: {
                    show: true,
                    sizeAdjust: 15,
                    tooltipLocation: 'n',
                    tooltipContentEditor: function(str, seriesIndex, pointIndex) {
                        var objLabel = series[seriesIndex];
                        var val = s[seriesIndex][pointIndex];
                        return "<span style='font-weight:bold; font-size:12pt; color:#333'><em>"+objLabel+"</em>: <strong>"+val.toPrecision(2)+"</strong></span>";
                    }
                },
                cursor: {
                    show: false
                },
                grid: {
                    drawBorder: false,
                    shadow: false
                },
                series: labels,
                legend: {
                  show: true,
                  location: 'e',
                  placement: 'outside'
                } 
            });
         
            $('#stacked-chart').bind('jqplotDataClick', 
                function (ev, seriesIndex, pointIndex, data) {
                    $('#info2').tooltip({title:seriesIndex+' point: '+pointIndex+', data: '+data});
                }
            );
        });
