- provide :title, 'Flow Diagram'

- content_for :left_frame do
	= render 'sidepanel'

- content_for :javascript do
 	= javascript_include_tag "results.js"
 	

title Flow Diagram

#content-box
	/= render partial: 'node_flow_diagram'
	= render partial: 'results_nav_menu'
	
	.alert.alert-info
		a.close data-dismiss="alert" ×
		| Hover over a line to see the weight score of the corresponding criterion. Move any node vertically to rearrange the diagram.
		br
		| Click in the Criteria Tree to select a criterion.

	.widget
		.widget-header.ellipsis
			i.icon-bar-chart
			h3 Flow Diagram
		.well.well-widget-content
			p id="chart" data-url="#{@sankey_url}"

= javascript_include_tag "flow_diagram.js"
