-provide :title, 'Results: incomplete'

- content_for :left_frame do
	= render 'sidepanel'
- content_for :javascript do
	= javascript_include_tag "results.js"
	
#content-box
	.widget
		.widget-header.ellipsis
			i.icon-bar-chart
			h3 Incomplete Data
		.well.well-widget-content
			= render 'incomplete_evaluation_messages'

javascript:
	$(function() {
		$("li.participant##{@participation.id}").addClass('active');
	})