- provide :title, "Rank with respect to #{@criterion.title}"

- content_for :javascript do
	= javascript_include_tag "results.js"

- content_for :left_frame do
	= render 'sidepanel'

= render partial: 'results_nav_menu'

title Rank with respect to #{@criterion.title}

.widget
	.widget-header.ellipsis
		i.icon-bar-chart
		h3 Rank and Score
	.well.well-widget-content
		.section
			.widget-content-title With respect to
			h3 
				span.criterion-label
					= @criterion.root? ? "Goal: " : "Criterion: "
				= @criterion.title unless @criterion.nil?
		-unless @participation.evaluation_complete?
			= render 'incomplete_evaluation_messages'
		-else
			.section style="padding-top: 0px"
				.widget-content-title Chart
				#chart-box style="height: 300px; margin-bottom: 10px"
					= render partial: 'chart'
			.section style="padding-top: 0px"
				.widget-content-title Table
				#table-box style="margin-top: 10px; padding:10px 0; position: relative"
					= render partial: 'score_table'

