-provide :title, 'Sensitivity Analysis'

- content_for :left_frame do
	= render 'sidepanel'

- content_for :javascript do
	= javascript_include_tag "results_sensitivity_analysis.js"
	/ = javascript_include_tag '/assets/jqplot/plugins/jqplot.barRenderer.min.js'
	/ = javascript_include_tag '/assets/jqplot/plugins/jqplot.categoryAxisRenderer.min.js'
	/ = javascript_include_tag '/assets/jqplot/plugins/jqplot.cursor.min.js'
	/ = javascript_include_tag '/assets/jqplot/plugins/jqplot.pointLabels.min.js'
	/ = javascript_include_tag '/assets/jqplot/plugins/jqplot.canvasOverlay.min.js'
	/ = stylesheet_link_tag '/assets/jqplot/jquery.jqplot.min.css'

title Sensitivity Analysis

#content-box
	= render partial: 'results_nav_menu'
	
	.alert.alert-info
		a.close data-dismiss="alert" ×
		= "Showing sensitivity for criterion: <strong>#{@criterion.title}</strong>. <br>Click in the Criteria Tree at left to view sensitivity with respect to other criteria.".html_safe
	
	= render partial: 'sensitivity_chart'

	/ .widget
	/ 	.widget-header.ellipsis
	/ 		i.icon-bar-chart
	/ 		h3 Sensitivity Analysis
	/ 	.well.well-widget-content
	/ 		.well
	/ 			h3 Select a criterion at left
