if ($("td").has("#ff_"+"<%= @user.id %>")) {
	$("#ff_"+"<%= @user.id %>").html("<%= escape_javascript(render partial:'users/unfollow_button', locals:{ user_id: @user.id }) %>");
}
else {
	$("#users").before("<tr><td>Hello</td></tr>");
	
	/*$("#users").before("<%= escape_javascript(render partial:'users/user', locals: { user: @user }) %>");*/
	
	/* $.pjax({
 //        url: "/users/"+<%= @user.id%>+"/following",
 //        container: "[data-pjax-container]"
 //      }); */
}
i f ($("td").fin d("#ff_"+"<%= @user.id %>").size()=!0) {
	$("#ff_"+"<%= @user.id %>"). ht ml("<%= escape_javascript(render partial:'users/unfollow_button', locals:{ user_id: @user.id }) %>");
}
els e {
	$("#users").before("<tr><td>Hello????????????</td></tr>");
}
