if ($("td").find("#ff_"+"<%= @user.id %>").size() != 0)
	$("#ff_"+"<%= @user.id %>").html("<%= escape_javascript(render partial:'users/unfollow_button', locals:{ user_id: @user.id }) %>");
else {
	$("#users").before("<%= escape_javascript(render partial:'users/new_following', locals: { user: @user }) %>");
	$("#autocomplete-field").val("");
}