- provide :title, "Change your password"
	
.login-container
	.widget
		.widget-header
			i.icon-user
			h3 Change your password
		.well.well-widget-content
			br
			= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
				/= devise_error_messages!
				= render 'shared/error_messages', object: f.object
				= f.hidden_field :reset_password_token

				.control-group
					= f.label :password, "New password"
					.controls
						= f.password_field :password

				.control-group
					= f.label :password_confirmation, "Confirm new password"
					.controls
						= f.password_field :password_confirmation

				#toolbar.button-toolbar
					= f.submit "Change my password"

	= render "my_devise/shared/links"