- provide :title, "Forgot your password?"
.login-container
	.widget
		.widget-header
			i.icon-user
			h3 Forgot your password?
		.well.well-widget-content
			br
			= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| 
				= devise_error_messages! 

				.control-group
					= f.label :email, class: "control-label"
					.controls
						= f.email_field :email

				#toolbar.button-toolbar
					= f.submit "Send me reset password instructions", class: 'btn btn-primary'

	= render 'my_devise/shared/links'

