.widget
	.widget-header
		i.icon-file
		h3 Alternatives
	.well.well-widget-content
		.widget-content-title Alternative
		.ldef Title
		.rdef = @alternative.title
		.ldef Short title
		.rdef = @alternative.abbrev
		blockquote.formatted-output
			= @alternative.description == "" ? '-' : raw(@alternative.description)
		.ldef Properties
		.rdef
			-unless @alternative.properties == []
				table.table.table-condensed.table-bordered.props-table
					thead
						tr
							th Property
							th Value
					tbody
						- @alternative.properties.each do |property|
							tr
								td = property.k
								td = property.v
			-else
				| -

		-if @article.allow_edit?(current_user)
			#toolbar.button-toolbar
				= link_to '<i class="icon-edit"></i> Edit'.html_safe, 
						edit_article_alternative_path(@article_id, @alternative_id), 
						remote: true, 
						class:"btn"

javascript:
	$(function() {
		$('.props-table').dataTable( {
		    "bPaginate": false,
		    "bLengthChange": false,
		    "bFilter": false,
		    "bSort": true,
		    "bInfo": false,
		    "bAutoWidth": false
		  } );
		$.extend( $.fn.dataTableExt.oStdClasses, {
	    "sSortAsc": "header headerSortDown",
	    "sSortDesc": "header headerSortUp",
	    "sSortable": "header"
	  	} );
	});
