- content_for :javascript do
	= javascript_include_tag "alternative.js"
	
- content_for :left_frame do
	= render 'alternative_list'
	= render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

#alternative_box	
	= render 'new_form'