.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
      i.icon-minus
  .side-widget-title Alternative List
  #widget1.collapse.in
    = form_for @article, url: article_update_alternatives_order_path, remote:true, method:'post' do |form|
      .side-widget-content
        .alt-list-header
          = link_to 'All Alternatives', article_alternatives_path(@article), class: 'pjax'
        #sort-section
          ul.nav.nav-list.alt-list#sortable
            - i=0; type='default'
            - if @alternatives
              - @alternatives.each do |alternative|
                = form.fields_for :alternatives, alternative do |f|
                  -unless alternative.title.empty?
                    - i += 1
                    li.ui-state-default.alternative id="#{alternative.id}"
                      = f.hidden_field :id
                      = f.hidden_field :position, class:'position'
                      a.pjax href="#{article_alternative_path(@article, alternative.id)}" 
                        span.badge
                          = i
                        ' &nbsp;
                        = truncate(alternative.title, length: 22)
                        i.icon-reorder.pull-right.handle
      -if can? :modify, @article
        .side-widget-toolbar
          -if @alternatives.size > 1
            a.btn.btn-mini.edit-button href="#"
              i.icon-reorder
            = form.submit "Done", class: "btn btn-mini btn-primary done-button", style: "display: none"
          '
          a.btn.btn-mini.btn-primary href="#{new_article_alternative_path(@article)}" 
            ' Add new 
            i.icon-chevron-right   

.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget2" href="#" 
      i.icon-minus
  .side-widget-title Search for alternatives
  #widget2.collapse.in
    .side-widget-content
      = form_tag search_article_alternatives_path(@article), method: :get, class:'pjax' do
        .control-group
          .controls.search
            .input-append
              = text_field_tag :q, "", class:"search-field ignore", placeholder: 'Search...'
              button.btn
                i.icon-search

