.widget
	.widget-header
		i.icon-list-ul
		h3 Editing alternative
	.well.well-widget-content
		.widget-content-title Alternative
		= form_for @alternative, url: { action: 'update' } do |alt_form|
			== render partial: 'fields', locals: { form: alt_form }
			.property-button-bar
				.property-button
					-unless @article.common_properties == []
						= add_common_properties_link alt_form, @article
						//// See: helpers/alternatives_helper.rb
			#toolbar.button-toolbar
				= alt_form.submit 'Save', class:"btn btn-primary", disable_with: 'Please wait...'

				= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
				    article_alternative_path(@article_id, @alternative.id.to_s),
				    class: "btn always"
				= link_to '<i class="icon-trash"></i> Delete'.html_safe,
						article_alternative_path(@article_id, @alternative.id.to_s), 
						method: :delete,
						class: "btn btn-danger pull-right always", 
						confirm: "Are you sure?", 
						title: @alternative.title		
