.widget
	.widget-header
		i.icon-list-ul
		h3 Add new
	.well.well-widget-content
		.widget-content-title New alternative
		= form_for @alternative, url: article_alternatives_path(@article_id) do |f|
			== render partial: 'fields', locals: { form: f }
			br
			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary", disable_with: 'Please wait...'
				= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
					"#{article_alternatives_path}", 
					class:"btn"
