.widget
	.widget-header
		i.icon-list-ul.icon-white
		h3 Alternatives
	.well.well-widget-content
		.widget-content-title Alternative
		dl.dl-horizontal
			dt Title
			dd = @alternative.title
			dt Short title
			dd = @alternative.abbrev
			dt Description
			dd 
				= @alternative.description == "" ? '-' : @alternative.description
				| &nbsp;
			dt Properties
			dd
				-unless @alternative.properties == []
					table.table.table-condensed.table-bordered.alt-table
						thead
							tr
								th Property
								th Value
						tbody
							- @alternative.properties.each do |property|
								tr
									td = property.k
									td = property.v
				-else
					| -

		-if @article.allow_edit?(current_user)
			#toolbar.button-toolbar
				= link_to '<i class="icon-edit icon-white"></i> Edit'.html_safe, 
						edit_article_alternative_path(@article_id, @alternative_id), 
						remote: true, 
						class:"btn"

