- provide :title, "Edit Alternative"

- unless pjax_request?
	- content_for :javascript do
		= javascript_include_tag "alternative.js"
		= javascript_include_tag "properties.js"
	  
	- content_for :left_frame do
		= render 'alternative_sidepanel'
		= render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

.widget
	.widget-header
		i.icon-list-ul
		h3 Editing alternative
	.well.well-widget-content
		.widget-content-title Alternative
		
		= form_for @alternative, url: { action: 'update' } do |alt_form|
			== render partial: 'fields', locals: { form: alt_form }
			
			/ .property-button-bar
			/ 	.property-button
			/ 		-unless @article.common_properties == []
			/ 			= add_common_properties_link alt_form, @article
						//// See: helpers/alternatives_helper.rb
			
			#toolbar.button-toolbar
				= alt_form.submit 'Save', class:"btn btn-primary"

				= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
				    article_alternative_path(@article, @alternative),
				    class: "btn always"
				= link_to '<i class="icon-trash"></i> Delete'.html_safe,
						article_alternative_path(@article, @alternative), 
						method: :delete,
						class: "btn btn-danger pull-right always", 
						confirm: "Deleting alternatives will also delete all related scores and evaluations. You and other participants (if any) will have to redo all ratings previously done.\n\nAre you sure to proceed?", 
						title: @alternative.title	

#jstemplates
  = content_for :jstemplates
