- provide :title, 'Alternatives'
- content_for :javascript do
  = javascript_include_tag "alternative.js"
  
- content_for :left_frame do
  = render 'alternative_sidepanel'
  = render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

.widget
  .widget-header
    i.icon-list-ul
    h3 Alternatives
  .well.well-widget-content
    .widget-content-title List of alternatives
    

    div style="overflow: auto"
      -unless @alternatives.blank?
        table.table.table-condensed.table-bordered.table-striped.alt-table
          thead
            tr
              th No
              th Alternative
              - @common_properties.each do |property|
                th = property
          tbody
            - @alternatives.each do |alt|
              tr
                td = alt.position.nil? ? '' : alt.position + 1
                td = link_to alt.title, article_alternative_path(@article, alt), class:'pjax'
                - @common_properties.each do |cp|
                  - p = alt.properties.where(:k => cp).first
                  - if p 
                    td = p.v
                  - else
                    td &nbsp;
      -else
        .alert.alert-info
          | This article has no alternatives

    / TODO: finish this
    / div style="overflow: auto"
    /   -unless @alternatives.blank?
    /     table.table.table-condensed.table-bordered.table-striped.alt-table
    /       thead
    /         tr
    /           th No
    /           th Property
    /           - @alternatives.each do |alt|
    /             th = alt.title
    /       tbody
    /         - i=0
    /         - @common_properties.each do |property|
    /           tr 
    /             td = i += 1
    /             td = property 
    /             - @alternatives.each do |alt|
    /               - p = alt.properties.where(:k => property).first
    /               -if p
    /                 td = p.v
    /               -else
    /                 td &nbsp;
    /   -else
    /     .alert.alert-info
    /       | This article has no alternatives
    br
    
    #toolbar.button-toolbar
      -if can? :modify, @article
        = link_to "Add new alternative", new_article_alternative_path(@article_id), class: "btn btn-primary"
      / TODO: finish this
      / .pull-right
      /   span style="margin:4px 15px 0 0"
      /     = check_box_tag "toggle-name", 0
      /     |  Use short name, if available
      /   button.btn Switch columns/rows


  