- provide :title, "New Alternative"
- unless pjax_request?
	- content_for :javascript do
		= javascript_include_tag "alternative.js"
	  
	- content_for :left_frame do
		= render 'alternative_sidepanel'
		= render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }
  
.widget
	.widget-header
		i.icon-list-ul
		h3 Add new
	.well.well-widget-content
		.widget-content-title New alternative
		
		= form_for @alternative, url: article_alternatives_path(@article_id) do |f|
			== render partial: 'fields', locals: { form: f }
			#toolbar.button-toolbar
				= f.submit 'Save', class:"btn btn-primary"
				= link_to '<i class="icon-remove"></i> Cancel'.html_safe,
					"#{article_alternatives_path}", 
					class:"btn"


#jstemplates
  = content_for :jstemplates