Avalon.Confirmation.proceed (function() {
	$("#alternative_box").html("<%= escape_javascript(render(partial:'new_form')) %>")
	$("li.alternative").removeClass("active")
	$("li.alt_new").addClass("active")
});