- provide :title, "Search"
- content_for :javascript do
  = javascript_include_tag "alternative.js"
  
- content_for :left_frame do
  = render 'alternative_sidepanel'
  = render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

.widget
  .widget-header 
    h3 Searched for: #{@search_string}
  .well.well-widget-content
    -unless @products.blank?
      table.table.table-striped.table-bordered.articles
        - @products.each do |product|
          tr.article
            td.article
              .title
                = link_to product.title, product, class: 'pjax'
              .picture
                = image_tag pic_snippet(product.description), size:'65x65'
              .description.formatted-output
                = raw truncate_html(description_snippet(product.description), 400)
              .clearfix
              .table-cell-toolbar
                -if can? :modify, @article
                  = form_for product, url: add_article_alternatives_path(@article), method: :post do |form|
                    = form.hidden_field :id
                    = form.submit 'Use as alternative', class:'btn btn-primary'
                = link_to 'Show detail', product, class:"btn"

      = page_navigation_links @products