- provide :title, "Alternative"
- unless pjax_request?
	- content_for :javascript do
		= javascript_include_tag "alternative.js"
	  
	- content_for :left_frame do
		= render 'alternative_sidepanel'
		= render partial: 'articles/common_property_list', locals: { article: @article, id: @article_id }

.widget
	.widget-header
		i.icon-list-ul
		h3 Alternatives
	.well.well-widget-content
		.section
			.widget-content-title Alternative
			h3 = @alternative.title
			-unless @alternative.description.blank?
				blockquote.formatted-output
					= raw(@alternative.description)

		-unless @alternative.properties == []
			.section
				.section-title Properties
				table.table.table-condensed.table-bordered.props-table
					thead
						tr
							th Property
							th Value
					tbody
						- @alternative.properties.each do |property|
							tr
								td 
									div
										= property.k
								td 
									div
										= property.v
								
		-if can? :modify, @article
			#toolbar.button-toolbar
				= link_to edit_article_alternative_path(@article_id, @alternative_id), class:"btn btn-primary" do
					i.icon-edit
					|  Edit
				= link_to new_article_alternative_path(@article.id), class:'btn btn-primary' do
					i.icon-plus
					|  Add new alternative
				.pull-right
					= link_to "Export as product", "#{new_product_path}?export=#{@alternative.id}", class:'btn'

= render 'comments/comment_widget'
