- provide :title, "Log in"
.row
  .span1
    | &nbsp;
  .span6
    .widget
      .widget-header
        i.icon-user
        h3 Sign in
      .well.well-widget-content
        br
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          div
            = f.email_field :email, class: 'span4', placeholder:'Email'
          div
            = f.password_field :password, class: 'span4', placeholder:'Password'

          - if devise_mapping.rememberable?
            label.checkbox 
              =' f.check_box :remember_me
              = "Remember me"
          #toolbar.button-toolbar 
            = f.submit "Sign in", class: 'btn btn-primary'


    = render 'my_devise/shared/links'
  .span1
    | &nbsp;