- if @organization.errors.any?
  .alert.alert-error
    a.close data-dismiss="alert" ×
    | Oops, we couldn't save your organization! Please check the indicated #{inflectize(@organization.errors.count, "field")} below.
    ul
      - @organization.errors.full_messages.each do |message|
        li = message

= form_for @organization do |f|
  = f.hidden_field :owner_id, value: @user.id
  .control-group
    = f.label :name, class:'control-label'
    .controls
    	= f.text_field :name, class:'input-xxlarge'
  .control-group
    = f.label :description, class:'control-label'
    .controls
    	= f.text_area :description, class:'input-xxlarge', rows:5
  .control-group
    = f.label :website, class:'control-label'
    .controls
    = f.text_field :website, class:'input-xxlarge'
  .control-group
    = f.label :location, class:'control-label'
    .controls
    	= f.text_field :location, class:'input-xxlarge'
  .control-group
    = f.label 'Tags', class:'control-label'
    .controls
    	= f.text_field :tag_list, class:'input-xxlarge'
  .control-group
    = f.label :language, class:'control-label'
    .controls
    	= f.text_field :language

  #toolbar.button-toolbar
    = f.submit 'Save', class: 'btn btn-primary'
    ' 
    = link_to 'Cancel', organizations_path, class: 'btn'
