tr id="ff-#{member.id}"
	td
		span.member-list 
			=' gravatar_for member, size: 30
		=' link_to member.name, member
	td
		-if can? :update, @organization
			-unless @organization.owner == member
				= link_to 'Remove', remove_member_organization_path(@organization, member.id), remote: true, method: :delete, class: 'btn btn-danger btn-small'