-provide :title, 'Edit organization'

title Edit organization

- content_for :left_frame do
	= render 'users/account_sidepanel'
	
.widget
	.widget-header
		i.icon-list
		h3 Editing organization
	.well.well-widget-content
		.widget-content-title
			| Organization 

		== render 'form'


