-provide :title, 'Organizations'

title Listing organizations

- content_for :left_frame do
  = render 'users/account_sidepanel'
  
.widget
  .widget-header
    i.icon-list
    h3 Organization List
    
  .well.well-widget-content
    .widget-content-title
      | All organizations you're part of

    .btn-toolbar
      = link_to new_organization_path, class:'btn btn-primary' do
        i.icon-plus
        ' 
        |  Create new organization

    table.table.table-condensed
      tr
        th Name
        th Actions

      - @organizations.each do |organization|
        tr
          td = link_to organization.name, organization
          -if can? :edit, organization
            td = link_to 'Edit', edit_organization_path(organization), class:'btn btn-small'
          -else
            td &nbsp;
          /td = link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete


