-provide :title, 'Create a new organization'

title Create a new organization

- content_for :left_frame do
  = render 'users/account_sidepanel'
  
.widget
  .widget-header
    i.icon-list
    h3 Create a new organization
  .well.well-widget-content
    .widget-content-title
      | Organization detail

	== render 'form'

