-provide :title, "Organization: #{@organization.name}"
title Organization: #{@organization.name}

- content_for :left_frame do
	= render 'users/account_sidepanel'

.widget
	.widget-header
		i.icon-user
		h3 Organization: #{@organization.name}
	.well.well-widget-content
		table.table.table-condensed.table-striped
			-if can? :update, @organization
				= form_tag( members_organization_path(@organization.id), { class:'form-inline', remote: true, method: :post }) do 
					= hidden_field_tag 'user_id'

					.control-group.add-member-form
						.controls
							.input-append
								= text_field_tag :search, "", id: 'autocomplete-field', placeholder: 'Type user\'s name'
								= submit_tag "Add member", class: 'btn btn-primary'
			
			thead
				tr
					th colspan=2 List of members:

			tbody#members
				-@members.each do |member|
					= render partial: 'member', locals: { member: member }

-if can? :update, @organization
	javascript:
		$(function() {
			function log(item) {      
				$("#user_id").val(item.id);
			}

			$("#autocomplete-field").autocomplete({
				source: "/users.json",
				minLength: 2,
				select: function(event, ui) {
					log(ui.item);
				}
			});
		});
			