-provide :title, "Organization: #{@organization.name}"

title = "Organization: #{@organization.name}"

- content_for :left_frame do
	= render 'users/account_sidepanel'
	
.widget
	.widget-header
		i.icon-list
		h3 Organization: #{@organization.name}
	.well.well-widget-content
		.widget-content-title
			| Organization detail

		h3 = @organization.name
		-unless @organization.description.blank?
			blockquote.formatted-output
				= raw(@organization.description)

		.ldef 
			| Owner 
			' 
			i.icon-user
		.rdef = link_to @organization.owner.name
		.ldef
			i.icon-map-marker
		.rdef = @organization.location.blank? ? '—' : @organization.location
		.ldef 
			i.icon-link
		.rdef = @organization.website.blank? ? '—' : @organization.website
		.ldef 
			i.icon-tags
		.rdef = @organization.tag_list.blank? ? '—' : @organization.tag_list

		br

		
		#toolbar.button-toolbar
			-if can? :edit, @organization
				= link_to 'Edit', edit_organization_path(@organization), class: 'btn btn-primary'
				' 
			-else
				button.btn.btn-primary.disabled Edit

			= link_to members_organization_path(@organization), class: 'btn btn-primary', 'data-skip' => true do
				i.icon-user
				' &nbsp; &nbsp;
				|  Members

