= form_for @category do |f|
  / - if @category.errors.any?
  /   #error_explanation
  /     h2 = "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
  /     ul
  /       - @category.errors.full_messages.each do |message|
  /         li = message

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :color
    = f.text_field :color
  
  #toolbar.button-toolbar
    = f.submit 'Save', class: 'btn btn-primary'
    ' 
    = link_to 'Cancel', categories_path, class: 'btn'