-provide :title, 'Edit category'

title Edit category

- content_for :left_frame do
  = render 'admin/manage/sidepanel'
  
.widget
  .widget-header.admin
    i.icon-list
    h3 Editing category
  .well.well-widget-content
    .widget-content-title
      | Category 

    == render 'form'



