-provide :title, 'Categories'

title Categories

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
  .widget-header.admin
    i.icon-list
    h3 Listing categories
  .well.well-widget-content
    .widget-content-title
      | Categories

    table.table.table-condensed
      tr
        th Title
        th Description
        th Count
        th Color
        th Followers count
        -if can? :manage, Category
          th colspan=3 Actions

      - @categories.each do |category|
        tr
          td = category.title
          td = category.description
          td = category.count
          td = category.color
          td = category.followers_count
          -if can? :manage, Category
            td = link_to 'Show', category, class: 'btn btn-mini'
            td = link_to 'Edit', edit_category_path(category), class: 'btn btn-mini'
            td = link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-mini'

    br
    -if can? :create, Category
      #toolbar.button-toolbar
        = link_to 'New Category', new_category_path, class: 'btn btn-primary'
