-provide :title, "Category #{@category.title}" 

title = "Category #{@category.title}" 

- content_for :left_frame do
  = render 'admin/manage/sidepanel'
  
.widget
  .widget-header.admin
    i.icon-list
    h3 = @category.title
  .well.well-widget-content
    .section
      .widget-content-title 
        | Category
      dl.dl-horizontal
        dt Description:
        dd = @category.description.empty? ? '-' : @category.description
        dt Count:
        dd = @category.count
        dt Followers count:
        dd = @category.followers_count

    .section
      .section-title Articles
      table.table.table-bordered.articles
        - @articles.each do |article|
          = render partial: 'articles/article', locals: { article: article }
      = page_navigation_links @articles
  
