- if @featured_product.errors.any?
  #error_explanation
    h2 = "#{pluralize(@featured_product.errors.count, "error")} prohibited this category from being saved:"
    ul
      - @featured_product.errors.full_messages.each do |message|
        li = message

.control-group
  = f.label "Choose a product", class: "control-label"
  .controls
    = f.select(:product_id, @products, {})
.control-group
  = f.label :start_date, class: "control-label"
  .controls
    = f.date_select :start_date, start_year: 2013
.control-group
  = f.label :expire_date, class: "control-label"
  .controls
    = f.date_select :expire_date, start_year: 2013

#toolbar.button-toolbar
  = f.submit 'Save', class: 'btn btn-primary'
  ' 
  = link_to 'Cancel', manage_featured_products_path, class: 'btn'