-provide :title, 'Manage / Edit Featured Products'
title Manage / Edit Featured Products

- content_for :left_frame do
  = render 'admin/manage/sidepanel'
  
.widget
	.widget-header.admin
		i.icon-list
		h3 Editing featured products
	.well.well-widget-content
		.widget-content-title
			| Feature
		= form_for @featured_product, url: manage_featured_product_path(@featured_product) do |f|
			== render partial: 'form', locals: { f: f }