-provide :title, 'Manage / Featured Products'
title Manage / Featured Products

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
  .widget-header.admin
    i.icon-list
    -unless params[:expired]=="1"
      h3 Current featured products
    -else
      h3 Old featured products
  .well.well-widget-content
    .widget-content-title
      | Products

    table.table.table-condensed
      tr
        th Product
        th Start date
        th Expire date
        th colspan=3 Actions

      - @featured_products.each do |fp|
        tr
          td = fp.product.title
          td = fp.start_date
          td = fp.expire_date
          td = link_to 'Show', manage_featured_product_path(fp), class: 'btn btn-mini'
          td = link_to 'Edit', edit_manage_featured_product_path(fp), class: 'btn btn-mini'
          td = link_to 'Destroy', manage_featured_product_path(fp), :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-mini'

    br
    #toolbar.button-toolbar
      = link_to 'New Entry', new_manage_featured_product_path, class: 'btn btn-primary'
      .pull-right
        -if params[:expired]=="1"
          = link_to "Show current", manage_featured_products_path, class: 'btn'
        -else
          = link_to "Show old", manage_featured_products_path+"?expired=1" , class: 'btn'