-provide :title, 'Manage / New Featured Products'
title Manage / New Featured Products

- content_for :left_frame do
  = render 'admin/manage/sidepanel'

.widget
	.widget-header.admin
		i.icon-list
		h3 New featured product
	.well.well-widget-content
		.widget-content-title
			| Feature
		= form_for @featured_product, url: manage_featured_products_path do |f|
			== render partial: 'form', locals: { f: f }