-provide :title, 'Manage / Featured Product'
title Manage / Featured Product

- content_for :left_frame do
  = render 'admin/manage/sidepanel'
  
.widget
  .widget-header.admin
    i.icon-list
    h3 Featured product
  .well.well-widget-content
    .widget-content-title Feature
    dl.dl-horizontal
      dt Product
      dd = @featured_product.product.title.nil? ? '-' : @featured_product.product.title
      dt Start date
      dd = @featured_product.start_date.nil? ? '-' : @featured_product.start_date
      dt Expire date
      dd = @featured_product.expire_date.nil? ? '-' : @featured_product.expire_date

    #toolbar.button-toolbar
      = link_to 'Edit', edit_manage_featured_product_path(@featured_product), class: 'btn btn-primary'
      ' 
      = link_to 'Back', manage_featured_products_path, class: 'btn'