= form_for @product do |f|
  - if @product.errors.any?
    .alert.alert-error
      a.close data-dismiss="alert" ×
      | Oops, we couldn't save your product! Please check the indicated #{inflectize(@product.errors.count, "field")} below.

  .control-group
    = f.label :title, class: "control-label"
    .controls
      = f.text_field :title, class: 'input-xxlarge'
  .control-group
    = f.label :description, class: "control-label"
    .controls
      = f.text_area :description, class: 'input-xxlarge wysihtml5'
  .pull-left
    .control-group
      = f.label 'Short name', class: "control-label"
      .controls
        = f.text_field :abbrev, class: 'input-small'
  .pull-left style="margin-left:50px"
    .control-group
      = f.label :visibility, class: "control-label"
      .controls
        label.radio.inline
          =' f.radio_button :visibility, 'public'
          | Public
        label.radio.inline
          -if can? :create, current_user.products.new(visibility:'private')
            =' f.radio_button :visibility, 'private'
          -else
            =' f.radio_button :visibility, 'private', disabled: true
          | Private
  .clearfix
  .control-group
    = f.label :website, class: "control-label"
    .controls
      = f.text_field :website, class: 'input-xxlarge'
  .control-group
    = f.label :company, class: "control-label"
    .controls
      = f.text_field :company, class: 'input-xxlarge'
  .control-group
    = f.label :tags, class: "control-label"
    .controls
      = f.text_field :tags, class: 'input-xxlarge'

  .widget-divider
  .section style="padding-top:0px; border-top:none"
    .widget-content-title Images
    .control-group
      = f.label "Icon URL", class: "control-label"
      .controls
        = f.text_field :icon_url, class: 'input-xxlarge'

  .widget-divider
  .section style="padding-top:0px; border-top:none"
    .widget-content-title Properties
    table#properties.table-striped.table-condensed style="width:90%"
      tr
        th Property name
        th Value
        th Unit
        th Action
      = f.fields_for :properties do |property_form|
        = render partial: 'property', locals: { f: property_form }


    = add_child_link "Add new property", :properties, class:'btn btn-primary'

  = new_child_fields_template f, :properties

  #toolbar.button-toolbar
    = f.submit 'Save', class:'btn btn-primary'
    = link_to @product, class:'btn' do
      i.icon-remove
      |  Cancel

    -if request[:action] == 'edit'
      = link_to @product, 
          method: :delete,
          class: "btn btn-danger pull-right", 
          confirm: "  This will delete the product and\nwill affect articles that are using it.\n\nAre you sure?", 
          title: @product.title do
        i.icon-trash
        |  Delete
