.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget1" href="#" 
      i.icon-minus
  .side-widget-title Product info
  #widget1.collapse.in
    .side-widget-content
      .product-profile
        .product-icon
          = image_tag @product.icon_url unless @product.icon_url.blank?
        .product-name
          = @product.title
    table.stats
      tr
        td
          .stat-label = "Tracks" 
          i.icon-bookmark
          span.stat-value#product-watch-count = @product.watch_count
        td
          .stat-label = "Likes" 
          i.icon-thumbs-up
          span.stat-value#product-like-count = @product.likes
    .side-widget-divider
    .side-widget-title Created by
    .side-widget-content
      .user-info
        .user-avatar
          = gravatar_for @product.user, size:30
        .user-name
          .small 
            = link_to @product.user.name, @product.user