tr.article
  td.article
    .title
      = link_to product.title, product, class: 'pjax'
      .timestamp
        i.icon-time
        =' " #{time_ago_in_words(product.updated_at)} ago"
        -if can? :manage, product
          = link_to edit_product_path(product), class:'pjax' do
            i.icon-edit
            '  Edit
    .description.formatted-output
      = raw(product.description)