.product-widget
	.product-widget-content
		.product-image
			-if pic_url = pic_snippet(product.description)
				= image_tag pic_url, size:'65x65'
		.product-head
			h3 = link_to product.title.truncate(50), product	
			.product-info
				i.icon-user
				' &nbsp;Creator:
				= link_to product.user.name, user_path(product.user.id)
				' &nbsp;
			.description.dotdotted
				= raw truncate_html(description_snippet(product.description), 120)
	.product-stats-bar
		.stat-item
			.stat-label = "Uses" 
			i.icon-file
			.stat-value = product.use_count
		.stat-item
			.stat-label = "Tracks" 
			i.icon-bookmark
			.stat-value = product.watch_count
		.stat-item
			.stat-label = "Likes" 
			i.icon-thumbs-up
			.stat-value = product.likes
		.stat-item
			-if product.official?
				i.icon-certificate
				.stat-official Official
			
