.widget
  .widget-header 
    h3 Searched for: #{@search_string}
  .well.well-widget-content
    table.table.table-striped.table-bordered.articles
      - @products.each do |product|
        tr.article
          td.article
            .title
              = link_to product.title, product, class: 'pjax'
            .picture
              = image_tag pic_snippet(product.description), size:'65x65'
            .description.formatted-output
              = raw truncate_html(description_snippet(product.description), 400)
            .clearfix
            .pull-right
              button.btn.btn-info.btn-small Use as alternative
              = link_to 'Show detail', product, class:"btn btn-info btn-small pjax"

    = page_navigation_links @products