#product-info-panel
  -if @product and @product.persisted?
    = render partial: 'product_info_panel'

.button-container
  = link_to new_product_path, class: 'btn btn-primary' do
    i.icon-plus
    ' 
    |  Create new product

.well.side-widget
  .side-widget-header
    a.resize-button data-toggle="collapse" data-target="#widget2" href="#" 
      i.icon-minus
  .side-widget-title Search for products
  #widget2.collapse.in
    .side-widget-content
      = form_tag products_path, method: :get, class:'pjax' do
        .control-group
          .controls.search
            .input-append
              = text_field_tag :q, "", class:"search-field ignore", placeholder: 'Search...'
              button.btn
                i.icon-search

