- provide :title, "Editing product"

- unless pjax_request?
	- content_for :javascript do
		= javascript_include_tag "properties.js"

#content-box
	.widget
		.widget-header
			i.icon-edit
			h3 Editing product
		.well.well-widget-content
			.widget-content-title
				| Product

			== render 'form'

	#jstemplates
	  = content_for :jstemplates