-provide :title, 'Featured Products'

- unless pjax_request?
  - content_for :javascript do
    = javascript_include_tag "properties.js"
  - content_for :left_frame do
    = render partial: 'products/sidepanel'
    
.widget
  .widget-header 
    -if @search_string
      h3 Searched for: #{@search_string}
    -else
      h3 Products
      -if can? :create, Product
        .pull-right style="margin-right:9px"
          = link_to 'Create new product', new_product_path, class:'btn btn-small pjax'
  .well.well-widget-content

    = render partial:'products/featured_products', locals: { featured_products: @featured_products }