- provide :title, "Creating new product"

- unless pjax_request?
	- content_for :javascript do
		= javascript_include_tag "properties.js"
	
	- content_for :left_frame do
		= render 'products/sidepanel'
		
#content-box
	.widget
		.widget-header
			i.icon-edit
			h3 Creating a new product
		.well.well-widget-content
			.widget-content-title
				| New product

			== render 'form'

#jstemplates
	= content_for :jstemplates