- provide :title, "Product"

- content_for :left_frame do
	= render partial: 'products/sidepanel'

/ = image_tag "ajax-loader.gif"

-if pjax_request?
	javascript:
		$("#product-info-panel").load("/products/#{{@product.id}}/info_panel");

#content-box
	.widget
		.widget-header
			i.icon-edit
			h3 Product: #{@product.title}
		.well.well-widget-content
			.widget-content-title
				| Profile
			.span6
				-unless @product.description.blank?
					= raw(@product.description)
			.span5
				h5 Properties
				-unless @product.properties.blank?
					table.table.table-condensed
						/ tr
						/ 	th Property
						/ 	th Value
						/ 	th Unit
						-@product.properties.each do |property|
							tr.property-row
								td.name  = property.name
								td.value = property.value
								td.unit  = property.unit
				br
				i.icon-tags
				' 
				= @product.tags
				br
				i.icon-link
				' 
				-unless @product.website.blank?
					= link_to @product.company, @product.website

			.clearfix
			br
			#toolbar.button-toolbar
				-if can? :update, @product
					= link_to 'Edit', edit_product_path(@product), class:'btn btn-primary'
				
				-if signed_in?
					.btn-group.pull-right
						-if current_user.tracks?(@product)
							button.btn.disabled <i class='icon-bookmark'></i>  Tracking
						-else
							= link_to product_watch_path(@product.slug), remote: true, method: :post, class: 'btn', id:'product-track-btn' do
								i.icon-bookmark-empty
								|  Track this!
						-if signed_in? and current_user.likes_this? @product
							button.btn.disabled <i class='icon-thumbs-up'></i>  I like this!
						-else
							= link_to product_like_path(@product.slug), remote: true, method: :post, class: 'btn', id:'product-like-btn' do
								i.icon-thumbs-up
								|  Like this!
