-provide :title, 'Top Products'

- unless pjax_request?
  - content_for :javascript do
    = javascript_include_tag "properties.js"
  - content_for :left_frame do
    = render partial: 'products/sidepanel'
  
/ TODO: select and sort products by some criteria:
/   sort by most viewed, most liked, most used, etc.  
.widget
  .widget-header 
    -if @search_string
      h3 Searched for: #{@search_string}
    -else
      h3 Products
      -if can? :create, Product
        .pull-right style="margin-right:9px"
          = link_to 'Create new product', new_product_path, class:'btn btn-small pjax'
  .well.well-widget-content

    table.table.table-striped.table-bordered.articles
      = render @products

    = page_navigation_links @products