doctype html
html
  head
    title 
      = "Foreplot: #{yield :title}"
    /[if lt IE 9]
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = yield :javascript
    = csrf_meta_tags
    = favicon_link_tag
    /link rel="shortcut icon" href="/favicon.ico"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

  body
    = render 'shared/layout/modal_divs'
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid 
          = render 'shared/layout/header'
    .container-fluid
      div data-pjax-container=true
        = render 'shared/flash_messages'          
        = yield :layout

    = render 'shared/layout/footer'

    -if Rails.env.development?
      .container
        = debug(params)