doctype html
html
  head
    title 
      = "Foreplot: #{yield :title}"
    /[if lt IE 9]
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = yield :javascript
    = csrf_meta_tags
    = favicon_link_tag
    /link rel="shortcut icon" href="/favicon.ico"/

  body
    = render 'shared/layout/modal_divs'
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = render 'shared/layout/header'
    -unless @article.nil?
      = render partial: 'shared/layout/model_edit_navbar', 
                locals: { article_id: @article_id, article_title: @article.title }
    .container-fluid style="margin-top:#{@article.nil? ? 0 : 32}px"
      .row-fluid
        .span3
          = yield :left_frame
        .span9
          div data-pjax-container=true
            = render 'shared/flash_messages'
            = yield :layout
            
    = render 'shared/layout/footer'
    
    -if Rails.env.development?
      .container
        = debug(params) 