doctype html
html
  head
    title 
      = "Foreplot: #{yield :title}"
    /[if lt IE 9]
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = yield :javascript
    = csrf_meta_tags
    = favicon_link_tag
    /link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'
    /link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,200italic,400italic,600italic' rel='stylesheet' type='text/css'
    link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'
    /link rel="shortcut icon" href="/favicon.ico"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

  body
    = render 'shared/layout/modal_divs'
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid 
          = render 'shared/layout/header'
    -unless @article.nil? || !@article.persisted?
      = render partial: 'shared/layout/model_edit_navbar', 
                locals: { article_id: @article_id, article_title: @article.title }
    -if !has_left_frame? and !has_right_frame?
      = yield :layout
    -else
      .container-fluid style="margin-top:#{(@article.nil? || !@article.persisted?) ? 0 : 32}px" data-page-container=true
        .row-fluid
          -if has_left_frame?
            .span3
              = yield :left_frame
          .span9
            div data-pjax-container=true
              = render 'shared/flash_messages'          
              = yield :layout
          -if has_right_frame?
            .span3
              = render 'shared/sidebar'

    = render 'shared/layout/footer'

    -if Rails.env.development?
      .container
        = debug(params)