doctype html
html
  head
    title 
      = "Foreplot: #{yield :title}"
    /[if lt IE 9]
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "jquery-1.8.3.min.js"
    = javascript_include_tag "d3/d3.v2.min.js"
    = javascript_include_tag "d3/sankey.js"
    = javascript_include_tag "jqplot/jquery.jqplot"
    = javascript_include_tag "twitter/bootstrap"
    link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'
    /link rel="shortcut icon" href="/favicon.ico"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

  body style="padding-top:20px"
    .container-embedded style="margin: 0 20px; width:85%"
      = yield :layout

    -if Rails.env.development?
      .container
        = debug(params)