doctype html
html
  head
    title 
      = "Foreplot: #{yield :title}" 
    /[if lt IE 9]
      script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = favicon_link_tag
    = csrf_meta_tags

  body
    = render 'shared/layout/modal_divs'
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = render 'shared/layout/header'

    = render partial: 'shared/layout/admin_navbar'
    .container
      = render 'shared/flash_messages'
      .row
        .span3
          = yield :left_frame
        .span9
          = yield :layout

    = render 'shared/layout/footer'
    / .container
    /   .layout_time
    /     | Layout random: 
    /     strong = rand(900)+100
    /   = debug(params) if Rails.env.development?